button.manf-button.chat-now {
  background: none;
  color: #2e3231;
  font-size: 14px;
  font-weight: 400;
}

.chatcontainer {
  position: fixed;
  right: 0;
  bottom: 10px;
  background: #fff;
}

section.message-popup {
  background: white;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 70%;
  z-index: 99999;
  display: flex;
  border-bottom: none;
  border: 1px solid #c7c7c7;
  box-shadow: -3px -1px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 8px 0 0 0;

  & section.message-card-left {
    background: white;
    width: 70%;
    border-radius: 8px 0 0 0;
  }
}

.chat-right-wrapper {
  flex: 0 0 400px;
  max-width: 400px;
  height: 100%;
  overflow: auto;
  border: none;
  border-left: solid 1px #8ac3df;
}

.chat-middle-wrapper {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.chat-middle-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-middle {
  height: calc(100vh - 220px);
  overflow: auto;
}

.chat-middle.listchat {
  height: calc(100vh - 86px);
}

.serch-section {
  & input.form-control.search-chat {
    background: #f3f3f3;
    border: none;
    width: 100%;
    border-radius: 48px;
    color: #8a8a8a;
    font-size: 14px;
  }
}

section.chat-list-section {
  & h4 {
    color: #0e0e0e;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
    border-bottom: solid 1px #8ac3df;
    padding: 10px;
  }
}

.chat-list-card {
  & li.list-group-item.active {
    background-color: #f3f3f3;
  }

  & .list-group-item {
    padding: 0px;
    display: flex;
    border: none;
    border-bottom: solid 1px #e6e6e6;
    padding: 10px;
    border-radius: 0px;

    & img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      border-radius: 50%;
      border: 1px solid #c9c9c9;
    }
  }
}

.img-media {
  margin-right: 10px;
}

.list-card-chat {
  & h4 {
    color: #000;
    font-size: 14px;
    margin-bottom: 0px;
  }

  & p {
    font-size: 12px;
    color: #545454;
    font-family: inter;

    margin-bottom: 0px;
  }

  & span {
    color: #000000;
    font-size: 12px;
    font-family: "Inter";
    display: block;
  }

  & .list-card-btn {
    background-color: #e6f8fe;
    color: #015983;
    border: none;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: none;
    text-transform: capitalize;
  }
}

section.serch-section {
  padding: 10px;
  border-bottom: solid 1px #8ac3df;
}

.profile-list-chat {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: inter;
}

.chat-list-card {
  & .profile-text {
    font-size: 16px;
    font-weight: 500;
    font-family: inter;
    padding: 10px;
    display: block;
  }
}

section.table-section-card {
  & tr {
    border: 1px solid white !important;
  }

  & td.td-one {
    color: #545454 !important;
    font-size: 14px;
    font-family: "Inter";
    padding: 5px;
  }

  & td.td-two {
    color: #000;
    font-family: "Inter";
    font-size: 14px;
  }
}

section.chat-top {
  & h5 {
    margin-bottom: 0px;
    font-size: 15px;
    margin-top: 6px;
    margin-left: 10px;
    font-weight: 500;
    font-family: inter;
  }

  & span {
    color: #8a8a8a;
    font-size: 12px;
    margin-left: 10px;
    font-family: "Inter";
  }
}

section.chat-top {
  border-bottom: solid 1px #8ac3df;
  height: 40px;
}

section.chat-bottom {
  border-top: solid 1px #8ac3df;

  & button.btn.btn-primary.btn-send-chat {
    float: right;
    font-size: 14px;
    border: none;
    box-shadow: none;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 5px;

    &:disabled {
      background-color: #eee;
      color: #9a9a9a;
    }
  }

  & textarea {
    font-size: 14px;
  }
}

.chat-person-one {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  width: 75%;

  & li.list-group-item {
    padding: 8px;
    border: none;
    border: none;
  }
}

.chat-imgg {
  // background: red;
  padding: 1px;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;

  & img {
    width: 100%;
  }

  & li.list-group-item {
    padding: 8px;
    border: none;
    border: none;
  }
}

span.chat-profile-name {
  color: #8a8a8a;
  font-size: 12px;
  margin-left: 0px;
  font-family: inter;
}

.chat-text-data {
  & p {
    margin-left: 10px;
    font-size: 14px;
    color: #000000;
    font-family: inter;
  }
}

.chat-person-one.second-person {
  float: right;
  direction: rtl;
}

section.message-card-right.msg-popup {
  background: white;
  width: 30%;
  border-left: solid 1px #8ac3df;
}

section.chat-top.message {
  & h5 {
    margin: 0px !important;
    padding: 10px;
    font-family: "Inter" !important;
    font-size: 12px !important;
    color: #000000;
    float: left;
  }

  & button {
    float: right;
    background: none;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.chat-image-avatar {
  border: 1px solid #dfdfdf !important;
  width: 200px;
  height: 200px;
  padding: 5px;
  border-radius: 4px;

  & img {
    width: 100% !important;
  }
}

.upload input {
  opacity: 0;
  visibility: hidden;
  width: 0%;
  position: absolute;
}

span.files {
  color: #8a8a8a;
  cursor: pointer;
}

span.fa-users-fa {
  float: right;
  margin-top: 10px;
  margin-right: 12px;
  font-size: 18px !important;
}

span.search-icons {
  float: right;
  position: relative;
  top: 8px;
  /* font-size: 13px !important; */
}

.primaryBtn {
  min-width: 130px;
  width: 100%;

  & svg {
    display: none;
  }
}

.smallMsg {
  width: 300px;
  border: 1px solid #d0d0d0;
  float: right;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  z-index: 999;
  cursor: pointer;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}
.mobileclose {
  display: none;
}

section.chat-icons img {
  fill: #8a8a8a;
  margin-left: 18px;
  margin-top: 10px;
}
section.chat-icons {
  margin-bottom: 10px;
  display: flex;
}
@media screen and (max-width: 770px) {
  section.message-popup {
    width: 100%;
  }

  .message-card-left {
    width: 100% !important;
  }
  .message-card-right {
    display: none;
  }
  .mobileclose {
    display: inline-block;
  }
}
.cricle-dot {
  position: absolute;
  color: #1dc11d;
  font-size: 10px;
}

img.img-arrow {
  float: right;
}
.card.card-inquiry-details {
  width: 300px;

  & h5.card-title {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
  }
  & .img-inquiry {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 4px;
  }
  & h5 {
    text-align: left;
    /* margin-left: 10px !important; */
    position: relative;
    left: 10px;
    margin-bottom: 0px;
    font-weight: bold;
  }
  & p {
    text-align: left;
    position: relative;
    left: 10px;
  }
  & section.inquiry-h {
    background: white;
    padding: 6px;
    margin-top: 8px;
  }
  & ul.list-group {
    width: 100% !important;
    padding: 0px;
    text-align: left;
    padding-left: 0px;
    & li {
      width: 100%;
      margin: 0px !important;
      padding: 0px !important;
    }
  }
}
section.section-inquiry-s {
  background: #f4f4f4 !important;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  padding-left: 12px;

  & li.list-group-item.ls-drive-interface {
    background: none;
    & h5 {
      left: 0px;
      font-size: 14px;
      color: black;
      font-weight: 500;
    }
  }
}

.grey-out {
  opacity: 0.3;
}

.from_msg{
  border-radius: 30px;
  background: #F3F3F3;
  width: fit-content;
  padding: 7px 15px;
}

.to_msg{
  border-radius: 30px;
  background: #F5FCFF;
  width: fit-content;
  padding: 7px 15px;
}