<section class="Transactions-section">
<label>
    Total Transactions
</label>
<span>
    (2022/05/01-2023/04/10)
</span>
</section>
<section class="transition-score">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <div> 5784 </div>
            <span> Total Transactions </span>
        </li>
        <li class="list-group-item">
            <div> 5784 </div>
            <span> Total Transactions </span>
        </li>
        <li class="list-group-item">
            <div> 5784 </div>
            <span> Total Transactions </span>
        </li>
      </ul>
</section>
<section class="product-transition-details">
    <h4> Product Transaction Details </h4>
    <select class="form-control" id="exampleFormControlSelect1">
        <option>    All countries / Regions </option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"> Buyer </th>
            <th scope="col"> Shipping Destination </th>
            <th scope="col"> Transaction Quantity </th>
            <th scope="col"> Transaction Date </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> u** </td>
            <td> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png"/> India </td>
            <td> 500 pieces </td>
            <td> 2023/03/16 </td>
          </tr>
          <tr>
            <td> u** </td>
            <td> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png"/> India </td>
            <td> 500 pieces </td>
            <td> 2023/03/16 </td>
          </tr>
          <tr>
            <td> u** </td>
            <td> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png"/> India </td>
            <td> 500 pieces </td>
            <td> 2023/03/16 </td>
          </tr>
          <tr>
            <td> u** </td>
            <td> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png"/> India </td>
            <td> 500 pieces </td>
            <td> 2023/03/16 </td>
          </tr>
          <tr>
            <td> u** </td>
            <td> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png"/> India </td>
            <td> 500 pieces </td>
            <td> 2023/03/16 </td>
          </tr>
          <tr>
            <td> u** </td>
            <td> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png"/> India </td>
            <td> 500 pieces </td>
            <td> 2023/03/16 </td>
          </tr>
          <tr>
            <td> u** </td>
            <td> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png"/> India </td>
            <td> 500 pieces </td>
            <td> 2023/03/16 </td>
          </tr>
          <tr>
            <td> u** </td>
            <td> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png"/> India </td>
            <td> 500 pieces </td>
            <td> 2023/03/16 </td>
          </tr>
          <tr>
            <td> u** </td>
            <td> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png"/> India </td>
            <td> 500 pieces </td>
            <td> 2023/03/16 </td>
          </tr>
        </tbody>
      </table>
</section>