<section *ngIf="!isInvalidLink; else invalidUrl" class="v3_wishlist">
    <div class="main-container">
        <h1 class="main_title">My Wishlist</h1>
        <div *ngIf="(error$ | async) as errorMessage; else content" class="text_error">
            <p>{{ errorMessage }}</p>
        </div>
        <ng-template #content>
            <ng-container *ngIf="isProducts; else suppliers">
                <div *ngIf="(products$ | async) as productsResponse; else loading" class="row mt-5">
                    <ng-container *ngIf="productsResponse.status === 200; else noProductsFound">
                        <div *ngFor="let product of productsResponse.data" class="col-md-12">
                            <div class="product_list">
                                <div class="pl_details">
                                    <div (click)="goToProductDetails(product)" class="image pointer">
                                        <img [src]="product.prod_img"/>
                                    </div>
                                    <div class="details">
                                        <h2 (click)="goToProductDetails(product)" class="product_name pointer">{{product.prod_name}}</h2>
                                        <p><b>{{product.prod_pricing}}</b> /piece</p>
                                        <p class="text_red fw_500">{{product.min_quantity}} pieces (Min,order)</p>
                    
                                        <div class="company">
                                            <div class="name fw_500"> {{product.admin_user_company_name}} </div>
                                        </div>
                                        <app-contactsupplier [class]="'primary_btn'"  [sellerDetails]="getSellerDetails(product)"></app-contactsupplier>
                                    </div>
                                </div>             
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noProductsFound>
                        <section class="invalid-url">
                            <div class="no_found">
                                <img src="../../../../assets/images/no_products.jpg" alt="">
                                <h1>No products found</h1>
                            </div>
                        </section>
                    </ng-template>
                </div>
            </ng-container>
            <ng-template #suppliers>
                <div  *ngIf="(suppliers$ | async) as suppliersResponse; else loading" class="row">
                    <ng-container *ngIf="suppliersResponse.status === 200; else noSuppliersFound">
                        @for (supplier of suppliersResponse.data; track $index) {
                        <div class="col-sm-4" *ngIf="supplier.products.length > 0">
                            <div class="supplier_list">
                                <div (click)="goToCompany(supplier.seller_company_name, supplier.seller_id)" class="title pointer">{{ supplier.seller_company_name }}</div>
        
                                <div class="supplier_row">
                                    <div (click)="goToProductDetails2(product)" *ngFor="let product of supplier.products" class="supplier_col pointer">
                                        <img [src]="product.prod_img"/>
                                        <p class="rate">{{ product.price }}</p>
                                        <p class="qty">{{ product.min_quantity }} pieces (MOQ)</p>
                                    </div>
                                </div>

                                <div class="text-end my-2">
                                    <app-contactsupplier [class]="'primary_btn'" [sellerDetails]="getSellerDetailsFromSupplier(supplier)"></app-contactsupplier>
                                </div>
                            </div>
                        </div>
                        }
                    </ng-container>
                    <ng-template #noSuppliersFound>
                        <section class="invalid-url">
                            <div class="no_found">
                                <img src="../../../../assets/images/no_suppliers.png" alt="">
                                <h1>No suppliers found</h1>
                            </div>
                        </section>
                    </ng-template>
                </div>
            </ng-template>
        <ng-template #loading>
            <section class="invalid-url">
                <h1>
                Loading....
                </h1>
            </section>
        </ng-template>
        </ng-template>
    </div>
</section>

<ng-template #invalidUrl>
    <section class="invalid-url">
       <h1>
        The link is either invalid or expired
       </h1>
    </section>
</ng-template>

