// .welcome_dialog{
//     padding: 0px 40px 40px;
//     text-align: center;

//     h1{
//         font-size: 16px;
//         font-weight: 500;

//         span{
//             font-weight: 600;
//         }
//     }
//     .gif_box{
//         position: relative;
//         padding-top: 200px;

//         img{
//             width: 100%;
//             position: absolute;
//             left: 0;
//             top: 0;
//         }
//     }
// }

.v3_welcome_dialog{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 100%), linear-gradient(180deg, rgba(0, 158, 210, 0.69) 0%, #EFFBFF 54.5%, #FFF 100%);
    height: 100%;
    align-content: center;
    text-align: center;
    padding: 20px;

    h1{
        font-size: 18px;
        font-weight: 500;

        span{
            font-weight: 600;
            color: #017DB9;
        }
    }
}