<!-- <section class="welcome_dialog">
    <div class="gif_box">
        <img src="/assets/images/welcome.gif"/>
        <h1>Welcome to MyVerkoper, <span>{{name}}</span>
        </h1>
        <p>Thank you for signing up! We are thrilled to have you on board Enjoy your experience!</p>
    </div>
</section> -->

<section class="v3_welcome_dialog">
    <h1>Welcome to MyVerkoper, <span>{{name}}</span>
    </h1>
    <p>Thank you for signing up! We are thrilled to have you on board</p>
    <p class="fw_500">Enjoy your experience!</p>
</section>