.slide {
    width: 100%;
  }
  
  .causual-img {
    height: 200px;
    background-color: #00a5df;
    padding: 10px;
    border-radius: 20px;
  }
  
  img.login-logo {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  .flex-list {
    width: 33.3%;
    margin-bottom: 30px;
  
    &.gapflex {
      padding-right: 20px !important;
      padding-left: 20px !important;
      margin-bottom: 30px;
    }
  }
  
  app-multi-carousel {
    margin-bottom: 20px;
    display: block;
  }
  
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cardsWarp {
    display: flex;
    flex-wrap: wrap;
  }
  
  .cardsWarp .itemBlocks {
    padding: 10px;
    width: 33%;
  }
  
  .custom-flexs-list {
    width: 100%;
    flex-wrap: wrap;
  
    & .card1 {
      width: 14.2%;
      padding: 0 12px;
    }
  }
  
  .custom-flexs-list6 {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  
    & .card1 {
      width: 16.66%;
      margin-bottom: 45px;
      padding: 0 12px;
    }
  }

  .product-cards-list {
    width: 33%;
    padding-right: 10px;
  }
  
  section.product-cards-list.second {
    width: 16.5%;
    padding: 0px;
    padding-left: 10px;
  }
  
  section.smart.second {
    border-radius: 20px;
    height: 256px;
  }
  
  section.smart.card-one {
    margin-top: 5px;
    height: 12px;
  }
  
  section.smart.card-c-one {
    margin-top: 5px;
    height: 25px;
  }
  
  section.smart.card-c-two {
    margin-top: 8px;
    height: 14px;
  }
  
  img.img-category-two {
    position: absolute;
    width: 100%;
    height: 150px;
  }
  
  .img-container {
    background-size: cover;
    width: 100%;
    height: 100%;
    // background: #00aafb;
    display: flex; align-items: center;  justify-content: left;
    & >div{ max-width: 1000px;
    padding-left: 30px;
    }
  
    & h1 {
      text-align: left;
      
    }
  }
  
  .img-container {
    height: 220px;
    color: white;
    background-size: cover;
    background-position: center;
    font-weight: bold !important;
    border-radius: 8px;
  
    & h1 {
      font-size: 28px;
      margin-bottom: 10px; font-weight: 600;
    }
  }
  
  mat-card {
    box-shadow: none;
  }
  
  .product-images-latest {
    width: 100%;
    height: 220px;
    padding-left: 0px;
    border-radius: 10px !important;
    margin-bottom: 10px;
  
    & a {
      display: flex;
      align-items: center;
      height: 100%;
    }
  
    & .products-cards-images {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      position: relative;
      top: 40px;
    }
  }
  
  // .product-images-latest:hover {
  //     position: relative;
  //     top: -15px;
  //     height: 250px;
  //     width: 210px;
  // }
  
  .product-price-details {
    color: #0e0e0e;
    font-weight: 700;
    font-family: "Inter";
    line-height: 1.3;
  }
  
  section.smart.product-smart-card {
    height: 170px;
    width: 17%;
    border-radius: 15px;
  }
  
  .product-small-card {
    display: flex;
    gap: 15px;
  }
  
  h2.product-heading-in {
    margin-top: 20px;
  }
  
//   .scroll-container {
//   }
  
  .topbox {
    margin: 0;
    background: #30b1d7;
    border-radius: 12px;
    width: 100%;
    padding: 20px 20px;
    margin: 0 0 10px 0;
    color: #fff;
  
    & h3 {
      font-size: 30px;
      font-weight: 600;
      line-height: 1.2;
    }
  
    & p {
    //   border: 1px solid #ccc;
      padding: 5px 0;
    //   border-radius: 20px;
    }
  }
  
  .listloader {
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    list-style: none;
  
    & li {
      list-style: none;
      padding-right: 10px;
      width: 15%;
  
      & span {
        width: 100%;
        height: 90px;
        display: inline-block;
      }
    }
  }
  
  .smallTitle {
    margin-left: 15px;
  }
  
  .titlesmart {
    height: 30px;
    width: 200px;
  }
  
  .boxsmart {
    height: 300px;
    margin-bottom: 20px;
  }
  
  .smallbox {
    height: 200px;
  }
  
  ::ng-deep .mdc-card__media {
    position: relative;
    top: 4opx;
  }
  
  @media screen and (max-width: 770px) {
    .hometabs{ display: flex; gap:6px;
      mat-chip-option{margin-right: 0 !important;
        padding: 8px 8px !important;}
    }
    .flex-wrap {
      flex-direction: column;
      & .flex-list {
        width: 100%;
      }
    }
    .custom-flexs-list6 .card1 {
      width: 33.3%; 
      padding: 0 10px 20px;
    }
    .hometabs mat-chip-option{
      padding: 10px 15px;
    }
  }
  p.p-slider {
    font-weight: 400;
    font-size: 16px;
    max-width: 800px;
    line-height: 25px;
  }
  h1.h-sliders {
    margin-bottom: 4px;
  }
  .h-mini{
    margin-bottom: 5px; padding-bottom: 0; font-weight: 600;font-size: 16px;
   }


//   Recommendations css

.selected{     background: #e0f1f8 !important;}
.hometabs mat-chip-option{ margin: 10px 10px 0 0}
.newhometab{ margin-top:20px; padding-bottom: 0;}
.tabdesc{ margin: 30px 0 0 0;
  max-width: 500px;}
.hometabs mat-chip-option.active{ background: #f8f8f8 !important; color: #000 !important;}


.nodata {
  width: 100%;
  padding: 100px 0;
  text-align: center;
}