.main_title{
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
}

.v3_wishlist{
    .index_row{
        display: flex;
        flex-wrap: wrap;
        
        .checkbox{
            width: 18px;
            height: 18px;
    
            input{
                width: 18px;
                height: 18px;
            }
        }  
    
        .select_control{
            background: transparent;
            color: #5d5e5e;
            border-radius: 30px;
            padding: 8px 15px;
            border: 1.5px solid;
            cursor: pointer;
            font-weight: 500;
        }
    
        .index_leftcol{
            flex: 0 0 20%;
            max-width: 20%;
            
            .side_wishlist{
                padding-right: 20px;
    
                .main_tab{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    margin-bottom: 25px;
    
                    li{
                        list-style: none;
                        color: #999999;
                        cursor: pointer;
    
                        &.active{
                            color: #017DB9;
                            text-decoration: 1.5px underline #017DB9;
                            text-underline-offset: 7px;
                        }
                    }
                }
    
                .list{
                    padding: 0;
                    margin: 0;
    
                    li{
                        display: flex;
                        justify-content: space-between;
                        padding: 10px;
                        border-radius: 4px;
    
                        .list_actions{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            visibility: hidden;
    
                            span{
                                cursor: pointer;
    
                                &:hover svg path{
                                    stroke: #017DB9;
                                }
                            }
                        }
    
                        &:hover .list_actions{
                            visibility: visible;
                        }
    
                        &:hover, &.active{
                            background: #F5FCFF;
                        }
    
                    }
                }
            }
        }
    
        .index_rightcol{
           width: 100%;
    
            .top_filter{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px; 
    
                .left{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 15px;  
                    
                    button{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }
    
                .right{
                    display: flex;
                    align-items: center;
                    gap: 15px;       
                }
            }
    
        }
    }
}


.selected{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0 15px;

    .img{
        position: relative;

        .product_img{
            width: 75px;
            height: 75px;
            object-fit: contain;
            background: #f5f5f5;
            border-radius: 5px;
        }

        .close_icon{
            position: absolute;
            right: -7px;
            top: -10px;
            width: 18px;
            background: none;
        }
    }
}

.products_compare{
    overflow: auto;
    padding: 30px 0;

    .title{
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        padding: 20px 0;
    }

    button{
        font-size: 12px;
    }

    .products_compare_lists .title{
        position: sticky;
        left: 0;
        width: fit-content;
    }

    .compare_list{
        display: flex;
        gap: 10px;
        padding: 0;
        margin: 0;

        li{
            min-width: 200px;
            width: 200px;
            list-style: none;
            padding: 10px;
            text-align: center;

            &:first-child{
                position: sticky;
                left: 0;
                background: #fff;
                text-align: right;
                border-right: 1px solid #8AC3DF;
            }

            .product_img{
                width: 75px;
                height: 75px;
                object-fit: contain;
                background: #f5f5f5;
                border-radius: 5px;
                margin-bottom: 10px;
            }
        }
    }
}

.checkbox_control{
    display: grid;
    grid-template-columns: 5% 95%;
    align-items: baseline;
}

.cmnt_qty_row{
    display: grid;
    grid-template-columns: 30% 70%;

    .product_details{

        img{
            width: 80px;
            height: 80px;
            object-fit: contain;
            background: #f5f5f5;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        p{
            font-size: 12px;
        }
    }
}

.ng_dialog{
    padding: 20px;

    .dialog_header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title{
            margin: 0;
            font-size: 16px;
            color: #000000;
        }
    }

    .dialog_body{
        padding: 25px 0 10px;
    }

    .dialog_buttons{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        padding-top: 20px;
    }
}

.share_dialog{

    h2{
        font-size: 14px;
    }

    .grey_stroked_btn.active{
        color: #017DB9;
        border-color: #017DB9;
    }

    p{
        color: #B0B0B0;
        padding: 15px 0;
        margin: 0;
    }

    .text_btn{
        display: flex;
        align-items: center;
        color: #5D5E5E;
        gap: 10px;
    }
}

@media screen and (max-width:991px) {
    .v3_wishlist{

        .index_row{

            .index_leftcol{
                flex: 0 0 100%;
                max-width: 100%;
    
                .side_wishlist .list{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 25px;
                }
            }
    
            .index_rightcol{
                flex: 0 0 100%;
                max-width: 100%;
    
                .top_filter{
                    display: block;
                    margin-top: 30px;
    
                    .right{
                        justify-content: end;
                        padding-top: 30px;
                    }
                }
    
                .list_details{
                    grid: none;
                }
            }
    
        }
    }
    
}

@media screen and (max-width: 767px) {
    .v3_wishlist{

        .index_row{

            .index_rightcol .list_details {
            
                .product_details{
                    display: block;
        
                    .image{
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
        
                .actions{
                    padding: 0;
                    margin: 20px 0;
                }
            }
    
        } 
    }

    .filter_view{
        display: none;
    }
}