.inner-data{    padding: 20px 0 20px 20px;
    position: relative;}

.closeIcon{ position: absolute; top:10px; right:20px}

.scrolldata{ padding-right: 20px; max-height: calc(90vh - 60px); overflow: auto;}
.closeIcon{ cursor: pointer;}