button.manf-button.chat-now {
    background: none;
    color: #2e3231;
    font-size: 14px;
    font-weight: 400;

}

.chatcontainer {
    position: fixed;
    right: 0;
    bottom: 10px;
    background: #fff;
}


.primaryBtn {
    min-width: 130px; width: 100%;
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    & svg {
        display: none;
    }
}


    textarea:focus{ outline: none;
        box-shadow: none;}
.mobileclose{ display: none;}
        @media screen and (max-width: 770px) {
        section.message-popup{ width: 100%;}

        .message-card-left{ width:100% !important}
        .message-card-right { display: none;}
        .mobileclose{ display: inline-block;}
        }
        
        .product_details_btn{
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;
        }

        .supplier_btn{
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;
        }