<div class="tab-container">
  <!-- old funcationlaity removed -->
  <!-- <div class="sticky" [class.view-only]="viewOnly">
    <ul class="nav-details">
      <li *ngIf="productDetails.keys.length > 0"
        [ngClass]="{ 'highlight-color': currentSectionInView === 'essential' }" (click)="scrollTo('essential')">
        Essential details</li>
      <li *ngIf="packageDetails && packageDetails.shipping.length > 0" [ngClass]="{ 'highlight-color': currentSectionInView === 'packaging' }" (click)="scrollTo('packaging')">
        Packaging & delivery</li>
      <li [ngClass]="{ 'highlight-color': currentSectionInView === 'description' }" (click)="scrollTo('description')">
        Product Description</li>
      <li *ngIf="productDetails.keys.length > 0"
        [ngClass]="{ 'highlight-color': currentSectionInView === 'details' }" (click)="scrollTo('details')">Product
        details</li>
      <li *ngIf="productDetails.faqs != undefined && productDetails.faqs.length > 0"
        [ngClass]="{ 'highlight-color': currentSectionInView === 'faq' }" (click)="scrollTo('faq')">FAQs</li>
    </ul>
  </div> -->
  <section class="overview-data">
    <!-- Essential Details old funcationality-->
    <!-- <section id="essential" *ngIf="productDetails.keys.length > 0"
      class="Essential details section">
      <h4> Essential details </h4>
      <ul class="list-group ul">
        <li *ngFor="let key of productDetails.keys; let i = index" class="list-group-item li">
          <label> {{key}}:</label>
          <span> {{productDetails.values[i]}} </span>
        </li>
      </ul>
    </section> -->

    <!-- Packaging & Delivery old funcationality-->
    <!-- <section *ngIf="packageDetails && packageDetails.shipping.length > 0" id="packaging" class="section">
      <h4> Packaging & delivery </h4>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item inside-list supply one"> Lead time </li>
        <li class="list-group-item inside-list supply two">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Quantity (pieces)</th>
                <td class="package-deatils-td" *ngFor="let lead of packageDetails.shipping">{{lead.quantity}}</td>
              </tr>
              <tr>
                <th>Lead Time (days)</th>
                <td class="package-deatils-td-td" *ngFor="let lead of packageDetails.shipping">{{lead.days}}</td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </section> -->

    <!-- Product Description -->
    <section id="description" class="section">
      <h4> Product Description </h4>
      <p>
        {{productDetails.description | sanitize}}
      </p>
    </section>

    <!-- Product details -->
    @if (productDetails.keys.length > 0) {
    <section id="details" class="product-details section">
      <h4 id="productdetails"> Specifications </h4>
      <section class="Essential details-one details">
        <li *ngFor="let key of productDetails.keys;let i = index" class="list-group-item li">
          <label> {{key}}:</label>
          <span> {{productDetails.values[i]}} </span>
        </li>
      </section>
    </section>
    }

    <!-- FAQs old funcationality-->
    <!-- <section id="faq" *ngIf="productDetails.faqs != undefined && productDetails.faqs.length > 0" class="faqs section">
      <h4> FAQs </h4>
      <div *ngFor="let faq of productDetails.faqs; let i = index">
        <h5> Q{{i + 1}}. {{faq.faq_question}} </h5>
        <p>
          A{{i + 1}} {{faq.faq_answer}}
        </p>
      </div>

    </section> -->
  </section>
</div>

<!-- Send your message to this Supplier future will add-->
<h2 *ngIf="isSignIn && false" class="smallTitle mt-4">Send your message to this Supplier</h2>
<section *ngIf="isSignIn && false" class="product_form">
  <form [formGroup]="supplierForm">
    <div class="product_control">
        <div class="left"><label>To:</label></div>
        <div class="right">
          <p *ngIf="productDetails.name">{{productDetails.name}}</p>
        </div>
    </div>
    <div class="product_control">
      <div class="left"><label>Message<sup>*</sup>:</label></div>
      <div class="right">
        <div class="textarea_hover">
          <div>
            <textarea formControlName="description" class="form-control" rows="4" placeholder="Enter your inquiry details such as product name, color, size, FOB, ..."></textarea>
            <p class="field_title">Your message must be between 20-8000 characters</p>
          </div>
          <div class="textarea_tip">
            <p>For better Quotations, include:</p>
            <ul>
              <li>-A Self-Introduction.</li>
               <li> -A Special Requests, If Any.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="product_control">
      <div class="left"><label>Quantity<sup>*</sup>:</label></div>
      <div class="right">
        <div class="quantity_field">
          <input appAllowNumbersOnly formControlName="quantity" type="text" class="form-control">
          <select *ngIf="units.length" formControlName="units" class="form-select">
            <option *ngFor="let unit of units" [value]="unit.id"> {{unit.val}} </option>
          </select>
        </div>
        <!-- <div class="checkbox_control">
          <input type="checkbox" id="recommended">
          <label for="recommended">Recommend matching supplier doesn't contact me on Message Center within 24 hours.</label>
        </div>
        <div class="checkbox_control">
          <input type="checkbox" id="agree">
          <label for="agree">I agree to share my <b>Business Card</b> to the supplier </label>
        </div> -->
        @if (viewOnly) {
        <div class="checkbox_control">
          <button type="button" [disabled]="supplierForm.invalid" class="primary_btn">Send</button>
        </div>
        } @else {
          <div class="checkbox_control">
            <button type="button" (click)="submitForm()" [disabled]="supplierForm.invalid" class="primary_btn">Send</button>
          </div>
        }
      </div>
    </div>
  </form>
</section>

<!-- Frequently Bought past removed-->
<!-- <section *ngIf="frequentlyBought && frequentlyBought.length > 0" class="carosalsec">
  <h2 class="smallTitle">Frequently Bought Together</h2>
  <app-multi-carousel [screenName]="'likedetails'" [catData]="frequentlyBought"></app-multi-carousel>
</section> -->

<!-- Popular Products past removed-->
<!-- <section *ngIf="popularProducts && popularProducts.length > 0" class="carosalsec">
  <h2 class="smallTitle">Supplier's Popular Products</h2>
  <app-multi-carousel [screenName]="'likedetails'" [catData]="popularProducts"></app-multi-carousel>
</section> -->