<app-header></app-header>

<!-- Search Input -->
<!-- <section class="serch-section">
  <form>
    <div class="form-group searchwrapper blog">
      <mat-icon (click)="onSearch()">search</mat-icon>
      <input [(ngModel)]="searchKeyword" (keyup)="search()" (keyup.enter)="onSearch()" name="searchKeyword" type="text"
        class="form-control search-chat" placeholder="Search" />
    </div>
  </form>
</section> -->

@if (!serverError) {
<section class="blog">
  <div class="main-container">

    <div class="row">
      <div class="col-sm-12">
        <div  *ngIf="categoriesList && categoriesList.length > 0" class="blog-media">
          <div class="tab-banner-chips">
            <mat-tab-group (selectedTabChange)="onTabClick($event)">
              <ng-container *ngFor="let cat of categoriesList">
                <mat-tab>
                  <ng-template mat-tab-label>
                    <div class="chipcls">{{ cat.name }}</div>
                  </ng-template>
                </mat-tab>
              </ng-container>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="v3_search">
          <input [(ngModel)]="searchKeyword" (keyup)="search()" (keyup.enter)="onSearch()" type="search" placeholder="Search">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
    @if(!noDataFound) {
    <div *ngIf="mainBlog" class="row smb_space landscape_blog">
      <!-- Schema -->
      <script type="application/ld+json">
        {{ generateProductSchema(mainBlog) }}
      </script>
      <div class="col-sm-6">
        <div class="blog_content">
            <a [routerLink]="[mainBlog.url_slug]">
              <h1 class="blog_title">{{mainBlog.blog_title}}</h1>
            </a>
            <p class="datewrap"><span class="date">{{mainBlog.created_at.slice(0,10)}}</span>{{mainBlog.blog_sub_title}}</p>
          </div>
      </div>
      <div class="col-sm-6">
        <a [routerLink]="[mainBlog.url_slug]">
        <img class="blog_img" [src]="mainBlog.blog_image"/>
        </a>
      </div>
    </div>

    <div *ngIf="blogList.length > 0" class="row">
      @for(blog of blogList | paginate: { itemsPerPage: 7, currentPage: p, totalItems: totalCount }; track $index) {
        <div class="col-sm-6">
          <div class="blog_card smb_space">
            <a [routerLink]="[blog.url_slug]">
            <h1 class="blog_title">{{blog.blog_title}}</h1>
            </a>
            <p><span class="date">{{blog.created_at.slice(0,10)}}</span>{{blog.blog_sub_title}}</p>
            <a [routerLink]="[blog.url_slug]">
            <img class="blog_img" [src]="blog.blog_image"/>
            </a>
          </div>
        </div>
      }
      <section *ngIf="totalCount > 9" class="paginator">
        <pagination-controls [maxSize]="5" class="my-pagination" (pageChange)="onPageChange2($event)"></pagination-controls>    
      </section>
    </div>
    }
    @else {
      <section class="text-center py-5">
        <img style="width: 200px;" src="/assets/images/no_blogs.png">
        <p>No Blogs Found</p>
      </section>
    }
  </div>
</section>
}

@else {
  <section class="text-center py-5">
    <img style="width: 200px;" src="/assets/images/no_blogs.png">
    <p>Internal server error</p>
  </section>
}

@if (false) {

<main *ngIf="!noDataFound" class="container blog-media">
  <section *ngIf="mainBlog" class="main-blog-banner">
    <div  class="heading-blog">

      <!-- Schema -->
      <script type="application/ld+json">
        {{ generateProductSchema(mainBlog) }}
      </script>
      
      <a [routerLink]="[mainBlog.url_slug]">  <h1> {{mainBlog.blog_title}} </h1>
      <p class="heading-p">
        <span> {{mainBlog.created_at.slice(0,10)}} </span>
        {{mainBlog.blog_sub_title}}
      </p>
      </a>
    </div>
    <div class="image-blogg">
      <a [routerLink]="[mainBlog.url_slug]">
      <img
        [src]="mainBlog.blog_image"
      />
    </a>
    </div>
  </section>

  <section *ngIf="blogList.length > 0" class="blog-main-pg">
    <div *ngFor="let blog of blogList | paginate: { itemsPerPage: 7, currentPage: p, totalItems: totalCount }" class="blog-page-one">

      <!-- Schema -->
      <!-- <script type="application/ld+json">
        {{ generateProductSchema(blog) }}
      </script> -->
      
      <a [routerLink]="[blog.url_slug]">
      <h1> {{blog.blog_title}} </h1>
      <p _ngcontent-jbp-c301="" class="heading-p">
        <span _ngcontent-jbp-c301=""> {{blog.created_at.slice(0,10)}} </span> {{blog.blog_sub_title}}
      </p>
      <img
        [src]="blog.blog_image"
      />
      </a>
    </div>

    <section *ngIf="blogList.length > 8" class="paginator">
      <pagination-controls [maxSize]="5" class="my-pagination" (pageChange)="onPageChange2($event)"></pagination-controls>    
    </section>
    <!-- <div class="blog-page-two">
      <h1>Material Design Components for Android 1.9.0</h1>
      <p _ngcontent-jbp-c301="" class="heading-p">
        <span _ngcontent-jbp-c301=""> 05.26.23 </span> How Material resources
        work together, from customizing the design kit to Android Studio and
        Relay
      </p>
      <img
        src="https://lh3.googleusercontent.com/deoY-fOAtn2u0fjCSnP96V3Cbfjw5CWwZ5wHOpffUAJjNIePgREmCPoObEewyGWCZfbOsKF3HDYfmcgQufrZJWLY0jGNx1k_5n4_pTKDtX7jVRZ0Kw=w960"
      />
    </div> -->
  </section>
 
</main>
<section *ngIf="noDataFound">
  <app-nodata></app-nodata>
</section>

}
<app-footer></app-footer>

