<section class="privacy-policy">
  <h2 class="mb-1"><b> Introduction </b></h2>

  <!-- <div class="file file--upload">
    <label for="input-file">
      <i class="material-icons">cloud_upload</i>Upload
    </label>
    <input id="input-file" type="file" />
  </div> -->

  <h5>Last updated: May 26, 2023</h5>
  <a href="#push">Push</a>
  <p>
    At MyVerkoper Pvt. Ltd, (“MyVerkoper Pvt Ltd” “MyVerkoper,” “we,” “us,”
    “our”), we know you care about how your personal information is used and
    shared, and we take your privacy seriously.
  </p>
  <p>
    Please read on to know more about our Privacy Policy. By visiting
    MyVerkoper’s website(s) and, you acknowledge that you accept the practices
    and policies outlined in this Privacy Policy.
  </p>
  <p>
    By using the Services, you are consenting to have your personal data
    transferred to and processed in India.
  </p>
  <p>
    MyVerkoper is India’s first exclusive B2B marketplace for Educational
    Institutions. We connect suppliers, who supply all kinds of educational
    materials, and educational institutions on a single platform.Our services
    provide a wide range of choices to increase the efficacy of buyers in
    procurement and suppliers in marketing processes, thereby transforming the
    way they operate their business processes. Our integrated platform enables
    educational institutions and suppliers to engage with each other more
    efficiently. We are a reliable platform always focused on assisting the
    Sellers and Educational Institutions with the help of our technology and
    domain expertise. We are the ultimate B2B e-commerce app for Sellers and
    Educational Institutions in India. If you have questions or complaints
    regarding our privacy policy or practices, please contact us at 
    grievances&#64;myverkoper.com.
  </p>
  <p>
    You are responsible for any Content you provide in connection with the
    Services. We cannot control the actions of anyone with whom you or any other
    MyVerkoper users may choose to share information. Therefore, we cannot and
    do not guarantee that Content you or any user posts on the Services will not
    be viewed by unauthorised persons. However, we may allow our users to set
    privacy options that limit access to certain parts of the Services. Please
    note that no security measures are perfect or impenetrable and that we are
    not responsible for circumvention of any security measures contained on the
    Services. You understand and acknowledge that, even after removal, copies of
    Content may remain viewable in cached pages and archives or if other users
    have copied or stored your Content.
  </p>
  <p>
    You may request removal of Personal Information (as described below) that
    you have provided to us by contacting us at grievances&#64;myverkoper.com. We
    will remove your Personal Information from our database on your request, but
    this information may remain in our server logs as part of our standard
    backup procedures.
  </p>
  <p>
    A verified Organisation Administrator or Staff with communication rights may
    be able to upload and provide information about you to your account; if you
    would like to remove or amend that information, you may have to contact and
    work directly with that administrator or staff member. Any improper
    collection or misuse of Content or other information accessible on the
    Services is a violation of MyVerkoper’s Terms of Use and should be reported
    to grievances&#64;myverkoper.com
  </p>
  <p>
    Please note that you’re responsible for the content of your account and all
    your messages. You can request that your account is deleted by contacting us
    at grievances&#64;myverkoper.com, but Myverkoper is not responsible for what
    other MyVerkoper users may do with your sent messages.
  </p>
  <h2 class="mb-1">
    <b> WHAT INFORMATION DOES MYVERKOPER DISPLAY OR COLLECT? </b>
  </h2>
  <p>
    When you use the Services, you may set up your personal profile, send
    messages, perform searches and queries, and transmit information through
    various channels as permitted by the functionality of the Services.
  </p>
  <p>
    MyVerkoper will not display your personal contact information to other users
    without your permission. The information we gather from users enables us to
    verify user identity, allows our users to set up a user account and profile
    through the Services, and helps us personalise and improve our Services.
  </p>

  <h2 class="mb-1"><b> INFORMATION YOU PROVIDE TO US </b></h2>
  <p>
    For buyers, we collect an educational institution/reseller name (first name
    and last name), phone number, educational institution/company name, email
    address, postal address of educational institution/reseller and/or necessary
    statutory details in the form user may give information and submit it for
    verification of educational institution and/or business verification to
    provide our services. You may choose not to provide us with certain
    information, but then you may not be able to take advantage of many of our
    features. We use the Personal Information we receive about you to provide
    you with the Services and also for purposes such as:
  </p>
  <p>
    Authenticating your identity, responding to your requests for certain
    information, suggesting relevant services or products for you to use,
    improving the Services and internal operations (including troubleshooting,
    Testing, and Analysing usage), communicating with you about new features and
    most importantly, protecting our users and making sure our Services are safe
    and secure.
  </p>
  <p>
    You may modify or remove your Personal Information at any time by logging
    into your account and accessing features to edit your account information.
  </p>
  <h2 class="mb-1"><b> INFORMATION COLLECTED AUTOMATICALLY </b></h2>
  <p>
    We receive and store certain types of information whenever you use the
    Services. MyVerkoper automatically receives and records information on our
    server logs from your browser including your IP address, MyVerkoper cookie
    information, device details like device Id, device model number, device
    brand name and other information for generating application Analytics and
    Crash reports with Firebase, the page you requested, and other usage
    information such as your activity on the Services, the numbers and frequency
    of visitors to our site and its components. None of this information
    constitutes Personal Information. Certain information that is collected
    automatically, such as device ID and phone number, will be treated as
    Personal Information.
  </p>
  <p>
    We also may provide to our partners aggregate information derived from
    automatically collected information about how our users, collectively, use
    our site. We may share this type of non-personally identifiable, aggregated
    statistical data so that our partners also understand how often people use
    their services as well as MyVerkoper.
  </p>
  <h2 class="mb-1"><b> UPLOADING INFORMATION COLLECTED </b></h2>
  <p>
    We receive, upload and store information like files, images and others you
    knowingly enter in the app on https://myverkoper.com/ server. We retain and
    maintain this information to provide the services to you and to enable a
    useful user experience.
  </p>

  <h4><b> Transfer of Your Personal Data </b></h4>

  <p>
    Your information, including Personal Data, is processed at MyVerkoper’'s
    operating offices and in any other places where the parties involved in the
    processing are located. It means that this information may be transferred to
    external service providers and maintained on secured computers located
    outside of Your state, province, country or other governmental jurisdiction
    where the data protection laws may differ from those from Your jurisdiction.
  </p>
  <p>
    MyVerkoper will take all steps reasonably necessary to ensure that your data
    is treated securely and in accordance with this Privacy Policy and no
    transfer of Your Personal Data will take place to any organisation or a
    country unless there are adequate controls in place including the security
    of your data and other personal information.
  </p>
  <h2 class="mb-1"><b> EMAIL AND TEXT MESSAGE COMMUNICATIONS </b></h2>
  <p>
    If you provide us your email address or phone number, MyVerkoper may send
    you administrative messages (such as updates, Notifications, newsletters,
    and other news) relating to the Services or to respond to communications
    from you.
  </p>
  <p>
    By maintaining a MyVerkoper account and/or not opting out of receiving
    information from MyVerkoper, you acknowledge and agree that you may receive
    email or text messages on your phone or mobile device from MyVerkoper and
    third parties if you choose to use services or products that they offer.
  </p>
  <h2 id="push" class="mb-1"><b> PUSH NOTIFICATIONS </b></h2>
  <p>
    We send notices to you when a seller has posted something new in your chat,
    when a seller responds to your Request for Quotation and when any updates
    need to be shared with the buyer. If you no longer wish to receive such
    communications, you may turn them off under App Info in Notifications
    Section.
  </p>
  <h2 class="mb-1">
    <b> COMPLIANCE WITH CHILDREN'S ONLINE PRIVACY PROTECTION ACT </b>
  </h2>

  <p>
    Our App is not intended for anyone under the age of 18. We do not knowingly
    collect personally identifiable information from children under 18. In the
    case we discover that a child under 18 has provided us with personal
    information, we immediately delete this from our servers. If you are a
    parent or guardian and you are aware that your child has provided us with
    personal information, please contact us so that we will be able to take the
    necessary actions.
  </p>
  <h2 class="mb-1"><b> COOKIES </b></h2>
  <p>
    Cookies are small files that websites place on your computer as you browse
    the web. Like many websites, MyVerkoper uses cookies to discover how people
    are using our Services and to make them work better.
  </p>

  <p>
    Local storage is an industry-standard technology that allows a website or
    application to store information locally on your computer or mobile device.
    We use local storage to customise what we show you based on your past
    interactions with MyVerkoper.
  </p>
  <p>
    MyVerkoper uses different technologies to deliver, measure, and improve our
    Services in various ways. These uses generally fall into one of the
    following categories:
  </p>
  <h4><b> 1. Authentication and security </b></h4>
  <ul class="list-b">
    <li>To log you into MyVerkoper;</li>
    <li>To protect your security;</li>
    <li>
      To help us detect and fight spam, abuse, and other activities that violate
      the MyVerkoper’s policies. For example, these technologies help
      authenticate your access to MyVerkoper and prevent unauthorised parties
      from accessing your account.
    </li>
  </ul>
  <h4><b> 2. Preferences </b></h4>
  <p>To remember information about your browser and your preferences.</p>
  <h4><b> Protection of MyVerkoper and others </b></h4>
  <p>
    We may release Personal Information when we believe in good faith that
    release is necessary to:
  </p>
  <ul class="list-b">
    <li>
      comply with the law (for example, responding to a subpoena or other legal
      process);
    </li>
    <li>enforce or apply our Terms of Use and other agreements; or</li>
    <li>
      protect the rights, property, or safety of MyVerkoper, our employees, our
      users, or others. This includes, without limitation, exchanging
      information with other companies and organisations for fraud protection or
      responding to government requests.
    </li>
  </ul>
  <h4><b> With your consent </b></h4>
  <p>
    Except as set forth herein or where MyVerkoper determines necessary in order
    to comply with applicable laws or legal processes, you will be notified when
    your Personal Information may be shared with third parties, and you will be
    given the option to prevent the sharing of this information unless required
    by law or legal processes.
  </p>
  <h2 class="mb-1">
    <b> INFORMATION SAFETY </b>
  </h2>
  <p>
    If you have created a MyVerkoper account, the Personal Information in your
    account is protected by a password for your privacy and security. You may
    help protect against unauthorised access to your account and Personal
    Information by selecting and protecting your password appropriately and
    limiting access to your computer and browser by signing off after you have
    finished accessing your account.
  </p>
  <p>
    MyVerkoper ensures to protect user information and to ensure that user
    account information is kept private; however, we cannot guarantee the
    security of user account information. Unauthorised entry or use, hardware or
    software failure, and other factors may compromise the security of user
    information at any time. For additional information about the security
    measures we use in connection with the Services, please contact us at
    grievances&#64;myverkoper.com.
  </p>
  <p>
    The Services contain links to other sites or services. MyVerkoper is not
    responsible for the privacy policies and/or practices on other sites. When
    linking to another site you should read the privacy policy stated on that
    site. This Privacy Policy only governs information collected on the
    Services.
  </p>
  <h2 class="mb-1">
    <b> CHANGES TO THIS PRIVACY POLICY </b>
  </h2>
  <p>
    We may update this Privacy Policy to reflect changes to our information
    practices. If we make any material changes we will notify you by email
    (using the e-mail address specified in your account) or by posting a notice
    on the Services prior to the change becoming effective. We encourage you to
    periodically review this page for the latest information on our privacy
    practices.
  </p>
  <p>
    If we make material changes to the types of Personal Information we collect
    or how we use collected Personal Information, we will make a public
    announcement on our website indicating the changes.
  </p>
  <p>For questions and clarifications, please contact:</p>
  <p>Grievance Officer: Subodh M</p>
  <h4><b> MyVerkoper Pvt. Ltd. </b></h4>
  <p>
    3rd Floor, Akshaya Space Building, RBI Colony, Kavuri Hills, Madhapur,
    Telangana 500081
  </p>
  <p>Email: grievances&#64;myverkoper.com</p>
  <p>Phone: 096763 33630</p>
</section>
