.mainsec {
    width: 100%
}

.leftsec {
    width: 280px;
}

.contentsec {
    flex: 1;
}

.menu,
.menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    width: 250px;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    position: relative;
    padding: 0 0 0 4px;
    margin: 0;
}

.menu>li {
    display: block;
}

.menu>li>a {
    flex-grow: 0;
    margin: 0 0 0 0px;
    font-family: 'Inter', sans-serif !important;
    font-size: 13px;
    text-decoration: none;
    line-height: 2.79;
    letter-spacing: normal;
    text-align: left;
    color: #0e0e0e;
    display: block;
    position: relative;
    padding-right: 40px;
    & svg {
        position: absolute;
        right: 20px;
        top: 6px;
        fill: #0e0e0e
    }
}

.menu>li:hover>a {
    color: #227087;
}

.menu>li:hover {
    background-color: #fff;
}

.mainmenu {
    cursor: pointer;
}

.mainmenu img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    margin-right: 10px;
}


/* Megadrop width dropdown */

.menu>li>.megadrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 0px;
    left: 250px;
    width: 800px;
    min-height: 100%;
    text-align: left;
    margin-top: 30px;
    padding:20px 0 0 0;
    z-index: 99;
    overflow: hidden;
    background: #fff;
}

.menu>li:hover .megadrop {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
    background: #fff;
}

.menu ul li:hover:after {
    color: #227087;
}

.menu>li>ul li ul,
.menu li>ul li,
.menu>li>.megadrop,
.menu>li>ul,
.menu>li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}

.titlelist {}

.listblock {}

.innermega {
    display: flex;
}

li h2 {
    font-size: 13px;
    font-weight: 500;
    color: #010101;
    line-height: 1.4;
    min-height: 20px;
    margin: 0 0 5px;
}

.sublistmenu {
    margin: 0;
    padding: 0;
    list-style: none;
    & li {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1.4;
        margin-bottom: 5px;
        & a {
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            white-space: nowrap;
            font-size: 12px;
            font-family: 'Inter';
            color: #2e3231;
        }
    }
}

.onlytitles {
    display: flex;
    & a {
        font-size: 13px;
        font-weight: 500;
        color: #010101;
        line-height: 1.6;
        min-height: 30px;
        margin: 0 0 5px;
    }
}


/* flex code */

.listblock {
    padding-bottom: 30px;
    padding-right: 20px;
    min-height: 166px;
}

.flex25 {
    & .titlelist {
        flex: 0 0 25%;
    }
    & .onlytitles {
        flex: 0 0 75%
    }
}

.flex50 {
    & .titlelist {
        flex: 0 0 50%;
    }
    & .onlytitles {
        flex: 0 0 50%
    }
}

.flex75 {
    & .titlelist {
        flex: 0 0 75%;
    }
    & .onlytitles {
        flex: 0 0 25%
    }
}

.flex100 {
    & .titlelist {
        flex: 0 0 100%;
    }
    & .onlytitles {
        flex: 0 0 0%
    }
}

.flex100 {
    & .listblock {
        width: 25%
    }
}

.flex75 {
    & .listblock {
        width: 33.3%
    }
}

.flex50 {
    & .listblock {
        width: 50%
    }
}

.flex25 {
    & .listblock {
        width: 100%
    }
}

.flex75 {
    & .onlytitles ul {
        width: 100%
    }
}

.flex50 {
    & .onlytitles ul {
        width: 50%
    }
}

.flex25 {
    & .onlytitles ul {
        width: 33.3%
    }
}

.onlytitles li a {
    font-size: 13px;
    font-weight: 600;
    color: #010101;
}

.flex1,
.flex2 {
    flex-direction: row;
}

.flex3,
.flex4,
.flex5,
.flex6,
.flex7,
.flex8,
.flex9 {
    display: flex;
    flex-wrap: wrap;
}

.flex3,
.flex4 {}

.flex5,
.flex6 {}

.flex7,
.flex8,
.flex9 {}

.flex2 {
    display: flex;
    flex-direction: column;
}

.mainmenuwrap {
    position: relative;
    float: left;
    & h2 {
        margin-bottom: 0;
        padding-bottom: 10px;
        font-size: 14px;
        color: #0e0e0e;
        & svg {
            transform: rotate(90deg);
        }
    }
}

.menuwrapper {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background: #fff;
}

.mainmenuwrap .categoryName:hover+.menuwrapper,
.menuwrapper:hover {
    display: block;
}



.mainmenuwrap h2 {
    margin-bottom: 0;
    padding-bottom: 0px;
    font-size: 14px;
    color: #0e0e0e;
    font-weight: normal;
    letter-spacing: normal;
    font-style: normal;
    font-stretch: normal;

}

h2.categoryName {
    background: none;
    margin: 1px;
    float: left;
    margin-right: 18px;
    color: #0e0e0e;
    cursor: pointer;
}