<div class="mainmenuwrap">

    <h2 class="categoryName">Categorys <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="m377 810-52-53 181-181-181-181 52-53 234 234-234 234Z"/></svg></h2>



    <div class="menuwrapper">



        <ul class="menu">
            <ng-container *ngFor="let menu of menulist">
                <li>
                    <a class="mainmenu"><img [src]="menu.category_image" />{{menu.category_name}}<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="m377 810-52-53 181-181-181-181 52-53 234 234-234 234Z"/></svg></a>
                    <!--start mega drop-->
                    <div class="megadrop">
                        <div class="innermega" [ngClass]="getMainClass(menu)">
                            <!-- Start L2 with l3 categories-->
                            <div class="titlelist" *ngIf="menu.with_l3.length >=1" [ngClass]="getClass(menu.with_l3)">
                                <ng-container *ngFor="let l2 of menu.with_l3">
                                    <div class="listblock">
                                        <h2>{{l2.category_name}} </h2>

                                        <ul class="sublistmenu">
                                            <ng-container *ngFor="let dat of l2.data">
                                                <li><a [routerLink]="['/products', dat.parent_id]" >{{dat.category_name}}</a></li>
                                            </ng-container>
                                        </ul>
                                    </div>


                                </ng-container>
                            </div>
                            <!-- End L2 categories-->
                            <ng-container *ngIf="menu.with_l3 && menu.with_l3.length < 7">
                                <!--                           
                            <ng-container *ngFor="let item of myArray.filter(obj => obj.myProperty >= 10 && obj.myProperty <= 20)">
                                {{ item.propertyName }}
                              </ng-container> -->


                                <div class="onlytitles">


                                    <!-- start l2 without l3-->
                                    <ng-container *ngIf="menu.with_l3.length ==5 || menu.with_l3.length ==6">
                                        <ul>
                                            <ng-container *ngFor="let l2 of menu.without_l3.slice(0,7)">
                                                <li><a>{{l2.category_name}}</a></li>
                                            </ng-container>
                                        </ul>
                                    </ng-container>


                                    <ng-container *ngIf="menu.with_l3.length ==3 || menu.with_l3.length ==4">
                                        <ul>
                                            <ng-container *ngFor="let l2 of menu.without_l3.slice(0,7)">
                                                <li><a>{{l2.category_name}}</a></li>
                                            </ng-container>
                                        </ul>
                                        <ul>
                                            <ng-container *ngFor="let l2 of menu.without_l3.slice(8,15)">
                                                <li><a>{{l2.category_name}}</a></li>
                                            </ng-container>
                                        </ul>

                                    </ng-container>


                                    <ng-container *ngIf="menu.with_l3.length ==1 || menu.with_l3.length ==2">
                                        <ul>
                                            <ng-container *ngFor="let l2 of menu.without_l3.slice(0,7)">
                                                <li><a>{{l2.category_name}}</a></li>
                                            </ng-container>
                                        </ul>
                                        <ul>
                                            <ng-container *ngFor="let l2 of menu.without_l3.slice(8,15)">
                                                <li><a>{{l2.category_name}}</a></li>
                                            </ng-container>
                                        </ul>
                                        <ul>
                                            <ng-container *ngFor="let l2 of menu.without_l3.slice(16,23)">
                                                <li><a>{{l2.category_name}}</a></li>
                                            </ng-container>
                                        </ul>

                                    </ng-container>


                                    <ng-container *ngIf="menu.with_l3.length == 0">
                                        <ul>
                                            <ng-container *ngFor="let l2 of menu.without_l3.slice(0,7)">
                                                <li><a>{{l2.category_name}}</a></li>
                                            </ng-container>
                                        </ul>
                                        <ul>
                                            <ng-container *ngFor="let l2 of menu.without_l3.slice(8,15)">
                                                <li><a>{{l2.category_name}}</a></li>
                                            </ng-container>
                                        </ul>
                                        <ul>
                                            <ng-container *ngFor="let l2 of menu.without_l3.slice(16,23)">
                                                <li><a>{{l2.category_name}}</a></li>
                                            </ng-container>
                                        </ul>
                                        <ul>
                                            <ng-container *ngFor="let l2 of menu.without_l3.slice(24,31)">
                                                <li><a>{{l2.category_name}}</a></li>
                                            </ng-container>
                                        </ul>

                                    </ng-container>




                                    <!-- <ng-container *ngIf="menu.with_l3.length <=3 && menu.with_l3.length <=6">
                                    <ul >
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(0,7)">
                                            <li>{{l2.cat_name}}</li>
                                        </ng-container>
                                    </ul>
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(8,15)">
                                            <li>{{l2.cat_name}}</li>
                                        </ng-container>
                                    </ul>
                                </ng-container> -->

                                    <!-- <ng-container *ngIf="menu.with_l3.length <=1 && menu.with_l3.length <=6">
                                    <ul >
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(0,7)">
                                            <li>{{l2.cat_name}}</li>
                                        </ng-container>
                                    </ul>
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(8,15)">
                                            <li>{{l2.cat_name}}</li>
                                        </ng-container>
                                    </ul>
                                    <ul >
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(16,23)">
                                            <li>{{l2.cat_name}}</li>
                                        </ng-container>
                                        
                                    </ul>
                                </ng-container> -->





                                </div>



                            </ng-container>
                            <!-- End l2 without l3-->

                        </div>
                    </div>
                    <!-- end mega drop-->
                </li>
            </ng-container>





        </ul>
    </div>

</div>