section.rfq-mainsection {
  padding: 20px;
}
.media.rfq-media {
  display: flex;
  & img.mr-3.rfq-media-image {
    width: 120px;
    height: 120px;
    background: #f2f2f2;;
    margin-right: 10px;
    border-radius: 4px;
  }
  & h3 {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
  }
  & span.rfq-price-data {
    display: inherit;
    font-size: 14px;
    color: #333333;
    font-family: "Inter";
    margin-bottom: 2px;
    & b {
      color: #000000;
    }
  }
}

.rfq_quotes_row{
  overflow: auto;
}

.rfq-buttons {
  display: flex;
  flex-direction: row-reverse;
  & .approved-btn {
    font-size: 13px;
    color: #1a4722;
    font-family: "Inter";
    // border: solid 1px #399a49;
    background-color: #ECF6EE;
    text-transform: capitalize;
    box-shadow: none;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 5px 20px;
    border: none;
  }
}
.rfq-second-buttons {
  margin-top: 14px;
  float: right;
}

.rfq-second-buttons {
  & .btns {
    margin-right: 10px;
    border: solid 1px #02a8df;
    color: #017db9;
    background-color: #fff;
    font-weight: 500;
    font-family: "Inter";
    font-size: 14px;
  }
}

.rfq-list-table {
  width: 100%;
  display: -webkit-inline-box;
  & li.list-group-item {
    width: 20%;
    border-radius: 0px;
    border: none;
    text-align: center;
    position: relative;
    
    & .icon_close{
      position: absolute;
      right: 5px;
      top: 0;
    }
    & p {
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      margin-top: 5px;
      font-family: "Inter";
      margin-bottom: 5px;
      text-align: center;
      word-break: break-all;
    }
    & .chat-now-button {
      margin: auto;
      display: block;
      margin-top: 10px;
      color: #017db9;
      font-size: 14px;
      font-weight: 500;
      border: solid 1px #02a8df;
      border-radius: 4px;
      padding: 5px !important;
      height: auto;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    & .button-comparison {
      margin: 0 0 10px 0;
      display: block;
      border-radius: 5px;
      background-color: #EFFBFF;
      color: #333;
      font-weight: normal;
      font-size: 12px;
      font-family: "Inter";
      height: auto;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  & li.list-group-item.rfq_closelist{
    background: #F7F7F7;

    & .icon_close{
      display: none;
    }
  }
  & li.list-group-item:first-child {
    text-align: right;
    border-right: 1px solid #BBECFC;
  }
}
h3.quotations-heading {
  margin-bottom: 8px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter";
}
img.quotations-img {
  width: 110px;
  height: 110px;
  margin: auto;
  display: block;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
p.qu-information {
  color: #545454 !important;
  font-weight: normal !important;
  font-family: "Inter";
}
p.list-text-data-vendors.vends {
  font-weight: normal !important;
}

section.footer-popup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: white;
  width: 400px;
  z-index: 9999;
  overflow: scroll;
  border: 1px solid #ccc;
  padding: 0 15px;
}

.icon_close img{
  width: 15px;
}

@media screen and (max-width: 1024px) {
  .rfq-list-table li.list-group-item{
    width: 25%;
  }
}

@media screen and (max-width: 991px) {
  .rfq-list-table li.list-group-item{
    width: 33.3%;
  }
}
@media screen and (max-width: 575px) {
  section.rfq-mainsection{
    padding: 20px 0;
  }
  .media.rfq-media img.mr-3.rfq-media-image{
    width: 75px;
    height: 75px;
    margin-right: 15px;
  }

  .rfq-second-buttons button{
    margin: 5px 0;
    font-size: 12px;
    padding: 5px 15px;
  }
  
  .rfq-list-table li.list-group-item{
    width: 50%;
  }
  section.footer-popup{
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .rfq-list-table li.list-group-item{
    width: 70%;
  }
}