.product_details{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.product_img img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.product_desc{
    display: flex;
    gap: 20px;
}

.product_actions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.compare_prices{
    .price_table{
        overflow: auto;
        margin: 20px 0 40px;

        table{
            width: 100%;

            thead th{
                color: #5D5E5E;
                font-weight: 400;
                padding: 10px;
                
                &.sold_by{
                    min-width: 200px;
                }

                &.min_order{
                    min-width: 150px;
                    text-align: center;
                }

                &.lead_time{
                    min-width: 150px;
                    text-align: center;
                }

                &.item_price{
                    min-width: 200px;
                    text-align: center;
                }

                &.actions{
                    min-width: 300px;
                }
            }

            tbody td{
                padding: 10px;
            }
        }
    }
}


.cat_breadcrumb:hover {
    color: #017DB9;
}

@media screen and (max-width: 767px) {
    .product_details{
        align-items: flex-start;
    }
    .product_desc{
        display: block;
    }
}