<!-- Schema -->
<!-- <script type="application/ld+json">
  {{ generateProductSchema() }}
</script> -->

<mat-card [ngClass]="getClass(styleClass)" [class.list]="itemStyle == 'list'">
  <a class="pointer" (click)="goTo(item)" class="mp_align">
    <div>
    <div class="product-images-latest" >
      <ng-container *ngIf="showFav && isSignIn">
        <span *ngIf="!isFav" class="fav-icons-s">
          <mat-icon (click)="addToFav($event)" class="fav-active"
            >favorite_border</mat-icon
          >
        </span>
        <span *ngIf="isFav" class="fav-icons-s">
          <mat-icon
            [style.color]="'red'"
            (click)="addToFav($event)"
            class="fav-active"
            >favorite</mat-icon
          >
        </span>
      </ng-container>
      <img
        class="products-cards-images"
        mat-card-image
        [lazyLoad] ="item.product_image || item.prod_img"
        [alt]="item.prod_name || item.product_name"
        (error)="handleImageError()"
      />
    </div>
  </div>

    <mat-card-content class="">
      <section class="card-sec">
        <ng-container>
          <section class="product-desc">
            {{ item.prod_name || item.product_name }}
          </section>

          <!-- [innerHtml]="item.product_description | sanitize" -->
          <section class="product-desc"
            *ngIf=" itemType == 'list' && description && item.product_description"
          >
            {{ item.product_description | sanitize }}
          </section>
        </ng-container>

        <section *ngIf="orderStatus">
          <button mat-raised-button color="primary">Ready to Ship</button>
        </section>
        <ng-container *ngIf="price">
          <div *ngIf="item.product_price || item.prod_pricing" class="price">
            {{ item.product_price || item.prod_pricing | inidanCurrency }} / Piece
          </div>
          <div *ngIf="item.product_pricing" class="price">
            {{ item.product_pricing | inidanCurrency }}
          </div>
          <div *ngIf="item.price" class="price">
            {{ item.price | inidanCurrency }}
          </div>
        </ng-container>
        <ng-container *ngIf="discountPrice">
          <div *ngIf="!item.product_discount_percentage" class="price">
            {{ item.product_price | inidanCurrency }}
          </div>
          <ng-container *ngIf="item.product_discount_percentage">
            <div class="price">
              {{ item.product_discount_price | inidanCurrency }}

              <div class="discountsec">
                <del>{{ item.product_price | inidanCurrency }}</del>
                <section
                  class="dis-box"
                  *ngIf="item.product_discount_percentage"
                >
                  {{ item.product_discount_percentage | number : "2.0-0" }}% Off
                </section>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="qty">
          <div class="d-flex align-items-end justify-content-between">
            <div class="qtytxt" *ngIf="item.product_quantity">
              {{ item.product_quantity }} pieces <span>(Min. Order)</span>
            </div>
            <div class="qtytxt" *ngIf="item.quantity">
              {{ item.quantity }} pieces <span>(Min. Order)</span>
            </div>
            <div *ngIf="showAdd" class="product_add_icon">
              <ng-container *ngIf="!isSelected; else selected">
                <img class="pointer" (click)="addImage($event)" src="../../../../assets/svg/plus_icon.svg"/>
              </ng-container>
              <ng-template #selected>
                <img src="../../../../assets/svg/tick_icon.svg"/>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </section>
      <ng-container *ngIf="companyDetails">
        <h3 class="manufacture-heading">{{ item.company_name }}</h3>
        <div class="company-credits">
          <div>
            <img
              *ngIf="item.is_verified"
              src="/assets/images/verified-imgs.PNG"
              class="verfi-img"
            />
          </div>
          <div class="diamondwrap">
            <span class="material-icons diamond" *ngFor="let i of [0, 1, 2]"
              >diamond</span
            >
          </div>
          <!-- <div><span class="yrs">3 YRS</span></div> -->
        </div>
        <section class="ratingWrap">
          <span class="material-icons star_icon">star</span>
          <span class="ratecount">{{item.product_rating || 5}}({{item.product_reviews || 13}})</span> "Customer Reviews"
        </section>
      </ng-container>
    </mat-card-content>
  </a>

  <div class="products-buttons" *ngIf="actions">
    <app-contactsupplier  [sellerDetails]="sellerDetails"></app-contactsupplier>
    <app-chat-now  [sellerDetails]="sellerDetails"></app-chat-now>
    <!-- <app-view-number *ngIf="sellerDetails.buyerSellerStatus == 1" [cid]="sellerDetails.sellerAccountId"></app-view-number> -->
  </div>
</mat-card>
