<section class="chat-mainwrapper">
  <!-- Chat List -->
  <section *ngIf="!noChatsFound" class="chat-left-wrapper">

    <!-- Search Input -->
    <section *ngIf="false" class="serch-section">
      <form>
        <div class="form-group searchwrapper">
          <mat-icon>search</mat-icon>
          <input [(ngModel)]="searchKeyword" (keyup)="filterChat()" name="searchKeyword" type="text"
            class="form-control search-chat" placeholder="Search" />
        </div>
      </form>
    </section>

    <!-- All or Unread -->
    <section *ngIf="false" class="chat-list-section">
      <div class="count">
        <h4 (click)="getAll()">All</h4>
        <h4 (click)="getUnread()">Unread</h4>
      </div>
    </section>

    <!-- Chat List -->
    <section class="chat-list-card">
      <ul class="list-group">
        <!-- <li *ngIf="sellerList != undefined && filteredList.length <= 0" class="nomsg">
          No Contacts
        </li> -->
        <li (click)="getMessagesFromSellerV2(seller)" *ngFor="let seller of chatList"
          [ngClass]="{ active: seller.seller_id == activeId }" class="list-group-item">
          <div class="img-media">
            <img [src]="
                seller.company_image != ''
                  ? seller.company_image
                  : '../../../assets/images/user-avatar.png'
              " />
          </div>
          <div class="list-card-chat">
            <!-- <h4>{{ seller.userName == "" ? "No Name" : seller.userName }} </h4>  -->
            <p>{{ seller.company_name ||  "No Name"}} 
              <!-- <span *ngIf="seller.newMsgCount > 0"> {{seller.newMsgCount}} </span> -->
            </p>
            <span class="last">{{ seller.last_date_time }}</span>
          </div>
        </li>
        <!-- <li (click)="getMessagesFromSeller(seller)" *ngFor="let seller of filteredList"
          [ngClass]="{ active: seller.userId == activeName }" class="list-group-item">
          <div class="img-media">
            <img [src]="
                seller.companyLogo != ''
                  ? seller.companyLogo
                  : '../../../assets/images/user-avatar.png'
              " />
          </div>
          <div class="list-card-chat">
            <h4>{{ seller.userName == "" ? "No Name" : seller.userName }} </h4> 
            <p>{{ seller.companyName ||  "No Name"}} <span *ngIf="seller.newMsgCount > 0"> {{seller.newMsgCount}} </span></p>
            <span class="last">{{ seller.lastMessage }}</span>
          </div>
        </li> -->
      </ul>
    </section>
  </section>

  <!-- Chat Messages -->
  <section class="chat-middle-wrapper">
    <section *ngIf="!noChatsFound" class="chat-middle-inner">
      <!-- <section *ngIf="messages.length == 0" class="chat-middle">
        Select a Chat to view messages
      </section> -->
      <section *ngIf="getcompanyId != ''" class="chat-top message">
        <div>
          <h5>{{ chatName != '' ? chatName : "No Name" }}</h5>
          <span *ngIf="activeStatus; else activeTime">Active Now</span> <ng-template #activeTime> <span>Last Active at {{activeMessage }} </span></ng-template> 
        </div>
        <span class="account_img" (click)="openProfile()">
          <img src="/assets/images/icons/chat_account.png">
        </span>
        <!-- <span class="search-icons">
            <mat-icon>search</mat-icon>
          </span>
        <span> Local Time: 02:16 AM </span> -->
      </section>
      <section #listContainer  class="chat-middle">
        <ng-container  *ngFor="let message of messages">
          <div *ngIf="!message.from.includes('Buyer'); else buyer" class="chat-person-one">
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item">
                <div class="chat-imgg">
                  <img [src]=" sellerDetails.companyLogo ? sellerDetails.companyLogo : '../../../assets/images/user-avatar.png'" />
                </div>
              </li>
              <li class="list-group-item">
                <div class="chat-profile-name">
                  <h2 class="name">{{ message.from }}</h2>
                  <span class="date"> {{ message.time | date }}</span>
                </div>
                <p class="from_msg" *ngIf="message.type != 'image'">{{ message.message }}</p>
                <div *ngIf="message.type == 'image'" class="chat-image-avatar">
                  <img [src]="message.filePath" alt="" />
                </div>
                <div *ngIf="message.details != '' " class="card card-inquiry-details">
                  <div *ngIf="message.details && message.details.inquiry_type == 'company'" class="card-body">
                    <h5 class="card-title">Inquiry</h5>
                    <section class="inquiry-h">
                      <div>
                        <img
                          class="img-inquiry"
                          src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png"
                        />
                        <h5>Quantity: {{message.details.quantity}} </h5>
                        <P>Description:  {{message.details.description}} </P>
                      </div>
                    </section>
                  </div>
                  <div *ngIf="message.details && message.details.inquiry_type == 'product'" class="card-body">
                    <h5 class="card-title">Inquiry</h5>
                    <section class="section-inquiry-s">
                      <ul class="list-group">
                        <li class="list-group-item ls-drive-interface">
                         Inquiry Type:  {{message.details.inquiry_type}}
                        </li>
                        <li class="list-group-item ls-drive-interface">
                          <h5>{{message.details.product_name}}</h5>
                        </li>
                        <li class="list-group-item ls-drive-interface">
                          {{message.details.quantity}}
                        </li>
                        <li class="list-group-item ls-drive-interface">
                          <h5>{{message.details.units}}</h5>
                        </li>
                      </ul>
                    </section>
                  </div>
                  <div *ngIf="message && message.type == 'quotation'" class="card-body">
                    <h5 class="card-title">Quotation</h5>
                    <section  class="section-inquiry-s">
                      <ul class="list-group">
                        <li class="list-group-item ls-drive-interface">
                          <h5>Code: {{message.details.QuotationCode}}</h5>
                        </li>
                        <li class="list-group-item ls-drive-interface">
                          <h5>Name: {{message.details.ProductName}}</h5>
                        </li>
                        <li class="list-group-item ls-drive-interface">
                          <h5>Quantity: {{message.details.Quantity}}</h5>
                        </li>
                        <li class="list-group-item ls-drive-interface">
                          <h5>Units: {{message.details.Unit || "-"}}</h5>
                        </li>
                      </ul>
                    </section>
                    <button (click)="getQuoteDetails(message.details.QuotationId)" mat-raised-button color="primary">View Details</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <ng-template #buyer>
            <div class="chat-person-one second-person">
              <ul *ngIf="message.type != 'business_card_details'" class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <div class="chat-imgg">
                    <img [src]=" profilePhoto  ? profilePhoto : '../../../assets/images/user-avatar.png' " />
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="chat-profile-name">
                    <h2 class="name">{{ message.from }}</h2>
                    <span class="date"> {{ message.time | date }}</span>
                  </div>
                  <p class="to_msg" *ngIf="message.type != 'image'">{{ message.message }}</p>
                  <div *ngIf="message.type == 'image'" class="chat-image-avatar">
                    <img [src]="message.filePath" alt="" />
                  </div>
                  <div *ngIf="message.details != '' " class="card card-inquiry-details">
                    <div (click)="openInquiryDetails(message.details.inquiry_id)" *ngIf="message.details && message.details.inquiry_type == 'company'" class="card-body">
                      <h5 class="card-title">Inquiry</h5>
                      <section class="inquiry-h">
                        <div>
                          <img
                            class="img-inquiry"
                            src="https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png"
                          />
                          <h5>Quantity: {{message.details.quantity}} </h5>
                          <P>Description:  {{message.details.description}} </P>
                        </div>
                      </section>
                    </div>
                    <div (click)="openInquiryDetails(message.details.inquiry_id)" *ngIf="message.details && message.details.inquiry_type == 'product'" class="card-body">
                      <h5 class="card-title">Inquiry</h5>
                      <!-- <section class="section-inquiry-s"> -->
                      <section class="inquiry-h">
                        <ul class="list-group">
                          <li class="list-group-item ls-drive-interface">
                           <span class="inquiry-details">Inquiry Type:</span>  {{message.details.inquiry_type}}
                          </li>
                          <li class="list-group-item ls-drive-interface">
                            <span class="inquiry-details">Product Name:</span>  {{message.details.product_name}}
                          </li>
                          <li class="list-group-item ls-drive-interface">
                            <span class="inquiry-details">Quanity:</span> {{message.details.quantity}}
                          </li>
                          <li class="list-group-item ls-drive-interface">
                            <span class="inquiry-details">Units:</span>  {{message.details.units}}
                          </li>
                        </ul>
                      </section>
                    </div>
                    <div *ngIf="message && message.type == 'quotation'" class="card-body">
                      <h5 class="card-title">Quotation</h5>
                      <section  class="section-inquiry-s">
                        <ul class="list-group">
                          <li class="list-group-item ls-drive-interface">
                            Quotation Code:  {{message.details.QuotationCode}}
                          </li>
                          <li class="list-group-item ls-drive-interface">
                            <h5>{{message.details.ProductName}}</h5>
                          </li>
                          <li class="list-group-item ls-drive-interface">
                            {{message.details.Quantity}}
                          </li>
                          <li class="list-group-item ls-drive-interface">
                            <h5>{{message.details.Unit}}</h5>
                          </li>
                        </ul>
                      </section>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ng-template>
        </ng-container>
      </section>
      <section *ngIf="getcompanyId != ''" class="chat-bottom">
        <emoji-mart class="emoji-mart"  *ngIf="showEmojiPicker" [showPreview]="false" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
        <section class="chat-icons">
         <a (click) ="toggleEmojiPicker()"> <img src="../../../../assets/svg/smiley.svg" title="Emoji" alt="" /></a>          
          <img class="grey-out" title="Upcoming" src=" ../../../../assets/svg/file.svg"  alt="" />

          <label class="upload">
            <span class="files">
              <img title="Select Image" src="../../../../assets/svg/image.svg" alt="" />
            </span>
            <input  type="file" accept="image/*" (change)="onFileSelected($event)" />
          </label>
          <img class="grey-out" title="Upcoming" src="../../../../assets/svg/copy.svg" alt="" />
          <img class="grey-out" title="Upcoming" src="../../../../assets/svg/paste.svg" alt="" />
          <!-- <button mat-button [matMenuTriggerFor]="aboveMenu"><img title="Business Card" src="../../../../assets/svg/paste.svg" alt="" /></button> -->
          <!-- <img title="Disabled" src="../../../../assets/svg/chat.svg" alt="" /> -->
          <!-- <mat-menu #aboveMenu="matMenu" yPosition="above">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu> -->
        </section>
        <!-- <label class="upload">
          <span class="files"><i class="fa fa-folder" aria-hidden="true"></i></span>
          <input type="file" accept="image/*" (change)="onFileSelected($event)" />
        </label> -->
        <textarea [(ngModel)]="message" (keydown.enter)="updateData($event)" class="form-control border-0 no-drag"
          placeholder="Please type your message your" id="exampleFormControlTextarea1" rows="2"></textarea>
        <button [disabled]="!message" (click)="updateData()" class="btn primary_btn btn-send-chat">
          Send
        </button>
      </section>
    </section>
    <section class="no-data" *ngIf="noChatsFound">
      <!-- <app-nodata [errorMsg]="'No Chats Found'" ></app-nodata> -->
      <section class="no-data-mention">
        <h3> No Messages Found! </h3>
        <img src="../../../assets/images/no-message-found.png" alt="" />
        <p> It looks like you don't have any messages at the moment </p>
      </section>
    </section>
  </section>

  <!-- Profile Right Section -->
  <section class="chat-right-wrapper" *ngIf="closeRight" [ngClass]="{ show: closeRight }">
    <ng-container *ngIf="!showQuotes; else quote">
      <app-conversation-profile [companyDetails]="companyDetails" (more)="closeProfile()" *ngIf="!viewmore"></app-conversation-profile>
      <ng-container *ngIf="viewmore">
        <section class="chat-list-section">
          <div class="count">
            <h4>
              <mat-icon (click)="closeProfile()">chevron_left</mat-icon> Profile
            </h4>
          </div>
        </section>
        
        <section class="chat-list-card">
          <ul class="list-group">
            <li class="list-group-item border-0">
              <div class="img-media">
                <img [src]="companyDetails.seller_details.seller_profile" />
              </div>
              <div class="list-card-chat">
                <h4 class="profile-list-chat">
                  {{ companyDetails.seller_details.seller_name }}
                </h4>
                <p>{{ companyDetails.seller_account_name }}</p>
              </div>
            </li>
          </ul>
          <span class="profile-text"> Company information </span>
          <section class="table-section-card">
            <table class="table table-bordered">
              <tr>
                <td class="td-one">Company Name: </td>
                <td class="td-two">{{ companyDetails.seller_account_name }}</td>
              </tr>
            </table>
          </section>
          <span class="profile-text"> Basic information </span>
          <section class="table-section-card">
            <table class="table table-bordered">
              <tr *ngFor="let company of companyDetails.overview">
                <td class="td-one">{{ company.key }}</td>
                <td class="td-two">{{ company.value }}</td>
              </tr>
            </table>
          </section>
          <span class="profile-text">
            Contact information
          </span>
          <section class="table-section-card">
            <table class="table table-bordered">
              <tr>
                <td class="td-one">Company Phone Number: </td>
                <td class="td-two"> {{companyDetails.seller_account_mobile}}</td>
              </tr>
              <tr>
                <td class="td-one">Email: </td>
                <td class="td-two"> {{companyDetails.seller_account_email}}</td>
              </tr>
              <tr>
                <td class="td-one">Mobile: </td>
                <td class="td-two"> {{companyDetails.seller_details.seller_mobile}}</td>
              </tr>
              <tr>
                <td class="td-one">Company Address: </td>
                <td class="td-two"> {{companyDetails.seller_account_address}}</td>
              </tr>
            </table>
          </section>
        </section>
      </ng-container>
    </ng-container>
    <ng-template #quote>
      <section class="chat-list-section">
        <div class="count">
          <h4>
            <mat-icon (click)="showQuotes = false; closeRight = false">chevron_left</mat-icon> Quotation Details
          </h4>
        </div>
      </section>

      <section *ngIf="quoteDet" class="chat-list-card">
        <ul class="list-group">
          <li class="list-group-item border-0">
            <!-- <div class="img-media">
              <img [src]="companyDetails.seller_details.seller_profile" />
            </div> -->
            <div class="list-card-chat">
              <h4 class="profile-list-chat">
                {{ companyDetails.seller_details.seller_name }}
              </h4>
              <p>{{ companyDetails.seller_account_name }}</p>
            </div>
          </li>
        </ul>
        <span class="profile-text"> Company information </span>
        <section class="table-section-card">
          <table class="table table-bordered">
            <tr>
              <td class="td-one">Company Name: </td>
              <td class="td-two">{{ companyDetails.seller_account_name }}</td>
            </tr>
          </table>
        </section>
        <span class="profile-text">
          {{quoteDet.product_name}}
        </span>
        <section class="table-section-card">
          <table class="table table-bordered">
            <tr>
              <td class="td-one">Category</td>
              <td class="td-two">{{quoteDet.cat_name}}</td>
            </tr>
            <tr>
              <td class="td-one">Quantity</td>
              <td class="td-two">{{quoteDet.order_quantity}}</td>
            </tr>
            <tr>
              <td class="td-one">Price</td>
              <td class="td-two">{{quoteDet.fob_price}}</td>
            </tr>
            <tr>
              <td class="td-one">shipping_charges</td>
              <td class="td-two">{{quoteDet.shipping_charges}}</td>
            </tr>
            <tr>
              <td class="td-one"> Valid Date</td>
              <td class="td-two">{{quoteDet.valid_date}}</td>
            </tr>
          </table>
        </section>
      </section>
    </ng-template>
  </section>
</section>