<section *ngIf="false" class="loader-wrap">
  <section class="manu-loader">
    <section class="loader-img">
      <section class="text-img"></section>
    </section>
    <section class="loader-desc">
      <section class="smart text"></section>
    </section>
  </section>
</section>

<ng-container *ngIf="type">
<!-- <a> -->
  <mat-card>
    <h2 (click)="goTo(type.key, 1)" class="smallTitle pointer">{{ type.type }}</h2>
    <h3 (click)="goTo(type.key, type.parent_category_id)" class="supplier_title pointer">{{type.parent_category}}</h3>
    <div (click)="goTo(type.key, type.parent_category_id)" class="product-images-latest">
      <img class="products-cards-images" mat-card-image 
      [lazyLoad]="type.images[0].image" 
      [appSafeImage]="'https://dev-api.myverkoper.com/assets/seller/images/mvk-no-image.png'"
    />
    </div>
    
    <!-- <div class="product-price-details">{{ type.type }}</div> -->
  </mat-card>
<!-- </a> -->
</ng-container>
