.container {
    display: flex;
    flex-wrap: wrap;
}

.select {
    height: 90px;
    width: 40%;
    border: 2px solid black;
    border-radius: 4px;
    padding: 50px 10px 12px 12px;
    margin: 12px;
    cursor: pointer;
    // display: flex;
    // align-items: center;
    // justify-content: center;

}

.applyBorderColor {
    border: 2px solid #017db9;
    background-color: #e5f6fb;
}

::ng-deep .mdc-checkbox {
    visibility: hidden;
}