<div *ngIf="loading$ | async" class="loader">
    <owl-carousel-o [options]="customOptions">
        @for (i of [0,0,0,0]; track $index) {
            <ng-template carouselSlide>
                <section class="main_banner_card">
                    <div class="smart banner-loader"></div>
                </section>
            </ng-template>
        }
    </owl-carousel-o>
</div>
<div *ngIf="!(loading$ | async)">
<ng-container *ngIf="(banner$ | async) as homeBannersData">
    <section *ngIf="homeBannersData.length > 0;" class="main_banner smb_space">
        <owl-carousel-o [options]="customOptions">
            @for (banner of homeBannersData; track $index) {
                <ng-template carouselSlide>
                    <section [class.pointer]="banner.have_link == 1" (click)="linktoclick(banner)" class="main_banner_card">
                        <img [src]="banner.banner_image" />
                        <div class="main_banner_content">
                            <h1 [ngStyle]="{ color: banner.banner_title_color }" class="title">{{banner.banner_title}}</h1>
                            <p [ngStyle]="{ color: banner.banner_sub_title_color }" class="sub_title">
                                {{banner.banner_sub_title}}</p>
                        </div>
                    </section>
                </ng-template>
            }
        </owl-carousel-o>
    </section>
</ng-container>
</div>
<!-- <ng-template #loader>
    <owl-carousel-o [options]="customOptions">
        @for (i of [0,0,0,0]; track $index) {
            <ng-template carouselSlide>
                <section class="main_banner_card">
                    <div class="smart banner-loader"></div>
                </section>
            </ng-template>
        }
    </owl-carousel-o>
</ng-template> -->
