@if(captureImg){
<div class="webcam-container">
    <webcam class="webcam" (initError)="handleError($event)" [trigger]="triggerObservable" (imageCapture)="handleImage($event)">
    </webcam>
   @if (!loader) {
    @if (errorMsg) {
        <p>Camera {{errorMsg}} </p>
    } 
    @else {
    <div class="text-center">
        <button (click)="triggerSnapshot()" class="primary_btn">Capture</button>
    </div>
    }
   } @else {
    <p>Camera Initializing... </p>
   }
</div>
}
@else{
<div *ngIf="webcamImage" class="webcam_img">
    <img [src]="webcamImage.imageAsDataUrl" alt="Captured image">
    <button (click)="reuploadImage()" class="grey_stroked_btn mt-3">ReTake</button>
    <button (click)="uploadImage()" class="primary_btn mt-3 ms-2">Upload</button>
</div>
}
