@if (!loader) {
<section class="multibanner" [ngClass]="{'disable-after': isAfter && categories.length > 14}">
<owl-carousel-o (change)="check($event)" [options]="customOptions">
    <ng-container *ngFor="let cat of categories | chunk:2">
        <ng-template carouselSlide>
            <section class="box">
                <section *ngFor="let item of cat" (click)="goTo(item.category_id, item.category_name)" class="circle-box">
                    <img [src]="item.category_icon" [style.filter]="colour">
                    <p> {{item.category_name}} </p>
                </section>
            </section>
        </ng-template>  
    </ng-container>
</owl-carousel-o>
</section>
}
@else {
    <section class="multibanner">
        <owl-carousel-o [options]="customOptions">
            @for (i of [0,0,0,0,0,0,0,0]; track $index) {
            <ng-template carouselSlide>
                <section class="box">
                    @for (j of [0,0]; track $index) {<section class="circle-box loader smart"></section>}
                </section>
            </ng-template>  
            }
        </owl-carousel-o>
    </section>
}
