<section *ngIf="loader" class="score-card smart-card">
  <section class="smart score-card-full"></section>
</section>

<div class="score-card">
  <div class="row">
    <div class="col-lg-6">
      <h1>Global sourcing marketplace</h1>
      <div class="row" *ngIf="!loader">
        <div class="col-lg-6">
          <mat-card class="score-card-one">
            <mat-card-header class="score-cards-one">
              <mat-card-title class="card-counts">
                {{ data.rfqs }} +
              </mat-card-title>
              <mat-card-subtitle class="card-counts-s"> RFQs</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-lg-6">
          <mat-card class="score-card-one">
            <mat-card-header class="score-cards-one">
              <mat-card-title class="card-counts">
                {{ data.avg_response_time }}
              </mat-card-title>
              <mat-card-subtitle class="card-counts-s">
                Average Response time</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-lg-6">
          <mat-card class="score-card-one">
            <mat-card-header class="score-cards-one">
              <mat-card-title class="card-counts">
                {{ data.active_suppliers }} +</mat-card-title>
              <mat-card-subtitle class="card-counts-s">
                Active suppliers</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-lg-6">
          <mat-card class="score-card-one">
            <mat-card-header class="score-cards-one">
              <mat-card-title class="card-counts">
                {{ data.industries }}
              </mat-card-title>
              <mat-card-subtitle class="card-counts-s">
                Industries</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-lg-12">
          <button (click)="learnMore()" class="learn-more" mat-raised-button color="primary">
            Learn more
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h1 class="heading-two">One request, multiple quotes</h1>
      <p class="paragraph-two">
        "New Style Large Capacity Commercial Kitchen Electric Oven Bakery Machine Baking Equipment Oven Pizza Bread
        Making Machine.
      </p>
      <div class="row">
        <section class="form-section-fileds">
          <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

            <mat-form-field class="form-input-index w-100">
              <mat-label>Enter Product Name</mat-label>
              <input type="text" id="name" formControlName="name" matInput>
            </mat-form-field>
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field class="form-input-index w-100">
                  <mat-label>Quantity</mat-label>
                  <input type="number" id="quantity" formControlName="quantity" matInput>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="form-input-index w-100">
                  <mat-label>Units</mat-label>
                  <mat-select id="units" formControlName="units">
                    <mat-option *ngFor="let u of units" [value]="u.id">
                      {{u.val}}
                    </mat-option>
                  </mat-select>
                  <!-- <input matInput placeholder="Placeholder"> -->
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <button type="submit"  [disabled]="form.invalid" mat-raised-button color="primary">
                  Request For Quotation
                </button>
              </div>
              <!-- <div> {{form.value | json}} </div> -->
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>