<router-outlet></router-outlet>
<app-chat-wrap></app-chat-wrap>
<ng-template #confirmation>
  <div mat-dialog-content>
    <div style="padding:30px; text-align: center;">
      <p>For Beter support Please download  App</p>
      <!-- <a target="_blank" href="https://play.google.com/store/apps/details?id=com.myverkoper.buyer&hl=en_IN&gl=US&pli=1">Open App </a> -->
    
     <div mat-dialog-actions align="center">
        <a mat-button class="close" (click)="onNoClick('No')">Close </a>
       
        <a class="open" target="_blank" href="https://play.google.com/store/apps/details?id=com.buyer.myverkoper&hl=en_IN&gl=US">Open App </a>
      </div>
    </div>

  </div>
 
</ng-template>  