.popclose{ cursor: pointer; position: absolute; right: 10px; top:10px}


.mobilesectionsignup{
    max-width: 100%;
    padding: 25px;
}
h1{
    color: #1393bd;
    font-weight: 600;
    margin-bottom: 7px;
}
h2{
    font-size: 16px;
    font-weight: 600;
    color: #1393bd;
    line-height: 25px;
    margin-bottom: 25px;
}
h3{
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
}
.signup_img{
    width: 275px;
}
.radio{
    border: 1px solid #e6e6e6;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.radio p{
    font-size: 12px;
}
.radio img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.radio.selected {
    border: 1px solid #017db9;
    background: #e5f6fb;
}
.btn_2{
    color: #0088B5;
    font-weight: 600;
}
.btn_2 i{
    font-weight: 600;
    padding-left: 8px;
    color: #222;
}

.mainimgwrap {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
  