
.error-logo {
    img {
        width: 175px;
    }
}
.error_page{
    text-align: center;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 20px;
    right: 0;
    /* background: red; */
    display: flex;
    align-items: center;
    overflow: auto;
    // padding: 70px 0 100px;
}
.error_page h2{
    font-size: 70px;
    color: #a8ccd7;
    font-weight: 600; line-height: 1.1;
}
.error_page h3{
    font-size: 18px;
    font-weight: 600;
    color: #002c75;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.err_btn{
    padding: 3px 15px;
    border-radius: 2px;
    background: #00aafa;
    border: none;
    color: #fff;
    margin-top: 0px;
}
.err_pagebox{
    // position: relative;
}
.err_pagebox img{
    // position: absolute;
}

.error-main {
    height: 100%;
    width: 100%;
}

.error-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
}