<header class="py-2 px-4">
    <div class="row justify-content-center">
        <div  class="col-sm-3 text-center error-logo">
            <a routerLink="/">
                <img src="../../../assets/images/buyer-logo.png" class="logo pointer">
            </a>
        </div>
    </div>
</header>
<section class="error_page">
    <div class="row justify-content-center align-items-center error-main">
        <div class="col-sm-6">
            <div class="err_pagebox">
            <h2>500</h2>
            <h3>Oops! Our servers are taking a break!</h3>
            <p>We apologize for the inconvenience caused, our server is under maintenance, please try again after some time.</p>
            <!-- <a href="#"><button class="err_btn">Go Back</button></a> -->
            <!-- <img src="https://www.pngitem.com/pimgs/m/552-5528826_exclamation-point-error-simple-black-background-pictures-transparent.png"> -->
            </div>
        </div>
    </div>
</section>
<footer class="error-footer">
    <p class="m-0">&#169; 2018 - {{year}} MyVerkoper.com. All rights reserved.</p>
</footer>