<section class="small-banner">
  <div class="tag-line-text">
    <!-- <span> {{ bannerObj.tagText }} </span> -->
  </div>
  <img class="banner-img" [src]="bannerObj.image" />
  <div class="image-heading">
    <h3>{{ bannerObj.titleText }}</h3>
    <h4>{{ bannerObj.description }}</h4>
  </div>
</section>

<section>
  <div class="small-banner-section">
    <div class="bg-colors-s"></div>
    <!-- <img class="img-banner-small"
      src="https://mvk-qa-laravel-media.s3.ap-south-1.amazonaws.com/seller_account/Swati_Publications_96/product_images/1688108478.jpg" /> -->
  </div>
</section>