.otp-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
    
    input {
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 18px;
        border: 1px solid #B0B0B0;
        border-radius: 5px;

        &:focus{
            outline: 0;
            border-color: #02A8DF;
        }
    }
}
  

.modal_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 5px;

    .title{
        font-size: 16px;
        font-weight: 500;
        margin: 0;
    }

    .close{
        background: none;
        border: none;
    }
}

.modal_body{
    text-align: center;
    padding: 20px 15px 30px;

    .otp_image{
        margin-bottom: 15px;

        img{
            width: 80px;
            height: 80px;
            background: #e6f8fe;
            padding: 18px;
            border-radius: 5px;
        }
    }

    .mail_id{
        padding: 10px 0;
    }

    .resend_code{
        font-size: 12px;
        padding-bottom: 20px;
    }
}