.cardsWarp{ 
    display: flex; 
    flex-flow: row wrap; 
    width: 100%;
}   
.custom-flexs-list6{ 
    width: 100%; 
    flex-wrap: wrap;
    & .card1{ width:16.66%; padding:0 12px 24px 12px}
}
.topbox{ background: #30b1d7; border-radius: 12px; width: 100%; padding: 20px 20px; margin: 10px 0; color: #fff;}




.flex-wrap{ display: flex; flex-wrap: wrap;}

.card-c-two{ width:80%; height: 30px; margin-bottom: 20px;} 
.second{height:160px; width: 100%; margin-bottom: 20px;}
.card-c-one{ width:100%; height: 30px; margin-bottom: 5px;} 
.card-c-two{ width:100%; height: 20px; margin-bottom: 5px;} 
