<div class="main-container">
  <ng-container *ngIf="!loader">
    <div class="hometabs">
      <mat-chip-option selected appearance="outline" class="" [ngClass]="activeCls ? 'active' :'' "
        (click)="getProductList('trending')">
        Trending
      </mat-chip-option>
      <mat-chip-option (click)="getProductList('release')" color="primary" [ngClass]="!activeCls ? 'active' :'' ">
        New Releases
      </mat-chip-option>
    </div>

    <mat-tab-group disableRipple [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabClick($event)" #tabGroup>
      <mat-tab *ngFor="let cat of mainCatList" [label]="cat.category_name" [id]="cat.category_id"></mat-tab>
    </mat-tab-group>
  </ng-container>

  <ng-container *ngIf="loader">
    <ul class="chiplist toplist">
      <li *ngFor="let i of [0,1]"><span class="smart smartsmall"></span></li>
    </ul>

    <ul class="chiplist bottomlist">
      <li *ngFor="let i of [0,1,2,3,4,5]"><span class="smart smartsmall"></span></li>
    </ul>
  </ng-container>

  <ng-container *ngIf="!dataloader">
    <section class="flex-wrap marT30">

      <section class="cardsWarp custom-flexs-list6">
        <ng-container *ngFor="let data of productData">
          <section class="card1">
            <app-product-card [styleClass]="'smallcard'" [item]="data" [description]="true" [price]="true" [qty]="true"
              [linkTo]="'recomendations'"></app-product-card>
          </section>
        </ng-container>
        <mat-paginator (page)="onPageChange($event)" [length]="totalItems" [pageSize]="18" [pageSizeOptions]="[18, 36]"
          aria-label="Select page"></mat-paginator>
        <section class="nodata" *ngIf="productData.length ==0"> No Products </section>
      </section>

    </section>
  </ng-container>

  <ng-container *ngIf="dataloader">
    <section class="flex-wrap marT30">
      <section class="cardsWarp custom-flexs-list6">

        <section class="card1" *ngFor="let i of [0,1,2,3,4,5,6,7,8]">
          <section class="smart imgsmart"></section>
          <section class="smart line2"></section>
          <section class="smart line3"></section>
        </section>


      </section>

    </section>
  </ng-container>

</div>