<ng-container *ngIf="form">
    <section class="v3_enquiry">
        <h2 class="poptitle">
            {{productEnquiry ? 'Enquiry' : 'Contact Supplier'}} <a (click)="closeInquirypopup()"><mat-icon>close</mat-icon></a>
        </h2>
        <div class="rfqformwrapper dialogrfqformwrapper">


            <form [formGroup]="form" (ngSubmit)="submit(form)">

                <section>
                    <!-- @if (sellerDetails) {
                    @if (sellerDetails.env == "product") {
                    <div class="enq_img_details">
                        <div class="details">
                            <h2>{{sellerDetails.productName}}</h2>
                        </div>
                    </div>
                    } 
                    @else {
                        <div class="enq_img_details">
                            <div>
                                <img [src]="sellerDetails.companyLogo"/>
                            </div>
                            <div class="details">
                                <h2>{{sellerDetails.companyName}}</h2>
                            </div>
                        </div>   
                    }
                    } -->

                    @if(productEnquiry) {
                    <div class="to_details">
                        <div class="row">
                            <div class="col-sm-4" *ngFor="let supplier of suppliers">
                                <div class="company">
                                    <div class="img">
                                        <img [src]="supplier.image"/>
                                    </div>
                                    <p class="name">{{supplier.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mutli_products">
                        <h2 class="smallTitle">Products</h2>

                        <div class="selected" *ngFor="let product of products">
                            <div class="img">
                                <img class="product_img" [src]="product.image"/>
            
                                @if(products.length > 1) {
                                <!-- close icon -->
                                <img (click)="removeProduct(product.id)" class="close_icon" src="/assets/svg/close_icon.svg"/>
                                }
                            </div>
                            <p>{{product.name}}</p>
                        </div>
                    </div>
                    }
                    @else {
                    <div class="mutli_products">
                        <h2 class="smallTitle">Suppliers</h2>

                        <div class="selected" *ngFor="let supplier of suppliers">
                            <div class="img">
                                <img class="product_img" [src]="supplier.image"/>
            
                                @if(suppliers.length > 1) {
                                <!-- close icon -->
                                <img (click)="removeSupplier(supplier.id)" class="close_icon" src="/assets/svg/close_icon.svg"/>
                                }
                            </div>
                            <p>{{supplier.name}}</p>
                        </div>
                    </div>
                    }

                    @if(!productEnquiry) {
                    <section class="fieldsec filedsec-100p">
                        <label>*Product Name</label>
                        <mat-form-field appearance="outline" class="middlefiled">
                            <input matInput type="text" formControlName="product_name" />
                        </mat-form-field>
                    </section>
                    }

                    <!-- <section class="fieldsec filedBlock">
                        <section class="fieldsec filedsec-50p">
                            <label>*Enter Quantity</label>
                            <mat-form-field appearance="outline" class="middlefiled">
                                <input matInput type="text" maxlength="5" appAllowNumbersOnly formControlName="quantity" />
                                <mat-error *ngIf="form.get('quantity')?.hasError('required')">
                                    Quantity is required
                                </mat-error>
                            </mat-form-field>
                        </section>
                        <section class="fieldsec filedsec-50p">
                            <label>*Select Units</label>
                            <mat-form-field appearance="outline" class="middlefiled">
                                <mat-select formControlName="units">
                                    <mat-option *ngFor="let u of units" [value]="u.id">
                                        {{ u.val }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </section>
                    </section> -->

                    <section class="fieldsec filedsec-100p">
                        <label>Enter Detail Description</label>
                        <mat-form-field appearance="outline" class="middlefiled">
                            <textarea appAlphaNumeric matInput formControlName="description"></textarea>
                        </mat-form-field>
                        <!-- <h2>Or choose from these questions:</h2>
                        <ul class="destails_desc" *ngIf="questions && questions.length > 0">
                            <li *ngFor="let q of questions" [class.active]="q === qactive"  (click)="addSentenceToDescription(q)">
                                {{ q }}
                            </li>
                        </ul> -->
                    </section>
                </section>
                <!-- <section class="fieldsec filedsec-100p">
                    <mat-checkbox formControlName="quote_from_others" class="termscheck" color="primary">
                        I want Quotes from other Sellers also
                    </mat-checkbox>
                </section> -->
                <section class="rfqbtnwrap">
                    <button [disabled]="form.invalid" type="submit" class="primary_btn rfq-button">
                        Send Enquiry
                    </button>
                </section>
            </form>
        </div>
    </section>
</ng-container>


<ng-template #thankyoutemplate>
    <h2 class="poptitle">
        Close <a (click)="closeConfirmation()"><mat-icon>close</mat-icon></a>
    </h2>
    <section class="confrmationpopup">
        <mat-icon>check_circle</mat-icon>
        <h3>Thank You</h3>
        <p>Your Request for Enquiry has sent successfully.</p>

        <p>We will get back to you.</p>
    </section>
</ng-template>