.dialogrfqformwrapper {
    width: 100%;
    padding: 20px 20px 0 20px;
    max-height: 80vh;
    overflow: auto;
  }
  .rfqformwrapper {
    & .fieldsec {
      margin-bottom: 20px;
  
      h2{
        color: #A3A3A3;
        font-size: 14px;  
        padding: 10px 0;  
      }
  
      & .mat-mdc-form-field {
        width: 100%;
        border: 1px solid rgba(93, 94, 94, 0.6980392157);
        border-radius: 5px;

        &.mat-focused{
          border: 1px solid #017DB9;
        }
      }
    }
    & .filedsec-100p {
      width: 100%;
    }
    & .filedBlock {
      display: flex;
      gap: 20px;
    }
    & .filedsec-50p {
      width: 50%;
      margin: 0;
    }
  }
  
  .enq_img_details{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  
    img{
      width: 75px;
      height: 60px;
      object-fit: contain;
      background: #f6f6f6;
      border-radius: 3px;
    }
  
    .details h2{
      margin: 0;
      font-size: 16px;
    }
  }
  
  .categorywrapper {
    max-height: 80vh;
    overflow: auto;
  }
  
  .rfqbtnwrap {
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #fff;
    padding: 20px 0;
  }
  .dummyfield {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    display: flex;
    height: 40px;
    align-items: center;
    color: #050505;
  }
  
  .poptitle {
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    & a {
      float: right;
    }
  }
  
  .attr_section {
    background: #f8f8f8;
    padding: 10px;
  }
  
  .box-separate {
    margin-bottom: 30px;
    background: #f6f8f9;
    padding: 20px;
    & h2 {
      font-size: 17px;
      font-weight: 600;
      margin: 0;
      padding: 0 0 10px 0;
    }
  }
  .termscheck {
    font-weight: 400;
  }

  .to_details{

    .company{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-bottom: 20px;

        .img img{
            width: 50px;
            height: 50px;
            object-fit: contain;
            background: #f5f5f5;
            border-radius: 5px;
        }

        .name{
            font-size: 14px;
        }
    }
  }

  .selected{
    display: flex;
    gap: 20px;
    padding: 15px 0;

    .img{
        position: relative;

        .product_img{
            width: 75px;
            height: 75px;
            object-fit: contain;
            background: #f5f5f5;
            border-radius: 5px;
        }

        .close_icon{
            position: absolute;
            right: -7px;
            top: -10px;
            width: 18px;
            background: none;
        }
    }
}
  
  @media screen and (max-width: 770px) {
    .filedBlock {
      flex-wrap: wrap;
    }
    .rfqformwrapper .filedsec-50p {
      width: 100%;
      margin-bottom: 20px;
      padding-right: 0;
    }
  }
  
  .card.rfq-card {
    box-shadow: none;
    margin-bottom: 20px;
  }
  .card.rfq-card {
    & .card-body {
      padding: 8px;
    }
  }
  h5.id-num {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .edit {
    width: auto;
    & mat-icon {
      font-size: 17px;
      width: 17px;
      height: 17px;
    }
  }
  
  .card-ul-rfq {
    & li {
      display: flex;
      width: 100%;
      list-style: none;
      margin-bottom: 10px;
    }
  }
  .ls-name {
    margin-right: 15px;
    min-width: 150px;
    color: #868686;
  }
  .ls-sub-name {
    font-weight: 600;
  }
  .rfqsu {
    color: #02a8df;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
  }
  .rfq-button {
    margin-right: 20px;
  }
  
  .destails_desc {
    margin: 20px 0;
    padding: 0px;
    list-style: none;
    & li {
      padding: 8px 10px;
      font-size: 14px;
      list-style: none;
      margin: 0 0 10px 0;
      cursor: pointer;
      border-radius: 25px;
      border: 1.129px solid #EBEBEB;
      background: #FFF;
      text-align: center;
  
      &:hover, &.active {
        background: #EFFBFF;
        color: #017DB9;
      }
    }
  }
  