<ng-container *ngIf="!loader; else loading">
<section *ngIf="!isInvalidLink; else invalidUrl" class="sm_space">
    <div class="main-container">
        <div class="row">
            <div class="col-sm-10">
                <h1 *ngIf="wishListData" class="mainTitle">You have been invited to collaborate on <span class="text_primary">{{wishListData.folder_name}}</span> by {{wishListData.buyer_name}}</h1>
                <p>You'll show up in the List.</p>
                <div class="profile_img">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                        <path d="M24.9998 4.16699C13.4998 4.16699 4.1665 13.5003 4.1665 25.0003C4.1665 36.5003 13.4998 45.8337 24.9998 45.8337C36.4998 45.8337 45.8332 36.5003 45.8332 25.0003C45.8332 13.5003 36.4998 4.16699 24.9998 4.16699ZM24.9998 12.5003C29.0207 12.5003 32.2915 15.7712 32.2915 19.792C32.2915 23.8128 29.0207 27.0837 24.9998 27.0837C20.979 27.0837 17.7082 23.8128 17.7082 19.792C17.7082 15.7712 20.979 12.5003 24.9998 12.5003ZM24.9998 41.667C20.7707 41.667 15.7707 39.9587 12.2082 35.667C15.8573 32.8039 20.3615 31.2478 24.9998 31.2478C29.6381 31.2478 34.1423 32.8039 37.7915 35.667C34.229 39.9587 29.229 41.667 24.9998 41.667Z" fill="#999999"/>
                    </svg>
                    <p *ngIf="userObj" class="profile_name">{{userObj.name}}</p>
                </div>
                <p>If you Join or Leave this List or add or remove items from the List, we will send notifications about your activities, including your name, to other collaborators of the list.</p>
                <div class="text-end pt-4">
                    <button (click)="cancelInvite()" class="grey_stroked_btn">Cancel</button>
                    <button (click)="acceptWishlistShareRequest()" class="primary_btn ms-3">Accept and join the list</button>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #invalidUrl>
    <section class="invalid-url">
       <h1>
        The link is either invalid or expired
       </h1>
    </section>
</ng-template>
</ng-container>

<ng-template #loading>
    <section class="invalid-url">
        <h1>
         Loading...
        </h1>
     </section>
</ng-template>