<section class="main-container">
<section class="cardsWarp custom-flexs-list6">
  <ng-container *ngFor="let data of products">
    <section class="card1">
      <app-product-card
        [styleClass]="'smallcard'"
        [item]="data"
        [description]="true"
        [price]="true"
        [qty]="true"
        [linkTo]="'recomendation'"
        [showFav]="true"
      ></app-product-card>
    </section>
  </ng-container>
    
  <section class="nodata" *ngIf="noFavoritesFound">  No Favorites Yet... <br> Go... Shop... Add... </section>
</section>

<!-- Product Loaders start-->
<section *ngIf="justForYouLoad" class="flex-wrap">
  <section class="cardsWarp custom-flexs-list6">
    <section class="product-cards-list second" *ngFor="let i of [0, 1, 2, 3, 4, 5]">
      <section class="smart second"></section>
      <section class="smart card-c-one"></section>
      <section class="smart card-c-two"></section>
    </section>
  </section>
</section>
</section>