.cardsWarp {
  display: flex;
  flex-wrap: wrap;
}
.custom-flexs-list6 {
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 35px;
  & .card1 {
    width: 16.66%;
    padding: 0 18px;
  }
}
.nodata {
  width: 100%;
  padding: 100px 0;
  text-align: center;
  font-weight: 500;
  font-family: inter;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.cardsWarp .itemBlocks {
  padding: 10px;
  width: 33%;
}

.product-cards-list {
  width: 33%;
  padding-right: 10px;
}

section.product-cards-list.second {
  width: 16.5%;
  padding: 0px;
  padding-left: 10px;
}

section.smart.second {
  border-radius: 20px;
  height: 256px;
}

section.smart.card-c-one {
  margin-top: 5px;
  height: 25px;
}

section.smart.card-c-two {
  margin-top: 8px;
  height: 14px;
}
