<!-- Loader Starts -->
<div class="main-container" *ngIf="loader">
  <section class="loader-wrap">
    <section><span class="smart titletext"></span></section>
    <section class="smart text-1"></section>

    <section class="manu-loader" *ngFor="let i of [1, 2, 3, 4]">
      <section class="loader-img">
        <section class="text-img"></section>
      </section>
      <section class="loader-desc">
        <section class="smart text-1"></section>
        <section class="smart text-2"></section>
        <section class="smart text-3"></section>
        <section class="smart text-4"></section>
        <section class="smart text-5"></section>
      </section>

      <section class="loader-product">
        <section class="text-img-small"></section>
        <section class="text-img-small"></section>
        <section class="text-img-small"></section>
      </section>
    </section>
  </section>
</div>
<!-- Loader Ends -->

<ng-container *ngIf="!loader">
  <div class="main-container">
    <h2>Top-ranking manufactures</h2>

    <section class="topbox">
      <h2>Most popular</h2>
      <h3>Most popular</h3>
      <p>
        Products are automatically ranked based on buyer inquires. Updated daily
      </p>
    </section>

    <ng-container *ngFor="let product of mfgData">
      <app-mfg-list [item]="product"></app-mfg-list>
    </ng-container>
  </div>
</ng-container>
