app-mfg-list {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.loadersec {
  min-height: 300px;
  text-align: center;
  padding-top: 50px;
  & mat-spinner {
    margin: 0 auto;
  }
}
.loader-wrap {
  padding-top: 30px;
}
.manu-loader {
  display: flex;
  align-items: center;
  margin-top: 20px;
  & > section.loader-img {
    flex: 0 0 200px;
  }
  & .loader-product {
    flex: 0 0 300px;
    display: flex;
    & section {
      margin: 0 10px;
    }
  }
  & .loader-desc {
    flex: 1;
  }

  & .text-img-small {
    width: 80px;
    height: 100px;
  }
  & .text-img {
    width: 120px;
    height: 100px;
  }
  & .text-1 {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
  }
  & .text-2 {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
  }
  & .text-3 {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
  }
  & .text-4 {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
  }
  & .text-5 {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
  }
}
.titletext {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  display: inline-block;
}
.topbox {
  background: #30b1d7;
  border-radius: 4px;
  width: 100%;
  padding: 20px 20px;
  margin: 20px 0;
  color: #fff;
}
