<app-header></app-header>

<div class="page-content1 main-container">
  <h1 class="about-h1">About Us</h1>
  <h4 class="heading-h4">Vision</h4>
  <p>
    To be the single platform that connects all educational institutions and
    manufacturers in India for their business procurements and sales.
  </p>
  <h4 class="heading-h4">Mission</h4>
  <p>
    To create an organized marketplace that provides various products or
    services to educational institutions and enables buyers and sellers to
    redefine their procurement and marketing processes.
  </p>
  <h4 class="heading-h4">Beliefs</h4>
  <p>
    Our Exclusive marketplace, through our personalized features, reinforces our
    belief to create a unique platform where buyers and sellers can meet to find
    the right fit for their business needs. The exclusive features of our
    marketplace enable the buyers to buy the right products through a wide range
    of choices offered to them, while simultaneously enabling the sellers to
    find the right buyer through a wide range of markets offered to them.
    <br />
    To give a pragmatic shape to our philosophy, we have conceived an exclusive
    marketplace with various features for buyers such as Preview, Meet, Live,
    Stories, Play and Learn and for sellers such as Account-Based Marketplace &
    Customer Centric Catalog to personalize the sourcing experiences of buyers
    and selling experiences of sellers by fully equipping them to overcome every
    business challenge.
  </p>
  <h4 class="heading-h4">Values</h4>
  <p>
    Our business is built on the core values of ethical business practices. We
    don't offer premium memberships and paid promotions to sellers on our
    platform, who are sorted based on their organic strength to give authentic
    buying experience to buyers. We don't take any unfair advantage from both
    buyers and sellers. We provide equal opportunity to sellers on our platform
    to promote their products/services organically. We ensure educational
    institutions directly benefit from their promotions through our features
    such as Stories, Play and Learn.
  </p>
  <h4 class="heading-h4">About Us</h4>
  <p>
    MyVerkoper is an exclusive B2B e-marketplace that connects educational
    institutions with manufacturers meeting their needs.
  </p>
  <p>
    Our services provide a range of choices to increase the efficacy of buyers
    in procurement and sellers in marketing processes, thereby transforming the
    way they operate their business processes. Our integrated platform enables
    buyers and sellers to engage with each other more efficiently.
  </p>
  <p class="mb-5">
    MyVerkoper was incorporated in 2018 but the idea for the company was
    conceived by its founder, Mr. Nithin, a year before its incorporation. He
    has completed his Master’s in Business Administration (MBA) and earlier
    worked with Xseed Education, with five years of experience in the education
    industry. He has always been obsessed with improving efficiencies through
    better organization in every aspect of life. Moreover, his stint with the
    highly unorganized educational industry triggered in him the idea of
    organizing it through an exclusive e-marketplace for educational
    institutions. He observed the need for bridging the gap between
    manufacturers and educational institutions to improve their business
    efficiencies by providing better communication between them. This led to the
    conception of the exclusive e-marketplace, MyVerkoper.
  </p>
</div>

<app-footer></app-footer>
