<!-- header section -->
<section class="signup-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- <app-logo></app-logo> -->
        <a routerLink="/">
          <div id="logosec">
            <img class="myverkoper-buyer-logo" src="./../../../../assets/images/buyer-logo.png"/>
            <span class="beta-text"> Beta </span>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 mp-0">
        <section class="rightheader">
          Already Have an account?
          <a class="login-button-signup text_primary" routerLink="/signin"> Sign In </a>
        </section>
      </div>
    </div>
  </div>
</section>

<!-- signup section -->
<section class="container-fluid">
  <div class="row signwrap">
    <!-- Left section -->
    <div class="col-md-6">
      <div class="leftsign">
        <!-- <div class="signinner"> -->
          <section class="pfixed">
          <app-carousel [text]="'up'" [section]="currentSlide" [signin]="true"></app-carousel>
          </section>
        <!-- </div> -->
      </div>
    </div>

    <!-- Right Section -->
    <div class="col-md-6 rightsidesign">
      <section class="datawrapsignin main-full-section">
        <!-- Step 1 Signup with mobile -->
        <section *ngIf="currentSlide === 1" class="innersec step1 mobilesectionsignup">
          <h3 class="formTitles">Sign Up for the best experience</h3>
          <p class="formslogan logslogan">
            You can update or remove your account at any time.
          </p>
          <app-mobile (next)="showNextSlide($event)"></app-mobile>
          <!-- <button color="primary" class="btn signUpbtn" mat-raised-button (click)="showNextSlide()">Next</button> -->
        </section>

        <!--Step 2 Personal details Section -->
        <section *ngIf="currentSlide === 2" class="innersec step2">
        <!-- User Name -->
        <ng-container>
          <form>
            <h3 class="formTitles">What should we call you?</h3>
            <p class="formslogan">Tell us about yourself.</p>
            <section>
              <mat-form-field  appearance="outline" class="smallfiled w-100">
                <input appRejectSpecialCharacters matInput  [formControl]="user_name" placeholder="Name">
              </mat-form-field>
              <div *ngIf="nameRequired" class="error_msg">Name is required</div> 
            </section>
          </form>
        </ng-container>
        <!-- User Email -->
        <ng-container *ngIf="showEmail">
          <h3 class="formTitles mt-4 mb-4">Email Id</h3>
          <section>
            <app-email
              [userName]="user_name.value"
              [mobileNumber]="mobileNumber"
              (next)="emailUpdated()"
              (emitError)="nameError($event)"
            ></app-email>
            <p [style.color]="'red'" *ngIf="showEmailError">Email must be Verified</p>
            <!-- <p [style.color]="'red'" *ngIf="showSelectedOptionError">Role must be selected</p> -->
          </section>
        </ng-container>   
        <!-- <button mat-raised-button class="primaryBtn bigbtn mT30" [disabled]="!form2.valid" (click)="submitStep2(form2.value)" color="primary" >Next</button> -->
        </section>

        <!--Step 3 Business Details section -->
        <section *ngIf="currentSlide === 3" class="innersec step1 mobilesectionsignup">
          <!-- School name and pincode -->
          <ng-container>
            <!-- <h1>
              <label>{{ signupStepsData[1].step_title }}</label>
            </h1>
            <p>
              <label>{{ signupStepsData[1].step_description }}</label>
            </p> -->
            <form *ngIf="signupStepsData.length > 0" [formGroup]="form1" (ngSubmit)="submitStep3(form1.value)">
              <h3 class="formTitles">{{ signupStepsData[1].step_title }}</h3>
              <p class="formslogan">{{ signupStepsData[1].step_description }}</p>
              <section>
                  <mat-form-field  appearance="outline" class="smallfiled w-100">
                      <input appRejectSpecialCharacters matInput  formControlName="school_name" placeholder="School Name">
                  </mat-form-field>
              </section>
              <!-- <section>
                  <mat-form-field  appearance="outline" class="smallfiled">
                      <input matInput appRejectSpecialCharacters formControlName="school_name" placeholder="School Name">
                  </mat-form-field>
              </section> -->
                <section style="width: 65%">
                    <h3 class="formTitles">{{ signupStepsData[3].step_title }}</h3>
                    <p class="formslogan">{{ signupStepsData[3].step_description }}</p>
                    <mat-form-field  appearance="outline" class="smallfiled w-100">
                        <input appAllowNumbersOnly matInput type="text" maxlength="6" (input)="pincodeVerify()" pattern="[0-9]{6}" formControlName="pincode" placeholder="Pincode">
                    </mat-form-field>
                    <p [style.color]="isPincodeValid ? 'green' : 'red'">{{pinResponse}}</p>
                </section>
                <button [disabled]="!form1.valid || !isPincodeValid" class="primary_btn py-2">Submit</button>
                <!-- <button mat-raised-button class="primaryBtn bigbtn" [disabled]="!form1.valid || !isPincodeValid" type="submit" color="primary" >Next</button> -->
            </form>
          </ng-container>
        </section>

      </section>
    </div>
  </div>
</section>
