.page-content {
  max-width: 1480px;
  margin: 0 auto;
}
.privacy-policy h5 {
  font-size: 14px;
  font-style: italic;
}
section.privacy-policy ul li {
  padding-left: 0px;
  border: none;
}

section.privacy-policy p span {
  padding-left: 20px;
}
.list-b {
  list-style-type: disc;
}
section.privacy-policy {
  margin-bottom: 35px;
}
section.privacy-policy p {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
}
