<app-header></app-header>
<div class="page-content1 main-container">
    <!-- <iframe src="https://dev-api.myverkoper.com/html/v2/shipping-and-exchange" width="100%" height="400px"></iframe> -->
    <section class="privacy-policy">
        <h2 class="mb-1">Cancellation and Refund Policy</h2>
      
        <p>
            This Cancellation and Refund Policy governs the terms and conditions under which cancellations and refunds are
            processed by MyVerkoper, an exclusive e-commerce marketplace facilitating collaborations between buyers
            (education institutions), and sellers (vendors providing goods or services). By engaging in transactions on the
            MyVerkoper platform, sellers agree to abide by the stipulations outlined herein.
        </p>
        <p>
            <strong>No Refund for Wallet Recharge:</strong>
            Once a wallet recharge is successfully completed, the company expressly states that there is no provision for
            refunding the recharged amount. Users are advised to exercise caution and due diligence before initiating wallet
            recharge transactions, as refunds will not be facilitated under any circumstances.
        </p>
        <p>
            <strong>Refund in the Case of Unresponsive Buyers:</strong>
            In the event that the buyer remains non-responsive despite attempts made by the seller through the MyVerkoper
            platform's chat or call options, the seller reserves the right to process a refund. However, it is imperative to
            note that this provision is contingent upon the buyer's failure to engage in communication initiated by the
            seller through the MyVerkoper platform’s chat or call option. Refunds under this condition will be credited to
            the seller's MyVerkoper wallet, and not to any external bank account.
        </p>
        <p>
            <strong>No Cancellation for RFQ:</strong>
            Requests for Quotation (RFQ) raised on the MyVerkoper platform are exempt from cancellation under any
            circumstances. Once an RFQ is initiated, it is considered binding, and sellers are obligated to fulfil the terms
            and conditions stipulated therein. The MyVerkoper will not entertain requests for cancellation related to RFQ
            transactions.
        </p>
        <p>
            Sellers are advised to carefully review and comprehend these conditions before engaging in any transactions on
            the MyVerkoper platform. MyVerkoper reserves the right to modify or amend this policy at its discretion, and
            such changes will be communicated to users through the platform. By continuing to use the MyVerkoper platform,
            users implicitly accept and agree to abide by the most recent version of this Cancellation and Refund Policy.
        </p>
      </section>
      
</div>
<app-footer></app-footer>