.signup-header{
  
  img.myverkoper-buyer-logo {
    max-height: 45px;
    z-index: 4;
  }
  #logosec{
    position: relative;
    width: fit-content;
  }
  span.beta-text {
      font-size: 8px !important;
      border-radius: 10px;
      color: #01b9f5;
      position: absolute;
      top: 0px;
      right: -31px;
      height: 16px;
      line-height: 15px;
      margin-left: 10px;
      font-weight: 600;
      border: 1px solid #01b9f5;
      padding: 0px 7px;
      z-index: 4;
  }
}

.loginlogo {
  max-width: 300px;
}

.formTitles {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;

  line-height: 1.5;

  text-align: left;
  color: #333;
  letter-spacing: -1px;
}

.formslogan {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  letter-spacing: 0.1px;
  color: #545454;
}

.terms_font {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: #333333;

  & a {
    color: #2b78c6 !important;
    text-decoration: none;
  }
}

.marT20 {
  margin-top: 20px;
}

.selectedImg {
  height: 25px;
  width: 19px;
  margin-right: 10px;
  object-fit: contain;
}

.countrycode {
  border: 0;
}

.text-btn {
  color: #017db9;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.breakline {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 20px;

  & span {
    background: #fff;
    display: inline-block;
    position: relative;
    z-index: 9;
    padding: 0 5px;
  }

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 9px;
    height: 1px;
    background: #02a8df;
    content: "";
  }
}

.socail_icons {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;

  & a {
    margin: 0 10px;
    width: 35px;
    height: 35px;
    background: #e6f8fe;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.login-button {
  background: #02a8df !important;
  color: #fff !important;
  box-shadow: none !important;
  border-radius: 4px !important;
}

.btnswrap {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btnswrap a {
  color: #2b78c6;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

.signwrap {
  min-height: calc(100vh - 66px);
}

.loginlogo {
  max-height: 45px;
}

.signup-header {
  padding: 10px 0;
  height: 66px;
}

app-signinform {
  min-height: 100%;
  height: 100%;
  display: flex;
}

::ng-deep mat-label.ng-tns-c64-3 {
  background: red !important;
}
