<!-- header section -->
<section class="signup-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- <app-logo></app-logo> -->
        <a routerLink="/">
          <div id="logosec">
            <img class="myverkoper-buyer-logo" src="./../../../../assets/images/buyer-logo.png"/>
            <span class="beta-text"> Beta </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Main section -->
<div class="container-fluid">
  <div class="row signwrap">
    <div class="col-lg-6 col-md-6">
      <div class="leftsign">
        <!-- Left carousel -->
        <div class="signinner">
          <!-- <img
          src="../../../../assets/images/sign-img1.png"
          class="d-block w-100"
          alt="..."
        />
        <h3>Find products and sellers</h3>
        <p>Get started to effortlessly browse products, choose the  products and connect with verified sellers.</p> -->
          <app-carousel [text]="'in'" [section]="1" [signin]="true"></app-carousel>
        </div>
      </div>
    </div>
    <!-- Right side steps -->
    <div class="col-lg-6 col-md-6 col-sm-12 rightsidesign">
      <app-signinform></app-signinform>
    </div>
  </div>
</div>
