<app-region-banner [bannerDetails]="datanew"></app-region-banner>

<div #productsView class="main-container">
 <section class="tab-banner-chips-normal">

  <div class="mobiletabwrapper linetabstyle">
    <ul>
      <li *ngFor="let category of mainCatList; let i=index"> 
         <button (click)="setActiveTab(i)" [class.selectedtab]="i === activeTab">{{ category.category_name }}</button>
        </li>
        </ul></div>

  <mat-tab-group (selectedTabChange)="onTabClick($event)" #tabGroup class="onlydesktop">
    <ng-container *ngFor="let cat of mainCatList">
      <mat-tab label="{{ cat.category_name }}"></mat-tab>
    </ng-container>
  </mat-tab-group>
</section>
  <!-- <mat-list *ngIf="mfgData && mfgData.length > 0" role="list">
    <mat-list-item
      *ngFor="let cat of CategoryList.slice(0, 6)"
      class="man-list-tab-button"
      role="listitem"
    >
      <button
        (click)="subChange(cat.pk_id)"
        class="btn-manf-list"
        mat-raised-button
        color="primary"
      >
        {{ cat.cat_name }}
      </button>
    </mat-list-item>
  </mat-list> -->

  <!-- loader start -->
  <section class="loader-wrap" *ngIf="loader">
    <section class="manu-loader" *ngFor="let i of [1, 2, 3, 4]">
      <section class="loader-img">
        <section class="text-img"></section>
      </section>
      <section class="loader-desc">
        <section
          *ngFor="let i of [1, 2, 3, 4, 5]"
          [class]="'smart text-' + i"
        ></section>
      </section>

      <section class="loader-product">
        <section *ngFor="let i of [0, 1, 2]" class="text-img-small"></section>
      </section>
    </section>
  </section>
  <!-- loader end -->

  <ng-container *ngIf="collection.length > 0">
    <app-mfg-list
      *ngFor="let product of collection | paginate: { itemsPerPage: 5, currentPage: p, totalItems: totalCount }"
      [item]="product">
    </app-mfg-list>
    <section class="paginator">
      <pagination-controls [maxSize]="5" (pageChange)="onPageChange2($event)"></pagination-controls>    
    </section>
  </ng-container>

  <ng-container *ngIf="noProdFound">
    <app-nodata></app-nodata>
  </ng-container>

  <router-outlet></router-outlet>
</div>
