.grid-images-s {
  width: 50%;
  float: left;
  padding: 10px;
  position: relative;
  & img {
    width: 100%;
    border-radius: 10px;
  }
  & h3 {
    position: absolute;
    bottom: 18px;
    color: black;
    padding-right: 10px;
    text-align: left;
    padding-left: 32px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) {
  .grid-images-s {
    width: 100%;
    padding: 10px;
    position: relative;
    & h3 {
      position: absolute;
      bottom: 0px;
      color: black;
      padding-right: 10px;
      text-align: left;
      padding-left: 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
