<section>
  <div class="grid-images-s">
    <img
      src="../../../../assets/images/4.webp"
    />
    <h3>
      Ipsum passages, and more recently with desktop publishing software like
      Aldus PageMaker including versions of Lorem Ipsum.
    </h3>
  </div>
  <div class="grid-images-s">
    <img
      src="../../../../assets/images/4.webp"
    />
    <h3>
      Ipsum passages, and more recently with desktop publishing software like
      Aldus PageMaker including versions of Lorem Ipsum.
    </h3>
  </div>
  <div class="grid-images-s">
    <img
      src="../../../../assets/images/4.webp"
    />
    <h3>
      Ipsum passages, and more recently with desktop publishing software like
      Aldus PageMaker including versions of Lorem Ipsum.
    </h3>
  </div>
  <div class="grid-images-s">
    <img
      src="../../../../assets/images/4.webp"
    />
    <h3>
      Ipsum passages, and more recently with desktop publishing software like
      Aldus PageMaker including versions of Lorem Ipsum.
    </h3>
  </div>
</section>
