<section class="header-section">
    <h1> <span (click)="close()"><mat-icon class="closeIcon">close</mat-icon></span> Quotation Details </h1>
    <!-- <button class="stroked_btn me-3"> Request for Update </button> -->
    <!-- <button class="primary_btn"> Start Order </button> -->
</section>
<h2 class="h2_title">Quotation From</h2>
<section class="media-object">
    <img [src]="companyDetails.seller_company_logo" />
    <section class="media-text">
        <h4> {{companyDetails.seller_name}} </h4>
        <p> {{companyDetails.company_name}} </p>
    </section>
</section>
<!-- <div class="related_rfq">Related RFQ ></div> -->
<section class="product-text">
    <h3> No.1 Product information: </h3>
</section>
<section class="media-two">
    <img [src]="productDetails.image" />
    <section class="media-text-tw">
        <h4> {{productDetails.name}} </h4>
        <p> {{productDetails.experience}} </p>
    </section>

</section>
<section class="product-details">
    <h3> Product details </h3>
    <p>
        {{productDetails.details}}
    </p>
</section>
<section class="product-details">
    <h3> Key Attributes </h3>
    <div class="mvk_listtable">
        <table>
            <tbody>
                @for (key of productDetails.keys; track $index) {
                <tr>
                    <th>{{key}}</th>
                    <td>{{productDetails.values[$index]}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<section class="gallery-image">
    <ul class="list-group list-group-horizontal">
        @for (image of productImages; track $index) {
        <li class="list-group-item">
            <img [src]="image" />
        </li>
        }
    </ul>
    <p>
        {{productDetails.description}}
    </p>
</section>
<!-- <section class="product-details">
    <h3> Sample information </h3>
    <div class="mvk_listtable">
        <table>
            <tbody>
                <tr>
                    <th>Shipping terms</th>
                    <td>FOB</td>
                </tr>
                <tr>
                    <th>Port</th>
                    <td>Shenzhen</td>
                </tr>
                <tr>
                    <th>Payment terms</th>
                    <td>T/T</td>
                </tr>
                <tr>
                    <th>Estimated shipping date</th>
                    <td>2023-04-30</td>
                </tr>
            </tbody>
        </table>
    </div>
</section> -->