.flex-product {
  display: flex;
  width: 100%;

  & .product-sidebar {
    flex: 0 0 350px;

    .x-rounded-stroke{
      border-radius: 20px!important;
    }

    .company_info{
      margin-bottom: 20px;

      h1{
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        word-break: break-word;
      }

      h2{
        font-size: 14px;
        font-weight: 500;
      }

      .country{
        display: flex;
        align-items: center;

        p{
          margin: 0 0 0 10px;
        }
        
        .years{
          font-size: 12px;
          padding: 2px 8px;
          border: 0.5px solid #B0B0B0;
          border-radius: 3px;
        }
      }
    }

    .supplier{
      background: none;
      border: 1px solid #B0B0B0;
      position: relative;
      cursor: pointer;

      .quantity-price{
        float: inherit;
        display: flex;
      }
      .guaranteed_delivery{
        justify-content: flex-start;
      }

      .supplier_link{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 24px;
      }
    }

    .more_hover{
      position: relative;

      .more_details{
        color: #02A8DF!important;
        font-weight: 500;
        position: relative;
      }

      .more_details:before{
        position: absolute;
        content: "";
        background: #ffffff;
        border-top: 1px solid #8a8a8a;
        border-right: 1px solid #8a8a8a;
        z-index: 1;
        width: 12px;
        height: 12px;
        left: -25px;
        top: 2px;
        transform: rotate(45deg) translate(0, 0);
        visibility: hidden;
      }

      .more_hover_details{
        position: absolute;
        right: 107%;
        top: 50%;
        transform: translate(0, -50%);
        background: #fff;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        border: 1px solid #8A8A8A;
        padding: 20px;
        width: 375px;
        display: none;
        z-index: 1;
      }

      .more_details:hover + .more_hover_details{
        display: block;
      }

      .more_details:hover:before{
        visibility: visible;
      }

    }

    .order_title{
      color: #33333380;
      font-weight: 500;
    }
  }

  & .product-content {
    flex: 1;
    max-width: calc(100% - 350px);
    padding-right: 30px;
  }
}

.sold_verify{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .sold_by{
    margin: 0;
    font-weight: 500;

    span{
      color: #02A8DF;
      font-weight: 600;
    }
  }

  img{
    width: 65px;
  }
}

.sold_details{
  display: flex;
  align-items: center;
  padding: 10px 0;

  .years{
    font-size: 12px;
    font-weight: 500;
    padding: 2px 8px;
    border: 0.5px solid #B0B0B0;
    border-radius: 3px;
  }

  .company_count{
    font-weight: 500;
    margin-left: 15px;
  }
}

.on_time{
  font-weight: 600;
  color: #008000;
  margin: 0;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.cardsWarp {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.custom-flexs-list6 {
  width: 100%;
  flex-wrap: wrap;

  & .card1 {
    width: 20%;
    padding: 0 12px 24px 12px;
  }
}

// .ngxImageZoomFullContainer {
//   z-index: 3;
// }

svg.filled-star {
  fill: #fec835;
  margin-right: 2px;
  width: 12px;
  height: 12px;
}

svg.filled-star-gray {
  fill: #cac8c8;
  margin-left: 2px;
  width: 12px;
  height: 12px;
}

.top-product-section {
  display: flex;
  width: 100%;

  & .product-image-gallary {
    flex: 0 0 200px;
    position: sticky;
    top: 125px;
    height: fit-content;
  }

  & .product-spec {
    flex: 1;
  }
}

ul.disply-spec {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    display: table-row;

    & > div {
      display: table-cell;
    }
  }
}

.image {
  width: 100%;
}

.top-product-section {
  display: flex;
  width: 100%;

  & .product-image-gallary {
    width: 300px;
    margin-right: 10px;
    flex: 0 0 200px;
    padding-right: 30px;
  }

  & .product-spec {
    flex: 1;

    & .products-shipping-chips {
      margin-bottom: 20px;
    }

    & span.filled-chip {
      font-size: 12px;
      border-radius: 30px;
      background-color: rgba(0, 227, 0, 0.6);
      padding: 3px 8px;
      color: white;
      font-family: "Inter";
      margin-right: 8px;
    }

    & span.unfilled-chip {
      background-color: rgba(0, 227, 0, 0.1);
      color: rgba(0, 227, 0, 1);

      & mat-icon {
        font-size: 12px;
        width: auto;
        height: auto;
        position: relative;
        top: 2px;
      }
    }
  }
}

span.chip-seperate {
  margin-right: 10px;
}

.product-spec {
  & .product-heading {
    & h3 {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 7px;
      word-break: break-word;
    }
  }
}

span.treding-text {
  font-size: 12px;
  background-color: #e6e6e6;
  /* padding: 6px; */
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  color: #545454;
  font-family: "Inter";
  margin-left: 10px;
}

.product-spec {
  & .product-rating-card {
    & mat-icon {
      font-size: 22px;
      color: #fec835;
      margin-right: 0px;
    }

    & .rating-count {
      color: #ed5e0d;
      font-weight: 700;
      margin-left: 5px;
      font-family: Inter;
      position: relative;
    }

    & span {
      color: #242424;
      font-weight: normal;
      font-size: 14px;
      margin-left: 5px;
      font-family: "Inter";
    }

    & .buyers {
      color: #545454;
      letter-spacing: normal;
      text-align: left;
      font-weight: normal;
      font-family: "Inter";
      margin-left: 20px;
    }
  }
}

section.product-rating-card {
  margin-bottom: 0px;
}

.product-spec {
  & .verify-product {
    & .check-icons {
      color: #545454;
      font-size: 22px;
    }

    & .verfi-content {
      margin-left: 10px;
      color: #333333;
      font-family: Inter;
      font-size: 14px;
      position: relative;
      top: -6px;

      & a {
        color: #333333;
      }
    }
  }
}

section.verify-product {
  margin-bottom: 40px;
}

.product-spec {
  & .product-price {
    & h3 {
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 0px;

      & .basic {
        color: #525454;
        font-size: 14px;
        font-family: "Inter";
      }

      & .pieces {
        font-size: 14px;
        color: #3fa950;
        margin-left: 15px;
        font-family: "Inter";
      }
    }
  }
}

section.product-price {
  // margin-bottom: 10px;

  // background: #f8f8f8;
  // padding: 6px 20px;
  margin-top: 20px;
}

.product-spec {
  & .disply-spec {
    & h4 {
      color: #000;
      font-weight: 600;
      font-size: 14px;
      font-family: "Inter";
    }
  }

  & .benfi-pragh {
    & P {
      color: #333;
      font-size: 14px;
      font-weight: normal;
      font-family: "Inter";
    }
  }

  & .color-boxes {
    background: red;
    width: 30px;
    height: 30px;
    display: -webkit-inline-box;
    margin-right: 10px;
    border-radius: 50%;
  }
}

.product-spec {
  & .disply-spec {
    & > li > div {
      padding-top: 10px;
    }
    & h4 {
      color: #000;
      font-weight: 500;
      margin: 0;
      font-size: 14px;
    }
    & p {
      margin: 0;
      color: #333333;
      font-size: 13px;
    }
  }

  & .benfi-pragh {
    & P {
      color: #333;
      font-size: 14px;
      font-weight: normal;
      font-family: "Inter";
    }

    & .color-boxes {
      width: 30px;
      height: 30px;
      display: -webkit-inline-box;
      margin-right: 10px;
      border-radius: 50%;
    }
  }
}

.color-boxes.one {
  background: #e0e4e6 !important;
}

.color-boxes.two {
  background: #a6cabf !important;
}

.color-boxes.three {
  background: #fed8d9 !important;
}

.color-boxes.four {
  background: #fd957c !important;
}

.color-boxes.five {
  background: #f8e53b !important;
}

.product-spec {
  & .benfi-pragh {
    & .buttons-drive {
      margin-right: 10px;
      border-radius: 2px !important;
      font-size: 14px;
      color: #333333;
      border: solid 1px #e6e6e6;
    }
  }

  & .modal-no.three {
    & .buttons-drive.count {
      width: 40px;
      height: 34px;
      position: relative;
      top: -7px;
      font-size: 18px;
      font-weight: normal;
      color: #8a8a8a;
    }
  }
}

button.buttons-drive.count.center {
  width: 50px !important;
}

.benfi-pragh {
  & .products-list-table {
    margin-top: 20px;
  }
}

.modal-no-card {
  & .modal-no.three {
    & .buttons-drive.count {
      width: 40px;
      height: 34px;
      position: relative;
      top: -7px;
    }
  }
}

.benfi-pragh {
  & .products-list-table {
    margin-top: 20px;
    border-color: #b0b0b0;
    border-radius: 2px;
    & th,
    & td {
      color: #333;
      font-size: 13px;
      font-weight: normal;
      border-color: #b0b0b0;
    }
  }
}
hr {
  border-color: #b0b0b0;
}
.benfi-pragh {
  & .modal-no-card {
    display: flex;
    margin-bottom: 5px;

    & .modal-no.one {
      width: 260px;

      & span.data {
        color: #333;
        font-size: 14px;
        font-family: "Inter";
        font-weight: 500;
      }
    }

    & .modal-no.two {
      width: 120px;

      & span.price {
        color: #000;
        font-size: 14px;
        font-family: "Inter";
        font-weight: 600;
      }
    }
  }
}

.buttons-drive.count {
  min-width: 10px;
}

.benfi-pragh {
  & .full-price {
    color: #333333;
    font-size: 14px;
    font-family: "Inter";
    font-weight: 600;
    margin-right: 10px;
  }

  & .full-stock-pieces {
    color: #333333;
    font-size: 14px;
    font-family: "Inter";
  }
}

.benfi-pragh {
  & span.shipping-text {
    color: #333333;
    font-weight: 400;
    font-family: "Inter";
    font-size: 13px;

    & span.ship-imp {
      color: #53c42a;
    }
  }
}

ul.disply-spec {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    display: table-row;

    & > div {
      display: table-cell;
    }
  }
}

.sidenavbar-bg {
  background-color: #f5fcff;
  border-radius: 8px;
  padding: 18px;
  margin-top: 10px;
}

.sidenavbar-bg {
  & .order-quantiy-price {
    & p {
      color: #525454;
      font-family: "Inter";
    }

    & p.mt-2.mb-1.seller-method {
      width: 100%;
      text-align: right;
    }

    & p.delivery-text {
      color: #2d7839 !important;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      font-family: "Inter";
      margin-top: 20px;
      margin-bottom: 20px;
    }

    & button.order-buttons {
      width: 100%;
      margin-bottom: 10px;
      padding: 20px !important;
      border-radius: 10px;
      font-weight: 600;
      font-size: 14px;
      font-family: "Inter";
      color: #017db9;
      border: solid 1px #02a8df;
    }

    & .order-buttons.active-button {
      background-color: #02a8df;
      color: white;
    }

    & .left-price {
      color: #525454;
      font-size: 14px;
      font-weight: 500;
      font-family: "Inter";

      & b {
        font-size: 14px;
        color: #000000;
        font-family: "Inter";
      }
    }
  }

  & .quantity-price {
    float: right;
    color: #33333380;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;

    & span {
      float: right;
      color: #000;
      font-weight: 600;
      font-size: 16px;
      font-family: "Inter";

      margin-left: 10px;
    }
  }
}

.leads-days {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  font-family: "Inter";
  width: 100%;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img{
    margin-left: 5px;
    width: 15px;
  }
}

.guaranteed_delivery{
  color: #3FA950;
  font-size: 12px;
  font-weight: 500;
  font-family: "Inter";
  width: 100%;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img{
    margin-left: 5px;
    width: 15px;
  }
}

section.sidenavbar-bg.outline {
  background: none;
  border: 1px solid #8bdffa;

  & h4 {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    font-family: "Inter";
  }
}

.sidenavbar-bg {
  list-style: none;
  & .products-counts {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100% !important;

    & .product-counts-list {
      width: 50%;
      height: auto;
      margin-bottom: 0px;
      margin-top: 20px;

      & div {
        color: #242424;
        font-size: 16px;
        font-weight: 600;

        font-family: "Inter";
      }

      & span {
        font-size: 12px;
        color: #333333;
        font-family: "Inter";
      }
    }
  }
}

.product-image {
  width: 250px;
  margin-top: 30px;
}

/* Common Styles */
.percentage-score {
  width: auto;
  text-align: center;
  margin-top: 10px;
}

.percentage-score div {
  width: 50%;
  padding-bottom: 10px;
}

.score-card {
  /* background: red; */
  margin-bottom: 5px;
}

.percentage-score {
  display: flex;
  flex-wrap: wrap;
}

.score-card {
  & .score {
    display: inherit;
    margin-top: 5px;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 16px;
    color: #242424;
    font-family: "Inter";
  }

  & .text {
    font-family: "Inter";
    color: #333333;
    font-size: 14px;
  }
}

.color-active-section {
  & div {
    display: -webkit-inline-box;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: solid 1px #017db9;

    & span {
      display: block !important;
      margin: auto !important;
    }
  }
}

button.buttons-drive.active {
  border: solid 2px #017db9 !important;

  .product_details {
    width: 98%;
    margin: 100px auto;
  }
}

.sidebar-inner {
  // position: sticky;
  // top: 120px;
  // z-index: 2;
}

.payment-list {
  display: flex !important;
}

.payment-option {
  margin-left: 10px;
  color: black;
}

.company-img-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.company-img-container > div {
  width: 24%;
  overflow: hidden;
}

.company-img-container > div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tab-section ::ng-deep .mat-mdc-tab-label-container {
  flex-grow: unset !important;
}

::ng-deep
  .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label {
  color: #0e0e0e;
}

::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab__text-label {
  color: #0e0e0e;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 500;
}

::ng-deep .mat-mdc-tab-header {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  border-bottom: 2px solid #b0b0b0;
  position: relative;
  top: 0px;
}

a {
  text-decoration: none;
}

.likesec {
  width: 100%;
  clear: both;
  padding-top: 50px;

  & app-multi-carousel {
    width: 100%;
  }
}

.order-quantiy-price {
  & app-chat-now,
  & app-view-number,
  & app-contactsupplier {
    margin-bottom: 20px;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product_brief{
  display: grid;
  align-items: flex-start;
  grid-template-columns: 25% 75%;
  grid-row-gap: 20px;
  margin-top: 20px;

  .left{

    .title{
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }
  }

  .right{

    .bold_green{
      color: #008000;
      font-weight: 600;
    }

    .color_btns, .drive_btns{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  // ---- rounded button radio-----

  .rounded_radio{
    display: none;
  }

  .rounded_radio + label{
    background: #EEEEEE;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    padding: 4px 15px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }

  // .rounded_radio:checked + label{
  //   background: #BBECFC;
  //   border: 1px solid #02A8DF;
  //   color: #017DB9;
  // }

  .checked {
    background: #BBECFC !important;
    border: 1px solid #02A8DF !important;
    color: #017DB9;
  }

  // ----- image button radio ------

  .img_radio{
    display: none;
  }

  .img_radio + label{
    text-align: center;
    cursor: pointer;

    p{
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 14px;
    }

    img{
      width: 60px;
      height: 60px;
      border: 1px solid #D9D9D9;
      object-fit: contain;
      border-radius: 4px;
      padding: 6px;
    }
  }

  .img_radio:checked + label{

    img{
      border: 1px solid #02A8DF;
    }
  }

  // ---- square button radio-----

  .square_radio{
    display: none;
  }

  .square_radio + label{
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 4px 15px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }

  .square_radio:checked + label{
    border: 1px solid #02A8DF;
    color: #017DB9;
  }

  // ----- rounded button-------

  .rounded_stroke_fill{
    background: #EEEEEE;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    padding: 4px 15px;
    font-size: 12px;
  }

  .btn_stroke{
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 4px 15px;
    font-size: 12px;
  }
}

.side_modal{
  position: fixed;
  right: 0;
  top: 0;
  background: #0000002b;
  width: 100%;
  height: 100%;
  z-index: 100;
  max-width: 0;
  transition: 0.5s;
  display: flex;
  justify-content: end;
}
.side_modal.show{
  max-width: 100%;
  transition: 0.5s;
}
.side_modal_body{
  width: 50%;
  background: #fff;
  overflow: auto;
}
.other_suppliers{
  padding: 0 25px 0;

  .product{
    border-bottom: 1px solid #B0B0B0;
    padding: 20px 0;

    .product_details{
      display: grid;
      grid-template-columns: 32% auto;
      grid-column-gap: 5px;

      h1{
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;  
      }
  
      .price{
        font-weight: 600;
        text-align: right;
      }
    
      .product_img{
        width: 100%;
        height: 200px;
      }

    }

    .see_more{
      font-size: 12px;
      padding: 10px 0 0;

      .sold_verify{
        justify-content: flex-start;
        column-gap: 10px;
      }
      .sold_details p{
        margin-bottom: 0;
      }
    }

    .more_less_btn{
      background: transparent;
      border: 0;
      font-size: 12px;
      font-weight: 600;
      color: #5d5e5e;
      display: flex;
      align-items: center;
      padding: 10px 0 0;

      i{
        font-size: 18px;
        padding-right: 5px;
      }
    }

  }
}

section.loader-imgg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: auto;
  height: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  & img {
    width: 100%;
    object-fit: contain;
  }
}

.fav-icons-s {
  background: white;
  position: absolute;
  right: 8px;
  z-index: 2;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
  top: 8px;
  padding-top: 6px;
}
.fav-active {
  color: #8d8d8d;
  z-index: 9;
}
::ng-deep .ngxImageZoomContainer {
  z-index: 1 !important;
}

::ng-deep .ngxImageZoomFullContainer {
  width: 250px !important;
  height: 250px !important;
  box-shadow: 0px 0px 4px #dde3e9;
  border: 1px solid #dde3e9;
  background: white;
  display: none;
  border-radius: 5px !important;
}
.products-list-details table th, .products-list-details table td{
  padding: 10px;
}

@media screen and (max-width: 991px) {
  .top-product-section{
    flex-direction: column;
  }
  .top-product-section .product-spec span.unfilled-chip{
    display: block;
    margin-top: 10px;
  }
  .product_brief{
    grid-template-columns: 100%;
  }
  .side_modal.show .side_modal_body{
    width: 75%;
  }
}

 

@media screen and (max-width: 770px) {
  .flex-product {
    flex-direction: column;
  }
  .top-product-section {
    flex-wrap: wrap;
  }
  .flex-product .product-content {
    max-width: 100%;
    padding-right: 10px;
  }
  ul.disply-spec li.products-list-details {
    display: flex;
    flex-direction: column;
    & .products-list-table {
      margin-top: 0 !important;
    }
  }
  .side_modal.show .side_modal_body{
    width: 100%;
  }
}

.no-data {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}


// .tab-container {
//   position: relative;
// }

// .sticky {
//   position: sticky;
//   top: 139px;
//   .nav-details {
//     display: flex;
//     list-style: none;
//     gap: 30px;
//     background-color: #fff;
//     z-index: 99;
//     li {
//       cursor: pointer;
//     }
//   }

//   li.highlight-color {
//     border-bottom: 2px solid rgb(84, 84, 212);
//   }
// }


// V3 Design 

.v3_othersuppliers{

  .v3_othersuppliers_list{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;

    .rate{
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .qty_text{
      font-size: 14px;
      color: #33333380;
      font-weight: 500;
    }

    .company_name{
      font-weight: 500;
      cursor: pointer;
    }
  }

  .sec_btn, .grey_stroked_btn{
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
  }

  .text_btn{
    font-weight: 500;
    padding: 0;
  }
}

.v3_typicalprice{
  border: 1px solid #DADADA;
  border-radius: 10px;
  padding: 20px;
  margin-top: 25px;

  .price_range_container{
    text-align: -webkit-center;
  }

  .price_range{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 50px;

    &:before{
      position: absolute;
      content: "";
      background: #DAF3FB;
      width: 100%;
      height: 7px;
      left: 0;
      top: 30px;
      border-radius: 10px;
    }

    .price_center{
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 150px;
      display: flex;
      justify-content: space-between;
      font-size: 12px;

      &::before{
        position: absolute;
        content: "";
        background: #02A8DF;
        width: 80%;
        height: 10px;
        top: -22px;
        left: 50%;
        border-radius: 15px;
        transform: translate(-50%);
      }
    }
  }

  .company_price{
    background: #02a8df;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 10px;
    width: fit-content;
  }
}

.product-list-points{
  padding-left: 15px;
}


.compare_prices{
  margin-top: 40px;

  .price_table{
      overflow: auto;
      margin: 20px 0 0px;

      table{
          width: 100%;

          thead th{
              color: #5D5E5E;
              font-weight: 400;
              padding: 10px;
              font-size: 12px;
              
              &.sold_by{
                  min-width: 150px;
              }

              &.min_order{
                  min-width: 75px;
                  text-align: center;
              }

              &.lead_time{
                  min-width: 75px;
                  text-align: center;
              }

              &.item_price{
                  min-width: 100px;
                  text-align: center;
              }

              &.actions{
                  min-width: 150px;
              }
          }

          tbody td{
              padding: 10px;
              font-size: 12px;

              button{
                white-space: nowrap;
              }
          }
      }
  }
}

.product-image-main {
  height: 250px;
  cursor: pointer;
  width: 100%;
  object-fit: contain;
  background: #f5f5f5;
}

.cat_breadcrumb:hover {
  color: #017DB9;
}

.product-loader {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
}

.product_company {
  color: #017DB9;
  text-decoration: underline;
}

div.chat-now-product {
  white-space: nowrap;
}