
.blog_details{
  
  .blog_nav{
    position: sticky;
    top: 50px;

    ul{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      padding: 0;
      padding-top: 90px;
      margin: 0;

      li{
        list-style: none;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
          background: #EFFBFF;
        }
      }
    }
  }

  .blog_title{
    font-size: 26px;
    font-weight: 300;
    line-height: 45px;
    word-break: break-word;
  }

  h2{
    font-size: 18px;
    line-height: 28px !important;
    font-weight: 400!important;
    word-break: break-word;
  }

  h3{
    font-size: 18px;
    font-weight: 400;
  }

  .logo_name{
    display: flex;
    align-items: center;
    gap: 15px;

    img{
      width: 25px;
    }

    p{
      margin: 0;
    }
  }

  .blog_img{
    width: 100%;
    height: 350px;
    background: #f5f5f5;
    object-fit: contain;
    border-radius: 15px;
    margin-bottom: 20px;
  }
}

.blog_sidebar{
  position: fixed;
  top: 130px;
  left: -24vw;
  background: #fff;
  width: calc(100% - 78%);
  height: 100%;
  z-index: 999;
  border: 1px solid #DBDBDB;
  border-radius: 0 10px 10px 0;
  padding: 20px 0px;
  transition: ease-in-out 0.5s;

  &.show{
    left: 0;
    transition: ease-in-out 0.5s;
  }

  .blog_sidebar_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 25px;
  }

  .close{
    text-align: right;

    span{
      cursor: pointer;
    }
  }

  .title{
    color: #017EB9;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
  }

  .list{
    padding: 0;
    margin: 0;
    height: calc(100vh - 210px);
    overflow: auto;
    padding: 0 10px;

    li{
      padding: 10px 10px 10px 20px;
      // border-bottom: 1px solid #D9DBE9;
      position: relative;
      list-style: none;

      &:before{
        position: absolute;
        content: "";
        left: 0;
        top: 16px;
        background: #017EB9;
        width: 6px;
        height: 6px;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .blog_sidebar{
    width: 70%;
    left: -100%;
    top: 115px;
  }
  .blog_details{

    .blog_title{
      font-size: 18px;
      line-height: 30px;
    }

    h2{
      font-size: 16px;
    }
  }
}


// .logo-name {
//   font-size: 16px;
//   font-weight: 500;
// }
// .main-blog-banner{ max-width: 90%; margin: 0 auto;}

// .image-blogg {
//   width: 100%; text-align: center;
//   margin-bottom: 30px;
// }
// .heading-blog {
//   width: 100%;
//   & a {
//     color: #157aa2 !important;
//   }
//   & h1 {
//     font-size: 50px;
//     margin-top: 0px;
//     line-height: 1.2;
//     font-weight: 300;
//     width: 100%;
//     color: #333;
//   }
// }
// p.heading-p {
//   display: flex;
//   width: 90%;
//   margin-top: 40px;
//   & span {
//     font-size: 16px;
//     margin-right: 20px;
//   }
// }
// section.discription {
//   display: flex;
//   & .heading-description {
//     width: 100%;
//     font-size: 16px;
//     line-height: 40px;
//     font-weight: 300;
//   }
// }

// .image-blogg img {
//   max-width: 100%;
//   border-radius: 20px;
//   margin-top: 40px;
// }
// header.container.header-blog {
//   padding-bottom: 10px;
// }

// section.blog-main-pg {
//   margin-top: 60px;
//   display: flex;
//   flex-wrap: wrap;
// }
// .blog-page-one {
//   width: 33%;
//   margin-bottom: 100px;
//   & h1 {
//     width: 80%;
//     font-size: 21px;
//     line-height: 30px;
//     font-weight: 300;
//     height: 70px;
//   }
//   & img {
//     width: 85%;
//     border-radius: 20px;
//     margin-top: 25px;
//   }
// }
// .blog-page-two {
//   width: 33%;
//   margin-bottom: 100px;
//   & h1 {
//     width: 80%;
//     font-size: 21px;
//     line-height: 30px;
//     font-weight: 300;
//     height: 70px;
//   }
//   & img {
//     width: 85%;
//     border-radius: 20px;
//     margin-top: 25px;
//   }
// }
// .social-media-icons {
//   & li {
//     list-style: none;
//     background: whitesmoke;
//     margin-bottom: 10px;
//     padding: 10px;
//     border-radius: 30px;
//     padding-left: 20px !important;
//     padding-right: 20px !important;
//   }
//   & i.fa {
//     color: white;
//     background: black;
//     width: 20px;
//     height: 20px;
//     text-align: center;
//     padding-top: 3px;
//     border-radius: 2px;
//     margin-right: 5px;
//   }
// }

// section.heading-p {
//   box-sizing: border-box;
//   & p {
//     font-size: 24px;
//     line-height: 30px;
//     width: 75%;
//     font-weight: 300;
//     margin-top: 10px;
//     margin-bottom: 20px;
//   }
// }

// section.main-card-section {
//   display: flex;
//   & > .img {
//     width: 100%;
//   }
//   & .card {
//     width: 20%;

//     margin-right: 40px;

//     box-shadow: none;
//   }
//   & img {
//     height: 120px;
//     width: 100% !important;
//     border-radius: 20px;
//   }
//   & .card-body {
//     padding: 10px;
//   }
//   & h5.card-title {
//     text-transform: uppercase;
//     margin-bottom: 5px;
//     font-size: 14px;
//     color: #919191;
//   }
//   & p.card-text {
//     font-size: 16px;
//     font-weight: 500;
//   }
// }
// section.recomadation-section h1 {
//   font-size: 32px;
//   font-weight: 300;
//   margin-bottom: 25px;
// }

// @media only screen and (max-width: 600px) {
//   .image-blogg img {
//     max-width: 100%;
//   }
//   .heading-blog h1 {
//     font-size: 26px;
//     line-height: 40px;
//   }
//   section.discription .heading-description {
//     font-size: 18px;
//     width: 100%;
//     line-height: 24px;
//     margin-bottom: 16px;
//   }
//   section.discription {
//     display: unset;
//   }
//   section.heading-p p {
//     font-size: 16px;
//     line-height: 24px;
//     width: 100%;
//     font-weight: 300;
//     margin-top: 10px;
//     margin-bottom: 20px;
//   }
// }

// .icons{ position: relative; top: 7px;
//   left: 3px;}
//   .tablecontent{ border: 1px solid #ccc; border-radius: 6px; padding: 10px 10px 0 10px; margin: 20px 0;
//   & li{ margin-bottom: 10px; & a{ color:#157aa2; cursor: pointer;}}
//   }
//   .breadlist{ margin-top: 30px;}
// .next-breadcrumb-text {
//   font-size: 14px;
//   line-height: 16px;
//   color: #333;
//   transition: color .1s linear;
// }
// .breadlist .next-breadcrumb-text:hover{
//   color: #5584ff !important;
// }

// // Form Css
// .container.contact-section {
//   margin-top: 50px;
//   margin-bottom: 50px;
// }

// button.contact-req {
//   text-align: center;
//   margin: auto;
//   display: block;
//   height: 45px;
//   padding-left: 25px;
//   border-radius: 5px !important;
//   padding-right: 25px;
// }

// .middlefiled {
//   margin-bottom: 20px;
// }
// section.w-50.input-fileds-email {
//   float: right;
//   padding-left: 5px;
// }
// section.w-50.input-fileds-phone {
//   float: left;
//   padding-left: 5px;
// }


// @media screen and (max-width: 600px) {

//   .heading-blog h1{ font-size: 28px;}
// }