<div class="main-container">
    <ng-container *ngIf="!loader">
        <!-- Main categories list -->
        <div class="tab-banner-chips-normal">
            <mat-tab-group disableRipple (selectedIndexChange)="getSubCategory2($event)" #tabGroup>
                <mat-tab *ngFor="let category of mainCategoryData">
                    <ng-template mat-tab-label>
                        <div class="chipcls"> {{ category.school_name }}</div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
            <!-- <h4 *ngIf="subCategoryInfo"> {{ subCategoryInfo.description }} </h4> -->
        </div>

        <!-- Sub Categories List based on category ID -->
        <section class="tab-banner-chips">
        <mat-tab-group disableRipple (selectedTabChange)="onTabClick($event)" #subTabGroup>
            <mat-tab [label]="'All'" [id]="0"></mat-tab>
            <mat-tab *ngFor="let cat of subCategoryData">
                <ng-template mat-tab-label>
                    <div class="chipcls"> {{ cat.category_name }}</div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        </section>
    </ng-container>

    <!-- Category Loader -->
    <ng-container *ngIf="loader">
        <ul class="chiplist toplist">
            <li *ngFor="let i of [0,1]"><span class="smart smartsmall"></span></li>
        </ul>
        <ul class="chiplist bottomlist">
            <li *ngFor="let i of [0,1,2,3,4,5]"><span class="smart smartsmall"></span></li>
        </ul>
    </ng-container>

    <ng-container *ngIf="!dataloader">
        <section class="flex-wrap marT30">
            <section class="cardsWarp custom-flexs-list6">
                <ng-container *ngFor="let data of collection | paginate: { itemsPerPage: 10, currentPage: p, totalItems: totalCount }">
                    <section class="card1">
                        <app-product-card [styleClass]="'smallcard'" [item]="data" [description]="true" [price]="true"
                            [qty]="true" [linkTo]="'recomendations'"></app-product-card>
                    </section>
                </ng-container>
                <!-- <mat-paginator *ngIf="!(showData.length == 0)" (page)="onPageChange($event)" [length]="totalItems"
                    [pageSize]="18" [pageSizeOptions]="[18, 36]">
                </mat-paginator> -->
                <section *ngIf="!(collection.length == 0)" class="paginator">
                    <pagination-controls [maxSize]="5" class="my-pagination" (pageChange)="onPageChange2($event)"></pagination-controls>    
                </section>
                <section class="nodata" *ngIf="noProdFound"> No Products </section>
            </section>
        </section>
    </ng-container>

    <ng-container *ngIf="dataloader">
        <section class="flex-wrap marT30">
            <section class="cardsWarp custom-flexs-list6">
                <section class="card1" *ngFor="let i of [0,1,2,3,4,5,6,7,8]">
                    <section class="smart imgsmart"></section>
                    <section class="smart line2"></section>
                    <section class="smart line3"></section>
                </section>
            </section>
        </section>
    </ng-container>

</div>