.rfq {
  background: linear-gradient(110deg, #61c9eb -12%, #1db2e2 115%);

  box-shadow: none;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: right;
  color: white;
  padding-right: 10px;
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: 600;
  font-family: "Inter", sans-serif !important;
  text-align: center;
}
p {
  text-align: right;
  color: white;
  padding-right: 12px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif !important;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 10px;
  }
}

@media screen and (max-width: 770px) {
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
