<mat-card class="signup-card" *ngIf="!islogin">
  <mat-card-header>
    <mat-card-title>
      Sign up to enjoy exciting Buyers Club benefits
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button routerLink="/signup" mat-raised-button color="primary" class="filled-button join-free">
      Join for Free
    </button>

    <button routerLink="/signin" mat-raised-button color="primary" class="white-button join-free">
      Sign In
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="signup-card" *ngIf="islogin && false">
  <mat-card-header class="loginduser">
    <h2> Welcome</h2>
    <h3>{{displayName}}</h3>
  </mat-card-header>

  <ul class="listdisplay">
    <li class="pointer" (click)="navTo('products/fav')"><span class="lcount">{{favCount}}</span><span>Favourite product</span></li>
    <li><span class="lcount">{{favSuppliers}}</span><span>Favourite Suppliers</span></li>
  </ul>

  <ng-container *ngIf="historyProducts.length > 0; else dummy_history">
    <h2 class="subt">Your browsing history</h2>
    <ul class="historybox">
      <li class="pointer" (click)="goTo(his.product_name, his.pk_prod_id)" *ngFor="let his of historyProducts.slice(0,4)"> <img
          [src]="his.product_image || 'https://picsum.photos/200/300'" [alt]=""> </li>
    </ul>
  </ng-container>
  <ng-template #dummy_history>
    <h2 class="subt">Your browsing history</h2>
    <ul class="historybox">
      <li class="pointer" *ngFor="let i of [0,0,0,0]"> <img alt="loading..." src="https://picsum.photos/200/300"> </li>
    </ul>
  </ng-template>
</mat-card>

<section class="account_card">
  
<section *ngIf="islogin && assigneeInfo" class="account">
  <div class="help">
    <a routerLink="/contact">
    <img src="/assets/svg/material-symbols_help-outline.svg">
      <span> Need Help</span>
    </a>
  </div>
  <div class="profile d-flex mb-3">
    <div>
      <p class="profile-img">
        <img *ngIf="assigneeInfo.assist_user_photo; else noImg" [src]="assigneeInfo.assist_user_photo">
        <ng-template #noImg>
          <img class="no-img" src="/assets/images/ri_customer-service-2-fill.png">
        </ng-template>
      </p>
    </div>
    <div class="ps-2">
      <p class="profile-name">
        {{assigneeInfo.assist_user_name}}
      </p>
      <p class="m-0 profile-para">Your dedicated procurement consultant</p>
    </div>
  </div>
  <div class="contact-btn">
    <button (click)="navTo('/account/assist')" type="button" class="btn btn-success rounded-corners">
      <img src="/assets/svg/chat_white.svg" alt="dial_icon" srcset="">
      Chat Now
    </button>
    <button [disabled]="inProgress" type="button" class="btn btn-primary rounded-corners" (click)="call()">
      <img src="/assets/svg/phone_white.svg" alt="dial_icon" srcset="">
      {{contactMsg}}
    </button>
  </div>
</section>

<mat-card class="signup-card" *ngIf="islogin">
  <mat-card-header class="loginduser">
    <h3> Welcome</h3>
    <h2>{{displayName}}</h2>
  </mat-card-header>

  <ul class="listdisplay">
    <li class="pointer" (click)="navTo('products/fav')"><span class="lcount">{{favCount}}</span><span class="count-text">Favourite
        product</span></li>
    <li><span class="lcount">{{ favSuppliers }}</span><span class="count-text">Favourite Suppliers</span></li>
  </ul>

  <section class="history">
    <p class="subt">Browsing history</p>
    <ul class="historybox">
      <ng-container *ngIf="historyProducts.length > 0; else dummy_history">
        <li class="pointer" (click)="goTo(his.product_name, his.pk_prod_id)" *ngFor="let his of historyProducts.slice(0,3)"> <img
            [src]="his.product_image || 'https://picsum.photos/200/300'"> </li>
      </ng-container>
      <ng-template #dummy_history>
        <li class="pointer" *ngFor="let i of [0,0,0]"> <img alt="loading..." src="https://picsum.photos/200/300"> </li>
      </ng-template>
    </ul>
  </section>
</mat-card>

</section>

<ng-template #thankyoutemplate>
  <section class="confrmationpopup">
    <mat-icon>check_circle</mat-icon>
    <h3>Thank You</h3>
    <p> {{ message }}</p>
  </section>
</ng-template>