<ng-container *ngIf="(banner$ | async) as homeBannersData">
<section *ngIf="homeBannersData.length > 0; else loader" class="singlebanner hometopbanner">
  <owl-carousel-o [options]="customOptions" class="">
    <ng-container *ngFor="let banner of homeBannersData">
      <ng-template carouselSlide>
        <section class="gradient-imgs" [class.pointer]="banner.have_link == 1" (click)="linktoclick(banner)">
          <div class="grd-bg-img" [ngStyle]="{
                  'background-image': 'url(' + banner.banner_image + ')',
                  'background-color': banner.background_color
                }">
            <div class="baner-text-content-t">
              <h2 [ngStyle]="{ color: banner.banner_title_color }">
                {{ banner.banner_title }}
              </h2>
              <p [ngStyle]="{ color: banner.banner_sub_title_color }"> {{ banner.banner_sub_title }}</p>
            </div>
          </div>
        </section>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>
</ng-container>
<ng-template #loader>
  <div class="banner-place">
  </div>
</ng-template>