.img-category-slider img {
  width: 95px;
  height: 95px;
  object-fit: cover;
  border-radius: 10px !important;
  cursor: pointer;
  margin: 0 auto;
}

.img-category-slider h4 {
  margin: 0;
  padding: 0;
  color: #000;
  cursor: pointer;
  text-align: left;
  margin-top: 10px;
  font-size: 12px;
  text-transform: capitalize !important;
  font-weight: 500;
  margin-left: 10px;
}
button.btn.btn-primary.mb-2.search {
  font-size: 14px;
}
.img-content {
  display: block;
  color: #fff;
  & mat-icon {
    font-size: 14px;
    height: auto;
    color: #fff;
    position: relative;
    top: 2px;
  }
}
.slider_bg_multi {
  position: relative;
  border-radius: 10px;
  padding: 0;
}
// .bgimagewrapper {
//   position: absolute;
//   left: 0;
//   opacity: 1;
//   top: 50px;
//   transition: opacity 0.2s ease-in-out;
//   height: 100%;

//   &.movescroll {
//     opacity: 0.16;
//     transition: opacity 0.2s ease-in-out;
//   }
//   & img {
//     height: 100%;
//   }
// }

.card1 {
  padding: 10px 10px !important;
}
.smallTitle {
  margin-top: 30px;
}

.loadersec {
  min-height: 300px;
  text-align: center;
  padding-top: 50px;
  & mat-spinner {
    margin: 0 auto;
  }
}
.loader-wrap {
  padding-top: 30px;
}
.manu-loader {
  display: flex;
  align-items: center;
  margin-top: 20px;
  & > section.loader-img {
    flex: 0 0 200px;
    flex-wrap: nowrap;
  }
  & .loader-product {
    flex: 0 0 300px;
    display: flex;
    & section {
      margin: 0 10px;
    }
  }
  & .loader-desc {
    flex: 1;
  }

  & .text-img-small {
    width: 80px;
    height: 100px;
  }
  & .text-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 30px;
  }
  // & .text-1 {
  //   width: 100%;
  //   height: 10px;
  //   margin-bottom: 10px;
  // }
  // & .text-2 {
  //   width: 100%;
  //   height: 10px;
  //   margin-bottom: 10px;
  // }
  // & .text-3 {
  //   width: 100%;
  //   height: 10px;
  //   margin-bottom: 10px;
  // }
  // & .text-4 {
  //   width: 100%;
  //   height: 10px;
  //   margin-bottom: 10px;
  // }
  // & .text-5 {
  //   width: 100%;
  //   height: 10px;
  //   margin-bottom: 10px;
  // }
}
section.loader-img.img-ld {
  display: flex;
  justify-content: space-between !important;
  /* margin-right: 10px !important; */
}
.cat-img-state:after {
  background: rgb(54 54 54 / 2%);
  border-radius: 8px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}
.cat-img-state {
  position: relative;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
  width: 98px;
  & img {
    // box-shadow: 2px 2px 7px #968c8c80;
  }
}
.owl-nav.ng-star-inserted .owl-next {
  background: red !important;
}

@media screen and (max-width: 700px) {
  .regionmobileloader {
    & section.loader-img {
      display: flex;

      flex: 1;
      & .text-img {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 350px) {

  .cat-img-state{
    width: 75px;
    height: 75px;
  }

  .img-category-slider{

    img{
      width: 75px;
      height: 75px;
    }
  } 
}
