<h2 class="mainTitle">Find Suppliers By State</h2>
<section *ngIf="loader" class="loader-wrap">
  <section><span class="smart titletext"></span></section>
  <!-- <section class="smart text-1"></section> -->

  <section class="manu-loader regionmobileloader">
    <section class="loader-img img-ld">
      <section *ngFor="let i of [1, 2, 3,4,5,6]" class="text-img"></section>
    </section>
  </section>
</section>
<section class="slider_bg_multi">
  <owl-carousel-o [options]="customOptions" class="productscarousel">
    <ng-container *ngFor="let s of getStates">
      <ng-template carouselSlide>
        <section class="card1">
          <section class="img-category-slider">
            <a [routerLink]="['/region', s.state_name]">
              <div class="cat-img-state">
                <img [src]="s.state_image" />
              </div>
              <h4>{{ s.state_name }}</h4>
              <!-- <span class="img-content"> {{item.description}} </span> -->
            </a>
          </section>
        </section>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>
