p.error-textt {
  margin-top: 100px !important;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #00aafb;
  font-weight: bold;
  line-height: 38px;
  width: 50%;
  padding: 20px;
  margin: auto;
  margin-bottom: 100px !important;
  border-radius: 80px;
}


