<section class="v3_breadcrumb">
  <div class="main-container">
    <ul class="list">
      <li>
        <a>Home</a>
      </li>
      @if(category_name) {
        <li (mouseover)="catHovered = true" (mouseout)="catHovered = false" [class.active]="catHovered" class="pointer">
          {{category_name}}
        </li>
      }
      @if(productDetails) {
        <li (mouseover)="companyHovered = true" (mouseout)="companyHovered = false" [class.active]="companyHovered" class="pointer">
          {{this.companyDetails.company_name}}
        </li>
      }
      @if(productDetails) {
        <li class="active">{{productDetails.name}}</li>
      }
    </ul>
  </div>
</section>

<section *ngIf="productFound" class="main-container mb-4">
  <section class="flex-product" *ngIf="productDetails">
    <section class="product-content">
      <section class="top-product-section">
        <!-- Product Images -->
        <section class="product-image-gallary">
          <div class="zoom-container zm-cont-fav">
            <!-- <ng-container *ngIf="isSignIn"> -->
              <span class="fav-icons-s">
                <mat-icon class="fav-active">favorite_border</mat-icon>
              </span>
              <!-- <span *ngIf="isFav" class="fav-icons-s">
                <mat-icon (click)="addToFav($event)" [style.color]="'red'" class="fav-active">favorite</mat-icon>
              </span> -->
            <!-- </ng-container> -->

            <section (click)="openImagePopup()">
              <lib-ngx-image-zoom [thumbImage]="myThumbnail" [fullImage]="myFullresImage"></lib-ngx-image-zoom>
            </section>
          </div>

          <div *ngIf="productImages" class="product-image">
            <app-multi-carousel *ngIf="productImages.length > 1" (changeImage)="changeImage($event)"
              [screenName]="'productdetails'" [productImages]="productImages"></app-multi-carousel>
          </div>
        </section>
        <section class="product-spec">
          <section class="product-heading">
            <h3>{{ productDetails.name }}</h3>
          </section>
          <section *ngIf="productDetails" class="product-price">
            <h3>
              {{ productDetails.price | inidanCurrency }}
              <span class="basic">
                / {{ productDetails.unit_type }}
              </span>
              <span class="pieces">
                {{ productDetails.quantity }}
                {{
                productDetails.quantity > 1 ? "pieces" : "piece"
                }}(Min. order)</span>
            </h3>
          </section>

          <form [formGroup]="variationForm">
            <section class="product_brief">
              <ng-container *ngFor="let v of vari">
                <div class="left">
                  <p class="title">{{v.name}}</p>
                </div>
                <div class="right">
                  <div [ngClass]=" v.name == 'Color' ? 'color_btns' : 'drive_btns'">
                    <div *ngFor="let vari of v.variation" class="color_input">
                      <input [formControlName]="v.name" type="radio" 
                        [ngClass]=" v.name == 'Color' ? 'rounded_radio' : 'square_radio'"  
                        [value]="vari.variation_id"
                        [name]="v.name" [id]="vari.name" />
                      <label [ngClass]="{'checked': vari.selected}" [for]="vari.name">{{vari.name}}</label>
                    </div>
                  </div>
                </div>
              </ng-container>
            </section>
          </form>
          <section class="product_brief">

            <ng-container *ngIf="packageDetails && packageDetails.shipping.length > 0">
              <div class="left">
                <p class="title">Lead Time</p>
              </div>
              <div class="right">
                <div class="lead_info">
                  <table>
                    <thead>
                      <tr>
                        <th>Quantity (Pieces)</th>
                        <th>Lead Time (Days)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let lead of packageDetails.shipping">
                        <td>{{lead.quantity}}</td>
                        <td> {{lead.days}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-container>
          </section>

          <!-- <ul class="disply-spec">
            <li *ngIf="productDetails.discount_terms_cond" class="products-list-details">
              <div class="benfi-heading">
                <h4>Benefits</h4>
              </div>
              <div class="benfi-pragh">
                <p>Quick refunds on orders under US $1,000</p>
              </div>
            </li>
          </ul> -->

        </section>
      </section>

      <!-- You may also like -->
      <section *ngIf="productsYouMayAlsoLike && productsYouMayAlsoLike.length > 0" class="likesec">
        <h2 class="smallTitle">You May also like</h2>
        <app-multi-carousel [screenName]="'likedetails'" [catData]="productsYouMayAlsoLike"></app-multi-carousel>
      </section>

      <!-- Product description section -->
      <section class="product_details tab-section">

        <app-product-description [viewOnly]="true" [frequentlyBought]="frequentlyBought" [popularProducts]="popularProducts"
          [productDetails]="productDetails" [packageDetails]="packageDetails"></app-product-description>
      </section>
    </section>

    <!-- Order details section -->
    <section class="product-sidebar">
      <section class="sidebar-inner">
        <section class="sidenavbar-bg">
          <section class="order-quantiy-price">
            <ng-container *ngIf="productDetails && sellerDetails">
              <div class="company_info">
                <a class="pointer">
                  <h1>{{ sellerDetails.companyName }}</h1>
                </a>
                <p>Trading Company</p>
                <div class="country">
                  <!-- <img src="../../assets/images/India.svg" />
                  <p class="c_name">IND</p> -->
                  <p class="years">{{productDetails.experience}}</p>
                </div>
              </div>
              <p class="mb-2 order_title">The minimum order quantity is {{productDetails.quantity}} piece</p>
              <span class="left-price"> 0/1 {{productDetails.unit_type}} </span>
              <span class="quantity-price">
                from <span> {{productDetails.price}} </span></span>
              <br />
            </ng-container>
            <!-- <app-chat-now [btnstyle]="true" [sellerDetails]="sellerDetails"></app-chat-now> -->
            <!-- <app-view-number *ngIf="sellerDetails.buyerSellerStatus == 1" [class]="'stroked_button'"
              [cid]="this.sellerDetails.sellerId"></app-view-number>
            <app-contactsupplier [class]="'stroked_button'" [sellerDetails]="sellerDetails"></app-contactsupplier> -->
            <button disabled mat-raised-button color="primary" class="manf-button contact-supplier stroked_button">
              Contact Supplier 
            </button>
          </section>
        </section>
        <!-- More Suppliers -->
        <ng-container *ngIf="otherSuppliers.length > 0">
          <section *ngFor="let sup of otherSuppliers | slice:0:2" class="sidenavbar-bg supplier">
            <section class="order-quantiy-price">
              <div class="company_info m-0">
                <h1 class="pointer">{{ sup.product_name }}</h1>
                <!-- <p class="mb-2">Trading Company</p> -->
              </div>
              <div class="more_hover mb-2">
                <a class="more_details" href="javascript:void(0)">More Details</a>
                <div class="more_hover_details">
                  <div class="sold_verify">
                    <p class="sold_by">Sold by: <span>{{sup.company_name}}</span></p>
                    <img *ngIf="sup.is_verified == 1" src="../../assets/images/verified_icon.png" />
                  </div>
                  <div class="sold_details">
                    <p class="years">3 Yrs</p>
                    <!-- <p class="company_count">50+Staff - 5,300+m2 - INR10,000,0+</p> -->
                  </div>
                </div>
              </div>
              <span class="quantity-price mb-2">from <span> {{sup.product_price}} </span></span>
              <button class="order-buttons x-rounded-stroke"
                mat-stroked-button color="primary">
                Company Profile
              </button>
            </section>
          </section>

        <!-- Other Suppliers -->
        <section class="sidenavbar-bg supplier" (click)="openModal()">
          <section
            class="order-quantiy-price"
            *ngIf="productDetails"
          >
            <div class="company_info m-0">
              <h1>Other Supliers</h1>
              <h2>New {{ '( ' + otherSuppliers.length + ')'}} </h2>
            </div>
            <span class="quantity-price mb-2">from <span> {{productDetails.price}} </span></span>
          </section>
          <i class="fa fa-angle-right supplier_link"></i>
        </section>
        </ng-container>
      </section>
    </section>
  </section>
</section>

<section *ngIf="!productFound" class="no-data">
  <app-nodata [errorMsg]="'No Product Found'"></app-nodata>
</section>

<!-- Other Suppliers Modal-->
<section class="side_modal" [class.show]="isModalOpen">
  <div class="side_modal_body">
    <button class="bg-transparent border-0" (click)="closeModal()"><i class="fa fa-close close_icon"></i></button>
    <div class="other_suppliers">
      <div class="product" *ngFor="let supplier of otherSuppliers; let i = index;">
        <div class="product_details">
          <img class="product_img" [src]="supplier.image"/>
          <div>
            <h1> {{supplier.product_name}} </h1>
            <p class="price"> {{supplier.product_price}} <span>/ Unit</span></p>
            <p *ngIf="supplier.is_verified" class="leads-days"> 
              <!-- Lead time 7 days -->
              <img src="../../assets/images/info_icon.svg"/></p>
            <!-- <p class="guaranteed_delivery">Guaranteed delivery By May 1Delivery<img src="../../assets/images/info_icon.svg"/></p> -->
            <div class="text-end">
              <button class="primary_btn">Contact Supplier</button>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="supplier.more" class="see_more">
          <div class="sold_verify">
            <p class="sold_by">Sold by: <span> {{supplier.company_name}} </span></p>
            <img src="../../assets/images/verified_icon.png">
          </div>
          <div class="sold_details">
            <p class="years">3 Yrs</p>
            <p class="company_count">50+Staff - 5,300+m2 - INR10,000,0+</p>
          </div>
          <p class="on_time">On-time Delivery Guarantee: </p>
        </div>
        <button class="more_less_btn" (click)="toggleDetails(i)"><i class="fa" [ngClass]="supplier.more ? 'fa-angle-up' : 'fa-angle-down'"></i>{{ supplier.more ? 'See Less' : 'See More' }}</button> -->
      </div>
      
    </div>
  </div>
</section>