<mat-radio-group [(ngModel)]="selectedOption">
  <ng-container *ngIf="step == 2">
    <mat-radio-button class="singleselect" *ngFor="let school of schoolData.inputs" [value]="school.input_value">
      <div *ngIf="school.is_enable" class="radio" [class.selected]="selectedOption === school.input_value">
         <div class="mainimgwrap"> <div class="imgwrap">
          <img [src]="school.image_url" />
        </div></div>
          <div class="label content">
              <h4 class="box-title">{{school.label_name }}</h4>
              <p> {{school.description}} </p>
          </div>
      </div>
    </mat-radio-button>
  </ng-container>
  <!-- Select Education or Resller -->
  <ng-container *ngIf="step == 1">
    <mat-radio-button *ngFor="let option of options"  class="singleselect"  [value]="option.value">
      <div class="radio" [class.selected]="selectedOption === option.value">
         <div class="mainimgwrap"> <div class="imgwrap">
          <img [src]="option.image" />
        </div></div>
          <div class="label content">
              <h4 class="box-title">{{option.label }}</h4>
              <p> {{option.description}} </p>
          </div>   
      </div>
    </mat-radio-button>
  </ng-container>
</mat-radio-group>
<button color="primary" class="primaryBtn bigbtn" mat-stroked-button (click)="selectOption()">Next</button>


  
  