.radio.selected {
    border: 2px solid #017db9;
    background: #e5f6fb;
}

.radio{ display: flex; }

.radio{ padding: 20px 19px 22px 22px;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
    background-color: #fff; & p{

        font-family: Inter;
        font-size: 12px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.4px;
        text-align: left;
        color: #333; margin: 0;
    }}
mat-radio-button{ margin-bottom: 20px; display: flex;  }
.mainimgwrap{ flex: 0 0 90px;}
    .imgwrap{ width:70px; height: 70px; border-radius:50%; & img{ width:100%; height: 100%; border-radius: 50%; object-fit:cover}}
