<!-- Schema -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "MyVerkoper",
    "url": "https://www.myverkoper.com/",
    "logo": "https://www.myverkoper.com/assets/images/logo.gif",
    "sameAs": [
      "https://www.facebook.com/Myverkoper",
      "https://www.linkedin.com/company/myverkoper/",
      "https://www.instagram.com/myverkoperofficial/",
      "https://twitter.com/MyVerkoper"
    ],
    "contactPoint": [
      {
        "@type": "ContactPoint",
        "telephone": "+91 9666604766",
        "contactType": "customer service",
        "email": "we@myverkoper.com",
        "areaServed": "IN",
        "availableLanguage": "en"
      }
    ]
  }
</script>
    

<section class="page-wrap">
  <section *ngIf="mainCatList.length > 1" #productsView class="tab-banner-chips-normal">

    <div class="mobiletabwrapper linetabstyle">
      <ul>
        <li *ngFor="let category of mainCatList; let i=index"> 
           <button (click)="setActiveTab(i)" [class.selectedtab]="i === activeTab" class="chipcls">{{ category.category_name }}</button>
          </li>
          </ul></div>


    <mat-tab-group
      disableRipple
      (selectedTabChange)="onTabClick($event)" #tabGroup
      class="onlydesktop"
    >
      <!-- <mat-tab [label]="'All'" [id]="0"></mat-tab> -->
      <mat-tab
        *ngFor="let cat of mainCatList"
        [label]="cat.category_name"
        [id]="cat.category_id"
      ></mat-tab>
    </mat-tab-group>
  </section>
  <!-- <h2 class="mobileheading" *ngIf="tabtitle">{{tabtitle}}</h2> -->
  <!-- Product Loaders start-->
    <section *ngIf="justForYouLoad" class="flex-wrap">
        <section class="cardsWarp custom-flexs-list6 mobilecarsdloader">
            <section class="product-cards-list second" *ngFor="let i of [0, 1, 2]">
                <section class="smart second"></section>
                <section class="smart card-c-one"></section>
                <section class="smart card-c-two"></section>
            </section>
        </section>
    </section>
    <section  class="flex-wrap">
      <section class="cardsWarp custom-flexs-list6 home_recomproducts">
        <ng-container *ngFor="let item of collection | paginate: { itemsPerPage: 18, currentPage: p, totalItems: totalCount }">
          <!-- <ng-container *ngFor="let product of showData"> -->
          <section *ngIf="!justForYouLoad" class="card1">
            <app-product-card [styleClass]="'smallcard'" [item]="item" [description]="true" [price]="true"
                [qty]="true" [linkTo]="linkTo">
            </app-product-card>
          </section>
        </ng-container>
        <!-- <mat-paginator *ngIf="!(showData.length == 0)" (page)="onPageChange($event)" [length]="totalCount"
          [pageSize]="18" [pageSizeOptions]="[18, 36]">
        </mat-paginator> -->
        <section *ngIf="collection.length > 18" class="paginator">
          <pagination-controls [maxSize]="5" class="my-pagination" (pageChange)="onPageChange2($event)"></pagination-controls>    
        </section>
      </section>
    </section>
  </section>
  <app-nodata *ngIf="noProductsFound"></app-nodata>
