.delete_dialog{
    padding: 20px;
}

.dialog_header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title{
        margin: 0;
        font-size: 16px;
        color: #000000;
    }
}

.dialog_body{
    padding: 25px 0 10px;
}

.dialog_buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding-top: 20px;
}