.main-one {
    height: 250px;
    width: 100%;
}
.poptitle {
  background: #f8f8f8;
  color: #000;
  padding: 10px 20px;
  & a {
    float: right;
  }
}

.dialogrfqformwrapper {
  width: 100%;
  padding: 20px 20px 0 20px;
  max-height: 80vh;
  overflow: auto;
}
.rfqformwrapper {
  & .fieldsec {
    margin-bottom: 20px;
    & .mat-mdc-form-field {
      width: 100%;
    }
  }
  & .filedsec-100p {
    width: 100%;
  }
  & .filedBlock {
    display: flex;
  }
  & .filedsec-50p {
    width: 50%;
    padding-right: 20px;
    margin: 0;
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.rfqbtnwrap {
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    text-align: left;
    background: #fff;
    padding: 20px 0;
  }


.confirmsubTitle{ font-size: 16px;
    color: #000;
    text-align: center;
    margin: 30px 0;}
.confirm-actions{ clear: both; display: flex; margin-bottom: 20px;
    justify-content: center; & button{ min-width: 120px; margin: 0 10px;}}

.confirminner{ padding: 10px 20px; min-height: 100px;}

.otpbtn:not(:disabled) {
    border-color: #b0d7e9;
    color: #0172a8;
}
.smalltxt a{ cursor: pointer; color: #017db9;}

.bluelink{ color:#0172a8 !important;}
.bluelink:disabled{ opacity: .5 !important;}
.otpfiled mat-form-field{ width: 100% !important;}
.circle{ padding: 0 20px !important;}
.otpfiled.verified { background:#ecf6ee;
    border-color: #3fa950;
& .circle{ color: #3fa950;}

}
.mobilefiled.emailfield{ & mat-form-field{ width: 100% !important;}} 
@media screen and (max-width: 770px) {
.flex-row-sign{ flex-wrap: wrap;
& .otpbtnsec{ margin: 20px 0 0 0; width: 100%; & button{  width: 100%;}}
} 

}
