.main_title{
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
}

.primary_btn:disabled svg path{
    fill: #777777;
}

// filter list and grid view buttons

.filter_view{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;    
    
    span{
        cursor: pointer;
    }

    .list_active svg path{
        stroke: #2BB5E9;
    }

    .grid_active svg path{
        fill: #2BB5E9;
    }
}

 // sidebar of wishlist 

 .side_wishlist{
    padding-right: 20px;

    .main_tab{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 25px;

        li{
            list-style: none;
            color: #999999;
            cursor: pointer;

            &.active{
                color: #017DB9;
                text-decoration: 1.5px underline #017DB9;
                text-underline-offset: 7px;
            }
        }
    }

    .list{
        padding: 0;
        margin: 0;

        li{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-radius: 4px;

            .list_name {
                cursor: pointer;
                word-break: break-word;
                display: flex;
                align-items: center;
            }

            .list_actions{
                display: flex;
                align-items: center;
                gap: 10px;
                visibility: hidden;

                span{
                    cursor: pointer;

                    &:hover svg path{
                        stroke: #017DB9;
                    }
                }
            }

            &:hover .list_actions{
                visibility: visible;
            }

            &:hover, &.active{
                background: #F5FCFF;
            }

        }
    }
}

.v3_wishlist{
    .index_row{
        display: flex;
        flex-wrap: wrap;
        
        .checkbox{
            width: 18px;
            height: 18px;
    
            input{
                width: 18px;
                height: 18px;
                cursor: pointer;
            }
        }  
    
        .select_control{
            background: transparent;
            color: #5d5e5e;
            border-radius: 30px;
            padding: 8px 15px;
            border: 1.5px solid;
            cursor: pointer;
            font-weight: 500;
        }

        // wishlist left column
    
        .index_leftcol{
            flex: 0 0 20%;
            max-width: 20%;
        }

        // wishlist right column
    
        .index_rightcol{
            flex: 0 0 80%;
            max-width: 80%;

            // top filter
    
            .top_filter{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px; 
    
                .left{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 15px;  
                    
                    button{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-size: 12px;
                    }
                }
    
                .right{
                    display: flex;
                    align-items: center;
                    gap: 15px;       
                }
            }

            // product list - pl
    
            .product_list{
                display: flex;
                gap: 20px 10px;
                padding-bottom: 30px;
                position: relative;

                .checkbox{
                    position: absolute;
                    z-index: 2;
                    top: 10px;
                    left: 8px;
                    display: none;
                }

                &:hover .checkbox{
                    display: block;
                }

                .checkbox.showcheckbox{
                    display: block;
                }

                .pl_details{
                    display: flex;
    
                    .image{
                        border-radius: 5px;
                        overflow: hidden;
                        cursor: pointer;
    
                        img{
                            width: 100%;
                            height: 175px;
                            background: #f5f4f9;
                            object-fit: contain;
                            border-radius: 5px;
                            transition: 0.3s;
    
                            &:hover{
                                transform: scale(1.2);
                                transition: 0.3s;
                            }
                        }
                    }
    
                    .details{
                        font-size: 12px;
    
                        .product_name{
                            font-size: 14px;
                            line-height: 24px;
                            margin-bottom: 10px;
                            word-break: break-word;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                        }
    
                        .company{
    
                            .years{
                                border: 0.5px solid #5D5E5E;
                                padding: 0 6px;
                                font-size: 10px;
                                font-weight: 500;
                                width: fit-content;
                                margin-top: 5px;
                                border-radius: 3px;
                            }
                        }
                    }     
                }
            }

            // supplier list - sl

            .supplier_list{
                display: flex;
                gap: 20px 10px;
                padding-bottom: 30px;

                .sl_details{
                    display: flex;   
                    width: 100%; 
                }

                .supplier{
                    flex: 0 0 70%;
                    width: 70%;

                    .title{
                        font-weight: 500;
                    }

                    .supplier_row{
                        display: flex;
                        gap: 20px;
                        padding-top: 15px;

                        .supplier_col{

                            img{
                                width: 100px;
                                height: 100px;
                                object-fit: contain;
                                background: #f5f5f5;
                                border-radius: 5px;
                            }

                            .rate{
                                font-weight: 500;
                                font-size: 12px;
                                margin: 7px 0 3px;
                            }

                            .qty{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            // product list and supplier list actions

            .pl_actions, .sl_actions{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px 10px;
                height: fit-content;
                font-size: 12px;
                padding-top: 10px;

                button{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                .text_btn{
                    color: #333333;
                }
            }

            // product list view

            .list_view{

                .pl_details{
                    width: 100%;
  
                    .image{
                      flex: 0 0 25%;
                      width: 25%;
                    }
                
                    .details{
                      flex: 0 0 45%;
                      width: 45%;
                      padding-left: 20px;
                    }
                
                    .pl_actions{
                      flex: 0 0 30%;
                      width: 30%;
                      align-content: center;
                      height: auto;
                      padding-left: 15px;
                    }
                }
            }

            // product grid view
    
            .grid_view{
    
                .pl_details{
                    display: block;
    
                    .image{
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
        
                .pl_actions{
                    margin: 20px 0;
                    padding: 0;

                    .select_control{
                        display: none;
                    }

                    .delete, .share{
                        span{
                            display: none;
                        }
                    }
                }
            }
    
        }
    }
}


.checkbox_control{
    display: grid;
    grid-template-columns: 5% 95%;
    align-items: baseline;
}

// comment and quanity modal

.cmnt_qty_row{
    display: grid;
    grid-template-columns: 30% 70%;

    .pl_details, .sl_details{

        img{
            width: 80px;
            height: 80px;
            object-fit: contain;
            background: #f5f5f5;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        p{
            font-size: 12px;
        }
    }
}

.ng_dialog{
    padding: 20px;

    .dialog_header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title{
            margin: 0;
            font-size: 16px;
            color: #000000;
        }
    }

    .dialog_body{
        padding: 25px 0 10px;
    }

    .dialog_buttons{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        padding-top: 20px;
    }
}

.share_dialog{

    h2{
        font-size: 14px;
    }

    .grey_stroked_btn.active{
        color: #017DB9;
        border-color: #017DB9;
    }

    p{
        color: #B0B0B0;
        padding: 15px 0;
        margin: 0;
    }

    .text_btn{
        display: flex;
        align-items: center;
        color: #5D5E5E;
        gap: 10px;
    }
}

.gray-btn {
    color: #5a6464;
}

.view_memb{
    position: relative;
    width: 85px;

    .memb_count{
        font-size: 12px;
        position: absolute;
        top: 0px;
        font-weight: 500;
        color: #017db9;
    }
}

.members{
    margin: 0;
    padding: 0;

    li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 15px;
        border-radius: 5px;

        &:hover{
            background: #F5FCFF;
        }

        .text_btn{
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

@media screen and (max-width:1227px) {
    .v3_wishlist .index_row{

        .index_leftcol{
            flex: 0 0 30%;
            max-width: 30%;
        }

        .index_rightcol{
            flex: 0 0 70%;
            max-width: 70%;
        }

    } 
}

@media screen and (max-width:991px) {
    .v3_wishlist{

        .index_row{

            .index_leftcol{
                flex: 0 0 100%;
                max-width: 100%;
    
                .side_wishlist .list{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 25px;
                }
            }
    
            .index_rightcol{
                flex: 0 0 100%;
                max-width: 100%;
    
                .top_filter{
                    display: block;
                    margin-top: 30px;
    
                    .right{
                        justify-content: end;
                        padding-top: 30px;
                    }
                }
    
                .product_list{
                    grid: none;
                }
            }
    
        }
    }
    
}

@media screen and (max-width: 767px) {
    .side_wishlist .list li{
        width: 49%;
    }

    .v3_wishlist{

        .index_row{

            .index_rightcol{

                .list_view .pl_details {
                    flex-wrap: wrap;

                    .image{
                        flex: 0 0 25%;
                        width: 25%;
                    }

                    .details{
                        flex: 0 0 75%;
                        width: 75%;
                    }

                    .pl_actions{
                        flex: 0 0 100%;
                        width: 100%;
                    }

                }
            
                .product_list{

                    .checkbox{
                        display: block;
                    }

                    .pl_details{
        
                        .image{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                    }
                }

                .supplier_list{
                    
                    .sl_details{
                        display: block;
                    }
                    
                }


                .pl_actions{
                    width: 100%;
                    flex: 0 0 100%;
                    padding: 0;
                    margin: 20px 0;
                }

            }
    
        } 
    }
}

@media screen and (max-width: 575px) {
    .side_wishlist .list li{
        width: 100%;
    }

    .v3_wishlist .index_row .index_rightcol .supplier_list .supplier{
        width: 100%;

        .supplier_row .supplier_col{
            width: 33.3%;
    
            img{
                width: 100%;
                height: 80px;
            }
        }
    }
}


.no-products-found {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 250px;
}

section.invalid-url {
    max-width: 600px;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no_found{
    text-align: center;
}

.no_found img{
    width: 200px;
}

.no_found h1{
    font-size: 16px;
    font-weight: 500;
}