<ng-container *ngIf="quoteCloseReasons && quoteCloseReasons.length > 1">
  <div class="modal_header">
    <h3>Provide feedback to the seller</h3>
    <span class="icon_close" type="button" (click)="closeQuotePopup()"><img src="../.././../../assets/images/close_icon.png"></span>
  </div>
  <section class="closedailogpopup">
    <section class="closeList mb-3">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="closedReason">
          <mat-radio-button *ngFor="let reason of quoteCloseReasons" [value]="reason">{{ reason }}</mat-radio-button>
        </mat-radio-group>
    </section>
    <mat-dialog-actions align="center">
      <button [disabled]="!closedReason" (click)="deleteQuote()"
        class="primary_btn">Close this Quote</button>
    </mat-dialog-actions>
  </section>
</ng-container>