<!-- category page sub categories -->
<ng-container
  *ngIf="this.screenName != 'home' && this.screenName != 'productdetails' && this.screenName != 'youMayAlsoLike' && this.screenName != 'likedetails'">
  <div class="category-nav">
    <section class="nav-area">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let category of leadCats">
          <ng-template carouselSlide [id]="category.category_id">
            <div class="pointer" (click)="navigate(category)">
              <div class="category-cards pointer">
                <img class="img-category-slider" [src]="category.category_img"/>
              </div>
              <a class="search-menu">
                <span> {{ category.category_name }} </span>
              </a>
            </div>

            <!-- <ng-container *ngIf="category.least_categories.length > 1">
            <div class="category-cards">
              <img class="img-category-slider" [src]="category.category_image" />
            </div>
            <a class="search-menu"  [matMenuTriggerFor]="searchmenu">
              <span> {{ category.category_name }} </span>
              <mat-icon class="downarrow">chevron_left</mat-icon>
            </a>
            </ng-container>
            <mat-menu #searchmenu="matMenu" class="main-menu">
              <div [ngClass]="category.least_categories.length >= 2 ? 'bigList' : 'smallList'">
                <ul>
                  <li *ngFor="let cat of category.least_categories">
                    <a [routerLink]="['/products', cat.category_name +'-'+ cat.category_id]">
                      {{ cat.category_name }}
                    </a>
                  </li>
                </ul>
              </div>
            </mat-menu> -->

          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </section>

    <div *ngIf="showMore" class="category-panel">
      <div class="category-panel-container">
        <div class="nav_dd">
          <section class="nav_cat">
            <div class="main-container">
              <div class="row">
                <div class="col-sm-4">
                  <ul *ngIf="categories.length > 0" class="nav_catli underline">
                    <ng-container *ngFor="let cat of categories">
                      <a class="pointer">
                        <li (click)="getLeafCategories(cat.have_children, cat.category_id, cat.category_name)"
                          [class.hover]="cat.category_name == sub_cat_name"
                          >
                          <!-- (mouseover)="fillLeastCatList(cat.sub_cat, cat.category_name)" -->
                          <!-- <img [src]="cat.category_img"> -->
                          {{cat.category_name}}
                        </li>
                      </a>
                    </ng-container>
                  </ul>
                </div>
                <div class="col-sm-8">
                  <!-- <div *ngIf="leastCats.length > 0; else selectOne" class="nav_subcat_row"> -->
                  <div *ngIf="leastCats.length > 0" class="nav_subcat_row">
                    <div *ngFor="let cat of leastCats" class="nav_subcat_col">
                      <div (click)="goTo2('products', cat.category_id, cat.category_name)" class="nav_subcat_list pointer">
                        <img [src]="cat.category_img" />
                        <p>{{cat.category_name}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- <ng-template #selectOne>
                    <div class="select_category">
                      <p>Select one category to view </p>
                    </div>
                    <h5></h5>
                  </ng-template> -->
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div (click)="loadMore()" class="mask"></div>
    </div>
    <!-- <div *ngIf="showMore" class="category-panel">
      <div class="category-panel-container">
        <div class="nav_dd">
          <section class="nav_cat">
            <div class="main-container">
              <div class="row">
                <div class="col-sm-4">
                      <ul class="nav_catli">
                          <ng-container *ngFor="let cat of menulist">
                              <a>
                                  <li [class.hover]="cat.room_name == room_name"
                                      (mouseover)="fillSubCatList(cat.category, cat.room_name)">{{cat.room_name}}</li>
                              </a>
                          </ng-container>
                      </ul>
                  </div>
                <div class="col-sm-4">
                  <ul *ngIf="subCatList.length > 0" class="nav_catli underline">
                    <ng-container *ngFor="let cat of subCatList">
                      <a class="pointer">
                        <li (click)="goTo2('category', cat.cat_id, cat.cat_name)"
                          [class.hover]="cat.cat_name == sub_cat_name"
                          (mouseover)="fillLeastCatList(cat.sub_cat, cat.cat_name)">
                          <img [src]="cat.icon">
                          {{cat.cat_name}}
                        </li>
                      </a>
                    </ng-container>
                  </ul>
                </div>
                <div class="col-sm-8">
                  <div *ngIf="leastCatList.length > 0" class="nav_subcat_row">
                    <div *ngFor="let cat of leastCatList.slice(0,5)" class="nav_subcat_col">
                      <div (click)="goTo2('products', cat.sub_cat_id, cat.cat_name)" class="nav_subcat_list pointer">
                        <img [src]="cat.cat_img" />
                        <p>{{cat.cat_name}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div (click)="loadMore()" class="mask"></div>
    </div> -->
  </div>
</ng-container>

<ng-container *ngIf="this.screenName == 'home'">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let item of categories">
      <ng-template carouselSlide>
        <section class="card1">
          <app-card-style2 [item]="item"></app-card-style2>
        </section>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</ng-container>



<ng-container *ngIf="this.screenName == 'productdetails'">
  <owl-carousel-o [options]="customOptions" class="p_thumbimages">
    <ng-container *ngFor="let media of allMedia">
      @if (media.type == "image") {
        <ng-template carouselSlide>
          <div (click)="changeImages(media.value)" class="image_preview">
            <img class="img-category-slider" [src]="media.value" />
          </div>
        </ng-template>
      }
      @else {
        <ng-template carouselSlide>
          <div class="video_img" (click)="openVideo(media.value)">
            <video>
              <source [src]="media.value" type="video/mp4">
            </video>
            <i class="fa fa-play video_icon"></i>
        </div>
        </ng-template>
      }
    </ng-container>
  </owl-carousel-o>
</ng-container>

<ng-container *ngIf="this.screenName == 'youMayAlsoLike'">
  <owl-carousel-o [options]="customOptions" class="productscarousel">
    <ng-container *ngFor="let item of categories">
      <ng-template carouselSlide>
        <section class="card1">
          <app-product-card [styleClass]="'smallcard'" [item]="item" [description]="true" [price]="true"
            [qty]="true"></app-product-card>
        </section>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</ng-container>




<ng-container *ngIf="this.screenName == 'likedetails'">
  <owl-carousel-o [options]="customOptions" class="productscarousel">
    <ng-container *ngFor="let item of categories">
      <ng-template carouselSlide>
        <section class="card1">
          <app-product-card [styleClass]="'smallcard'" [item]="item" [description]="true" [price]="true" [qty]="true">
          </app-product-card>
        </section>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</ng-container>

<ng-template #videoModal>
  <section class="videoModal">
      <button class="video_close" (click)="dialogRef.close()"><i class="fa fa-close"></i></button>
      <video controls>
          <source [src]="videoUrl" type="video/mp4">
      </video>
  </section>
</ng-template>