button.manf-button.contact-supplier {
    background: #daf3fb;
    color: #333333;
    font-size: 14px; font-weight: 500; height: 32px; box-shadow: none;
    margin-bottom: 0px; border-radius: 54px;
}

.sendbtn{ color:#017db9 !important;}

.stroked_button{    color: #017db9 !important;
    border: 1px solid #02a8df !important;
    text-align: center;
    width: 100% !important;
    padding: 10px 10px;
    border-radius: 30px !important;
    background: none !important;
    height: auto !important;
    outline: none !important; }

    .product_details_btn{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }

    .supplier_btn{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 12px;
    }