<ng-container *ngIf="!btnstyle">
    <button [disabled]="disabled" [ngClass]="class" class="primary_btn" (click)="showInquiry()">
        Contact Supplier 
    </button>
</ng-container>

<ng-container *ngIf="btnstyle">
    <button *ngIf="!companyBtn" [ngClass]="class" class="primary_btn" (click)="showInquiry()">Send Enquiry</button>
    <button *ngIf="companyBtn" class="stroked_btn" (click)="showInquiry()">Send Enquiry</button>
    <!-- <button *ngIf="companyBtn" class="primary_btn mt-3 w-75">Chat Now</button> -->
</ng-container>