// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MyVerkoper-primary: mat.define-palette(mat.$indigo-palette);
$MyVerkoper-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$MyVerkoper-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MyVerkoper-theme: mat.define-light-theme(
  (
    color: (
      primary: $MyVerkoper-primary,
      accent: $MyVerkoper-accent,
      warn: $MyVerkoper-warn,
    ),
  )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($MyVerkoper-theme);
@import "../node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss";
@import url(./smartloader.scss);
@import url(./assets/styles/material.scss);
/* You can add global styles to this file, and also import other style files */
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap");
html,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif !important;
  font-size: 14px;
  letter-spacing: normal; 
  color: #333;
}

.mainTitle{
  font-size: 18px!important;
  font-weight: 600!important;
  margin-bottom: 30px;
}

.supplierTitle{
  font-size: 14px;
  font-weight: 600;
  word-break: break-word;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text{
  color: #0172a8;
}

.v3_suppliers .mat-mdc-tab.mdc-tab{
  padding: 0;
  margin: 0 20px;
}

.v3_suppliers .product-desc{
  font-size: 12px!important;
}

.v3_suppliers .price{
  font-size: 10px!important;
}

.v3_suppliers .qtytxt{
  font-size: 10px!important;
}

.v3_supplier_actions button{
  font-size: 12px;
  margin: 0!important;
  display: flex;
  align-items: center;
  gap: 10px;
}

.v3_supplier_actions button svg{
  width: 12px;
}


.hometabs {
  padding: 0px 0;
  padding-bottom: 20px;
  // position: sticky;
  // top: 85px;
  background: #fff;
  z-index: 999;

  a {
    text-decoration: none;
    margin-right: 10px;
  }

  .mat-mdc-chip-graphic {
    display: none;
  }

  mat-chip-option {
    border: 1.5px #333333 solid;

    background: #ffffff !important;
    color: #000 !important;
    height: 35px;
    border-radius: 28px;
    background-color: var(--white-10);
    padding-left: 25px;
    padding-right: 25px;

    .mat-mdc-chip-action-label {
      color: #222 !important;
      font-size: 14px;
      letter-spacing: normal;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      cursor: pointer;
    }
  } 

  .selected .mat-mdc-chip-action-label {
    color: #0172a8!important;
  }

  .active {
    & mat-chip-option {
      background: #00aafb1c !important;
      border: 1.5px solid #0172a8 !important;
    }

    & .mat-mdc-chip-action-label {
      color: #0172a8 !important;
      font-weight: 500;
    }
  }
}

.company-right .hometabs mat-chip-option {
  margin-right: 10px;
}

.main-container {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

.search-inputs {
  & .mat-mdc-form-field-bottom-align {
    display: none;
  }

  & .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff !important;
  }

  & .mat-mdc-form-field-focus-overlay {
    background-color: #fff !important;
  }
}

header {
  padding-top: 15px;
  padding-bottom: 0px;
}

.carousel-inner .carousel-item:first-child:last-child {
  display: block !important;
}

.main-product-card .mdc-button__label {
  font-size: 10px;
}

.small-view {
  & button.manf-button.phone-number {
    margin-top: 2px !important;
    margin-bottom: 0px !important;
    height: auto;
    padding-top: 3px;
    padding-bottom: 0px;
    padding: 2px;
    padding-left: 6px !important;
    padding-right: 6px !important;
    margin-right: 0;
  }
}

.small-chat {
  & button.manf-button.chat-now {
    background: none;
    color: black;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px;
    fill: #525454;
  }
}

.megamatmenu {
  width: 600px;
  max-width: 600px !important;
}

button.mat-mdc-outlined-button.stroke_whitebtn {
  color: #fff !important;
  padding: 2px 30px !important;
  position: relative;

  border-radius: 30px !important;

  border: 1px solid white;
}

.card-imagewrap,
.product-images-latest {
  position: relative;
  cursor: pointer;

  &:after {
    position: absolute;
    background: rgba(0, 0, 0, 0.01);
    border-radius: 12px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@mixin positon($left, $right) {
  background: white !important;
  width: 40px;
  height: 40px;
  line-height: 30px;
  border-radius: 50% !important;
  float: left;
  color: black !important;
  box-shadow: 2px 2px 2px grey;
  border: 1px solid #f3f3f3;
  position: absolute;
  // top: 60px;
  top: 35%;
  left: $left;
  right: $right;
}

app-multi-carousel,
app-multi-banner,
app-home2 {
  & .owl-prev {
    @include positon(-20px, null);
  }

  & .owl-next {
    @include positon(null, -20px);
  }
}

app-banner,
app-carousel {
  & app-carousel {
    display: block;
    height: 100%;

    & mdb-carousel {
      height: 100%;
    }

    & .slide {
      height: 100%;

      & .carousel-inner {
        height: 100%;

        & mdb-carousel-item {
          height: 100%;
        }
      }
    }
  }
}

.carosualwrap app-carousel img {
  max-height: 250px;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  max-width: 100% !important;
}

.bigList {
  width: 500px;
  padding: 5px 20px;
}

.bigList ul,
.smallList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bigList ul li,
.smallList ul li {
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.bigList,
.smallList {
  ul li a {
    text-decoration: none;
    color: #000;
  }
}

.smallList {
  width: 200px;
  padding: 5px 20px;
}

.bigList ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.bigList ul li {
  width: 50%;
}

.marT30 {
  margin-top: 30px !important;
}

.marT20 {
  margin-top: 20px !important;
}

.pointer {
  cursor: pointer;
  text-decoration: none;
}

section h2,
h1,
h3,
h4,
h5,
h6 {
  font-family: "Inter" !important;
}

.card-section {
  .card-sec {
    min-height: 120px;
  }
}

.smallTitle {
  font-family: "Inter" !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 1.5 !important;
  color: #333333;
  margin-bottom: 10px !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  &:after {
    display: none;
  }
}

.search-menu {
  padding: 0 !important;

  & .mdc-notched-outline--no-label {
    display: none;
  }

  path {
    d: path(
      "M 12 15.45 L 5.95 9.425 L 7.475 7.9 L 12 12.425 L 16.525 7.9 l 1.525 1.525 Z"
    ) !important;
  }
  svg {
    height: 25px !important;
    width: 25px !important;
  }
}

.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background: none !important;

  & h3.sidenavbar-list-heading {
    color: #00aafb !important;
  }
}

.mat-expansion-panel-header.mat-expanded {
  & h3.sidenavbar-list-heading {
    color: #00aafb !important;
  }
}

app-header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 100;
}

.cardsWarp .owl-stage {
  display: flex;

  & .card1 {
    height: 100%;
  }

  .product-imgs {
    width: 120px !important;
    height: 120px !important;
  }
}

.flag {
  background: url(./assets/images/india_flag.png) no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  display: inline-block;
}

.mat-typography h4.box-title,
h4.box-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  font-style: normal;
  line-height: 1.5;
}

.singleselect {
  & .mdc-radio {
    display: none;
  }

  & .mdc-form-field > label {
    .radio {
      display: flex;
    }
  }
}

.ngxImageZoomContainer {
  overflow: inherit !important;
  max-width: 250px !important;
  z-index: 8;
  position: relative;

  &:after {
    position: absolute;
    background: rgba(0, 0, 0, 0.01);
    border-radius: 6px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  & img.ngxImageZoomThumbnail {
    width: 250px !important;
    border-radius: 5px;
    height: 250px;
    object-fit: contain;
    border: 1px solid #f5fcff;
  }
}

.ngxImageZoomFullContainer {
  left: 100% !important;
}

.smallfiled {
  position: relative;

  & .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
    min-height: 42px !important;
    min-width: 32px;
  }

  &
    .mat-mdc-text-field-wrapper
    .mat-mdc-form-field-flex
    .mat-mdc-floating-label {
    top: 20px;
  }

  & .mat-mdc-form-field-required-marker {
    display: none;
  }
}

.noborders {
  & .mdc-notched-outline > div {
    border: 0 !important;
  }

  &
    .mat-mdc-form-field
    .mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    display: none !important;
  }
}

.mobilefiled {
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  flex: 1;

  & .mat-mdc-form-field-subscript-wrapper {
    position: absolute;
    bottom: -20px;
  }
}

.mobilenumberfield {
  // width: 170px;
  width: 240px;
}

.mobilefiled {
  display: flex;
}

.signinner {
  padding: 0 100px;
}

.leftsign {
  background: #F2FBFF;
  height: 100%;
  border-radius: 10px;
  padding-top: 60px;
}

.datawrapsignin {
  padding-left: 50px;
}

.mobilesectionsignup {
  max-width: 420px;
}

.signformwrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row-sign {
  display: flex;
}

.otpbtn {
  height: 44px !important;
  margin-left: 5px;
  border-radius: 5px;
  border-color: #b0d7e9;
  width: 107px;
}

.flagfield {
  width: 65px;

  & .mat-mdc-text-field-wrapper {
    width: 100%;
    padding-left: 5px;
    padding-right: 0 !important;
  }
}

.terms_font {
  color: #333;
  font-size: 13px;
  letter-spacing: -0.1px;

  & a {
    color: #2b78c6;
    text-decoration: none;
  }
}

.smalltxt {
  color: #333;
  font-size: 14px;
  letter-spacing: -0.1px;

  & a {
    text-decoration: none;
    color: #017db9;
  }
}

.marT20 {
  margin-top: 20px !important;
}

.marT30 {
  margin-top: 30px !important;
}

.marT40 {
  margin-top: 40px !important;
}

.marT50 {
  margin-top: 50px !important;
}

.flagoptions.mat-mdc-option {
  padding-left: 3px;
  padding-right: 3px;
}

.signupBtn {
  background: #02a8df !important;
  color: #fff !important;
}

.signupBtn:disabled {
  opacity: 0.6;
}

.rightheader {
  display: flex;
  padding-top: 20px;
  justify-content: flex-end;
  font-weight: 500;
  color: #5D5E5E;

  & a {
    text-decoration: none;
    margin-left: 10px;
  }
}

.signup-header {
  // border-bottom: 1px solid #10b8ec;
}

.rightsidesign {
  padding-top: 60px;
}

.owl-item > div {
  position: relative;
}

.owl-item > div:after {
  position: absolute;
  background: rgba(0, 0, 0, 0.01);
  border-radius: 6px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border: 1px solid rgba(203, 203, 203, 0.7098039216);
  border-radius: 5px;
}

.p_thumbimages {
  .owl-carousel .owl-item {
    max-width: 80px;
    height: 80px;
    object-fit: cover;
  }

  .owl-carousel .owl-item img {
    max-width: 80px;
    height: 80px;
    object-fit: cover;
  }
}

.main_banner .owl-prev, .main_banner .owl-next{
  top: 50%!important;
  transform: translate(0, -50%);
}

.productscarousel {
  & .owl-prev {
    top: 60px !important;
  }

  & .owl-next {
    top: 60px !important;
  }

  & .product-images-latest {
    height: 190px !important;
  }
}

.bannercarousel {
  & .owl-prev,
  .owl-next {
    top: 20px !important;
  }
}

a {
  text-decoration: none;
  color: #000;
}

app-popupsigninform app-signinform {
  display: inline-block;
  // padding: 30px 20px 20px 20px;

  .datawrapsignin {
    // max-width: 100%;
    padding-left: 0px;
  }
}

.mat-mdc-paginator {
  width: 100%;
}

.smallfiled {
  .mdc-floating-label--float-above mat-label {
    display: none;
  }
}

.bigbtn {
  min-width: 130px !important;
}

.primaryBtn {
  background: #02a8df !important;
  color: #fff !important;

  &:disabled {
    background-color: #eee !important;
    color: #9a9a9a !important;
  }
}

app-banner img {
  border-radius: 24px !important;
  object-fit: fill !important;
}

.tab-section .mat-mdc-tab-label-container {
  border-bottom: 0;
}

.product_details .mat-mdc-tab-header {
  position: sticky;
  top: 120px;
  background: #fff;
  border: 0 !important;
  z-index: 9;
}

.details_tab .mat-mdc-tab-header{
  border-bottom: 1px solid #CCCCCC!important;
}

.company-actions-row .call {
  width: auto !important;
}

.fieldsec {
  & label {
    color: #333333;
    font-weight: 400;
    margin-bottom: 5px;
  }
}

.mdc-checkbox__background{
  border-radius: 3px;
  border: 1.5px solid #5D5E5EB2;
}

.middlefiled {
  & .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  & .mat-mdc-form-field-infix {
    padding-top: 10px !important;
    min-height: 40px !important;
    padding-bottom: 10px !important;
  }

  &.selectmiddle {
    & .mat-mdc-form-field-infix {
      padding-top: 4px !important;
      min-height: 34px !important;
      padding-bottom: 4px !important;
    }

    &
      .mat-mdc-text-field-wrapper
      .mat-mdc-form-field-flex
      .mat-mdc-floating-label {
      top: 16px !important;
    }

    &
      .mat-mdc-text-field-wrapper
      .mat-mdc-form-field-flex
      .mat-mdc-floating-label.mdc-floating-label--float-above {
      top: 25px !important;
    }
  }
}

.marR20 {
  margin-right: 20px;
}

app-rfq-card,
.mat-icon {
  cursor: pointer;
}

.confrmationpopup {
  text-align: center;
  padding: 50px 40px;

  & h3 {
    font-weight: 600 !important;
    font-size: 22px !important;
    margin: 10px 0 20px !important;
  }

  & mat-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: green;
  }
}

.nochatmsg {
  padding: 30px;
  text-align: center;
}

.account_header {
  & .header-section {
    display: flex;
    justify-content: space-between;
  }

  & .main-container {
    width: 100% !important;
    max-width: 100% !important;
  }

  & img.myverkoper-buyer-logo {
    max-height: 40px !important;
  }

  & header {
    padding-top: 10px !important;
  }
}

a:-webkit-any-link:focus-visible {
  outline-offset: 0px !important;
}

.mobileonly,
.filtercount {
  display: none;
}

.mobilefilterheading {
  display: none;
}

.mobilesearch,
.closesearch {
  display: none;
}

.gmail-icon {
  background: url(./assets/images/gmail-login.png);
}

.fb-icon {
  background: url(./assets/images/fb-login.png);
}

.gmail-icon,
.fb-icon {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.marT10 {
  margin-top: 10px !important;
}

.marB20 {
  margin-bottom: 20px !important;
}

.timer {
  margin-left: 20px;
  color: #000;
  font-size: 12px;
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // border-radius: 10px;
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  // background-color: blue;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dbdbdb;
  width: 2px;
}

.searchwrap-inner {
  & .mdc-text-field--filled {
    border-bottom: 1px solid #00aafb !important;
    position: relative !important;
    top: 1px !important;
  }
}

app-view-details .mat-mdc-tab-header {
  position: sticky !important;
  top: 0;
  z-index: 1;
  background: #fff;
}

.fieldsec {
  .mat-mdc-icon-button.mat-mdc-button-base {
    height: 44px !important;
  }
}

.fieldsec mat-checkbox {
  .mdc-form-field {
    display: flex;
  }

  & label {
    margin: 0;
  }
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab__text-label,
.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active
  .mdc-tab__text-label {
  color: #000 !important;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled)
  .mdc-tab-indicator__content--underline {
  border-color: #00aafb !important;
}

app-banner {
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
  }
}

.slider_bg_multi {
  padding: 20px 20px 0px;

  .owl-next {
    position: absolute;
    right: 0;
  }

  .owl-prev {
    position: absolute;
    left: 0;
  }

  & .owl-theme .owl-nav [class*="owl-"] {
    //display: none;
  }

  & .owl-theme .owl-nav [class*="owl-"]:hover,
  & .owl-theme .owl-nav [class*="owl-"] {
    background: #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;

    & i {
      color: #000;
      font-size: 15px;
      position: relative;
      top: 0px;
    }

  }

  & .owl-theme .owl-nav [class*="owl-"].disabled {
    // display: none !important;
  }

  &:hover {
    & .owl-theme .owl-nav [class*="owl-"] {
      display: block;
    }
  }
}
.tab-banner-chips-normal {
  & .mdc-tab {
    flex-grow: initial !important;
  }
}
.tab-banner-chips {
  & .mat-mdc-tab {
    padding: 0 !important;
    margin: 0 5px !important;
  }
  & .mdc-tab-indicator {
    display: none !important;
  }
  & .mdc-tab {
    flex-grow: initial !important;
  }
  & .chipcls {
    border: 1.5px solid #9b9f9f;
    background: #ffffff !important;
    color: #000 !important;
    height: 35px;
    border-radius: 28px;
    line-height: 34px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
  }
  & .mdc-tab-indicator--active {
    div.chipcls {
      color: #0172a8 !important;

      background: #e6f8fe !important;
      border: 1.5px solid #0172a8;
    }
  }
}

.tab-banner-chips .mdc-tab:hover {
  & .mdc-tab__text-label {
    div.chipcls {
      color: #0172a8!important;

      background: #e6f8fe !important;
      border: 1.5px solid #0172a8;
    }
  }
}

app-home2 .page-wrap {
  padding-top: 0;
}

app-region .productscarousel {
  & .owl-prev {
    top: 20px !important;
    background: none !important;
  }

  & .owl-next {
    top: 20px !important;
    background: none !important;
  }
}

.toast-success {
  
  // background-color: #C8F2CC !important;
  // color: #02D23C !important;
  border: 1px solid #02D23C;
  // background: #C8F2CC url("assets/images/toaster-success.png") no-repeat left top;
  background: #F9F8F8 url("assets/images/toaster-success.png") no-repeat left top;
  color: rgba(0, 0, 0, 0.60) !important;
  // border: 1px solid #FBC503;
  // background: #F9F8F8 url('assets/images/mingcute_alert-fill.png') no-repeat left top;
  font-size: 17px;
}


.toast-message{
  padding-left: 35px;
  font-size: 14px;
}

.toast-error {
  border: 1px solid red;
  color: red !important;
  justify-content: center;
  display: flex;
  padding-left: 18px !important;
  background: #FBC1C1 url("assets/svg/toaster-error.svg") no-repeat left top;
  font-size: 17px;
}


.companycarosal {
  & .owl-item {
    max-width: 20.66%;
    padding: 0 12px;
  }
}

app-multi-banner .owl-carousel {
  padding-top: 15px;
}

.slider_bg_multi .owl-theme .owl-nav [class*="owl-"]:hover,
.slider_bg_multi .owl-theme .owl-nav [class*="owl-"] {
  // top: 50px !important;
  top: 35% !important;
}

.multibanner {
  .owl-item {
    padding: 0 10px;
  }

  & .baner-text-content-t h2 {
    font-size: 16px !important;
  }
}

app-home2 app-big-banner {
  & .owl-prev,
  & .owl-next {
    top: 50% !important;
    transform: translate(0, -50%);
    margin-top: -20px !important;
  }
}

app-sub-category .cat-data .owl-carousel .owl-item {
  max-width: 120px;
}
owl-carousel-o.productscarousel .owl-prev {
  left: 0px !important;
}
owl-carousel-o.productscarousel .owl-next {
  right: 0px !important;
}
app-home2 .primeSuppliers .owl-prev,
app-home2 .primeSuppliers .owl-next {
  background-color: #0075be;
  top: 30% !important;
  margin-top: -20px !important;
  z-index: 9999 !important;
}

.carosalItems .productscarousel .product-images-latest {
  height: 190px !important;
}

// app-multi-banner .owl-stage {
//   padding-left: 200px;
//   display: flex;
// }

.mat-mdc-tab-header {
  border: none !important;
}

.mat-ripple.mat-mdc-tab-ripple {
  display: none;
}
.mat-mdc-tab:hover .mdc-tab__ripple::before,
.mat-mdc-tab .mdc-tab__ripple::before {
  opacity: 0 !important;
}

.tab-banner-chips-normal {
  & .mat-mdc-tab-header-pagination-before,
  & .mat-mdc-tab-header-pagination-after {
    position: absolute;
    right: 0;
    top: 3px;
    width: 30px;
    height: 43px;
    background: #fff;
    z-index: 99;
  }
  & .mat-mdc-tab-header-pagination-before {
    right: 31px;
  }
}
// app-home2 app-big-banner .owl-prev,
// app-home2 app-big-banner .owl-next {
//   top: 50% !important;
//   margin-top: -16px !important;
//   margin-right: 30px !important;
// }

app-home2 app-big-banner {
  .owl-prev {
    top: 50% !important;
    margin-top: -16px !important;
    margin-left: 30px !important;
  }
  .owl-next {
    top: 50% !important;
    margin-top: -16px !important;
    margin-right: 30px !important;
  }
}

.multibannersec section.slider_bg_multi .owl-theme .owl-nav [class*="owl-"] {
  visibility: visible !important;
  width: 35px !important;
  height: 35px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  // top: 92px !important;
  & i {
    font-size: 15px !important;
    // color: white !important;
  }
}

.v3_enquiry .mdc-text-field--outlined .mdc-notched-outline{
  outline: none;
}

.multibannersec section.slider_bg_multi .owl-theme .owl-nav .owl-prev{
  position: absolute;
  left: -38px!important;
}

.multibannersec section.slider_bg_multi .owl-theme .owl-nav .owl-next{
  position: absolute;
  right: -38px!important;
}

// .multibannersec section.slider_bg_multi .owl-theme .owl-nav{ display: flex; justify-content: center;}
// .multibannersec section.slider_bg_multi .owl-theme .owl-nav .owl-prev{
//   position: relative;
//   left: auto !important;
//   top: auto !important;
//   background-color: transparent !important;
//   background-color: transparent !important;
//   box-shadow: none;
//   border: none; margin-right: 30px;
//   z-index: 99;
// }

// .multibannersec section.slider_bg_multi .owl-theme .owl-nav .owl-next{
//   position: relative;
//   left: auto !important;
//   top: auto !important;
//   background-color: transparent !important;
//   box-shadow: none;
//   border: none;
//   margin-left: 30px;
//   z-index: 99;
// }
// .multibannersec section.slider_bg_multi .owl-theme  .owl-dots{     
//   position: relative;
//   top: -39px;

//   & .owl-dot {
//     & span {
//       width: 8px;
//       height: 8px;
//       background-color: #EBEBEB;
//       // border: 1px solid #fff;
//       // outline: 1px solid #fff; 
//     }
//     &.active span { 
//       width: 25px;
//       background-color: #EBEBEB;
//       overflow: hidden;
//       // background: #fff;
//       // transform: scale(1.3)
//     }

//     &.active span::before { 
//       content: "";
//       display: block;
//       height: 100%;
//       width: 100%;
//       background:  linear-gradient(90deg, rgba(2, 168, 223, 0.80) 0%, rgba(36, 52, 112, 0.80) 100%) !important;
//       -webkit-animation: progress-animation 6s ease-in-out;
//       animation: progress-animation 6s cubic-bezier(.57,.14,.53,.82) infinite; 
//       // background: #fff;
//       // transform: scale(1.3)
//     }
//   }
//   & span:hover { background: #fff;
//   }


// }
.carousel.slide button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}

// section.tab-banner-chips-normal,
// div.tab-banner-chips-normal {
//   border-bottom: 1px solid #d0d0d0;
// }

.paginator {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.profile-icon-avatar {
  & .mdc-button__ripple {
    display: none;
  }
  & .mat-mdc-button-ripple {
    display: none;
  }
}
.toast-bottom-center {
  width: 100% !important;
}

app-sub-category .owl-item > div:after {
  background: none;
  border: none;
}

.hometopbanner {
  owl-carousel-o,
  owl-stage,
  owl-stage > div,
  .owl-stage {
    height: 100%;
    display: block;
  }
  .owl-theme,
  .owl-carousel .owl-item {
    height: 100%;
  }
  .owl-carousel .owl-stage-outer,
  .gradient-imgs {
    height: 100%;
  }

  h2 {
    font-family: "Open Sans", sans-serif;
  }
  & .owl-nav {
    display: none;
  }
  & .owl-dots {
    width: 100%;
    position: absolute;
    bottom: 0px;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
  }
}
app-home-banner {
  overflow: hidden;
  width: 100%;
}
.ngx-pagination{
  padding: 0;
}
.ngx-pagination .current {
  padding: 0px;
  background: #02a8df !important;
  color: #fefefe;
  cursor: default;

  text-align: center;
  line-height: 24px;
  border-radius: 3px;
  padding-left: 14px !important;
  padding-right: 14px !important;
  margin-left: 3px;
  margin-right: 3px;
}
.ngx-pagination a,
.ngx-pagination button {
  color: #0a0a0a;
  display: block;
  padding: 0px;
  border-radius: 0;
  text-align: center;
  font-weight: 500;
  padding-left: 14px !important;
  padding-right: 14px !important;
  margin-left: 3px;
  margin-right: 3px;
}
app-home-banner {
  overflow: hidden;
  width: 100%;
}

section.datawrapsignin.main-full-section {
  // min-width: 100% !important;
}

.mat-mdc-tab-header-pagination-after,
.mat-mdc-tab-header-pagination-before {
  overflow: initial !important;
  &:before {
    // content: "";

    width: 87px;
    height: 100%;
    position: absolute;
    left: -77px;
    background: linear-gradient(
      to left,
      rgb(255, 255, 255) 20%,
      rgba(255, 255, 255, 0) 80%
    );
  }
}
.mat-mdc-tab-header-pagination-before {
  &:before {
    left: auto;
    right: 0;
    display: none !important;
  }
}

.pagination-previous,
.pagination-next {
  & span {
    display: none;
  }
  & a {
    font-size: 0;
    &:before {
      font-size: 15px;
    }
  }
}

.ngx-pagination {
  & .pagination-previous,
  & .pagination-next {
    position: relative;
    &.disabled {
      border: 1px solid #e7e7e7;
      padding: 2px 4px;
      position: relative;
      border-radius: 4px;
      margin: 0 10px 0 0;
      min-width: 30px;
    }

    & a {
      cursor: pointer;
      border: 1px solid #e7e7e7;
      height: 26px;
      margin: 1px;
      padding: 0 4px;
      border-radius: 4px;
    }
  }
  & .pagination-next {
    &.disabled {
      margin: 0 0 0 10px;
    }
  }
}
.ngx-pagination {
  & .pagination-previous.disabled,
  & .pagination-previous a,
  & .pagination-next.disabled,
  & .pagination-next a {
    &:before {
      content: "\f054" !important;

      font: normal normal normal 14px/1.5 FontAwesome;
      top: 2px;
      position: relative;
      left: 5px;
    }
  }
}

.ngx-pagination {
  & .pagination-previous.disabled:before,
  & .pagination-previous a:before {
    content: "\f053" !important;
  }
}

.ngx-pagination .pagination-next a:after,
.ngx-pagination .pagination-next.disabled:after {
  display: none !important;
}

// .owl-nav div{ visibility: hidden;
// &:hover{ visibility: visible;}
// }

section.heading-p.hed-img img {
  margin: 0 20px 20px 20px !important;
  
}

section.heading-p.hed-img img.left {
  float: left; margin: 0 20px 20px 0 !important;
  
}
section.heading-p.hed-img img.right {
  float: left; margin: 0 0px 20px 20px !important;
  
}

mat-chip {
  & span {
    cursor: pointer;
  }
}

app-big-banner {
  & .owl-nav {
    opacity: 0;
  }
  & .big-banner:hover {
    & .owl-nav {
      opacity: 1;
    }
  }

  & .owl-nav .disabled {
    opacity: 0 !important;
  }
}

app-region {
  & .owl-nav {
    opacity: 0;
  }
  & .owl-carousel:hover {
    & .owl-nav {
      opacity: 1;
    }
  }
  & .owl-next,
  & .owl-prev {
    background: #fff !important;
    display: none;
  }

  & .slider_bg_multi .owl-theme .owl-nav [class*="owl-"] {
    top: 36px !important;
    background: #fff !important;
  }
  & .slider_bg_multi .owl-theme .owl-nav [class*="owl-"]:hover,
  .slider_bg_multi .owl-theme .owl-nav [class*="owl-"] {
    top: 36px !important;
    background: #fff !important;
  }
}
.signup-latest-fields {
  & .mdc-text-field--outlined {
    height: 43px !important;
    overflow: visible;
  }
}

.product-image-gallary {
 & .owl-item > div:after {
  border-width: 0px;
 }
}

body.mat-typography app-blog-details, app-blog-details
{
  h2, h2 span{ 
    font-family:"Inter", sans-serif  !important;
    margin: 0 0 8px 0;
    color: #333;
    font-weight: 300 !important;
    font-size: 34px;
    line-height: 1.3 !important;
  }

    
  h3, h3 span{ 
    margin: 0 0 8px 0;
    color: #333;
    font-weight: 300;
    font-size: 32px;
    font-family:"Inter", sans-serif !important;
    line-height: 1.3 !important;
  }

  h4, h4 span {
    color: #333;
    font-weight: 300;
    font-size: 28px;
    font-family:"Inter", sans-serif !important;
    line-height: 1.3 !important;
  }

  h5, h6, h5 span, h6 span {
    color: #333;
    font-weight: 300;
    font-size: 24px;
    font-family:"Inter", sans-serif !important;
    line-height: 1.3 !important;
  }
}

.signup_popup{
  height: 90vh;
}

// ------------ career start ------------

#rec_job_listing_div .rec_facet_group{
  width: 25%;
  padding: 20px;
}
#rec_job_listing_div .rec_facet_group span{
  font-weight: 600;
  font-size: 16px;
}
#rec_job_listing_div .rec_ul_filter{
  list-style: none;
  padding: 0;
  margin-top: 10px;
  border-top: 1px solid #e5e9f3;
  padding-top: 20px;
}
#rec_job_listing_div .rec_ul_filter li label{
  cursor: pointer;
}
#rec_job_listing_div .rec_ul_filter li span{
  font-weight: 400;
  font-size: 14px;
  color: #222;
  padding-left: 7px;
}
#rec_job_listing_div ul.rec-job-info li span{
  font-size: 14px;
}
#rec_job_listing_div .rec-job-title{
  border-bottom: 1px solid #e5e9f3;
  padding-bottom: 14px;
  position: relative;
  z-index: 0;
}
#rec_job_listing_div .rec-job-title:before{
  position: absolute;
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #222;
  top: 8%;
  right: 10px;
  z-index: -1;
}
#rec_job_listing_div .rec-job-title a{
  width: 100%;
}
#rec_job_listing_div {
  .zrsite_State, .zrsite_Country, .zrsite_Industry, .zrsite_Job_Type{
    display: none;
  }
}

section.blog-description {
  ul{ margin: 0;}

  p, li, div, p span, li span, div span {
    font-size: 18px !important;
    font-family:"Inter", sans-serif !important;
    text-align: justify;
    line-height: 1.4 !important;
    font-weight: 400!important; color: rgba(85,85,85);
    white-space: unset !important;
  }
  p{ margin-bottom: 20px !important;}
  .tablecontent{
    width: 100% !important;
    margin: 10px 0 10px;
    display: block;
    border-radius: 10px;}
}

.hometabs mat-chip-option:hover, .hometabs mat-chip-option.selected  {
  background: #e6f8fe !important;
  border: 1.5px solid #0172a8 !important;
}

.hometabs .mat-mdc-chip:hover .mat-mdc-chip-focus-overlay{
  opacity: 0!important;
}
.hometabs mat-chip-option:hover .mat-mdc-chip-action-label{
  color: #0172a8 !important;
}

div.form-group.searchwrapper.blog {
.form-control {
  padding-top: 8px;
  padding-bottom: 8px;
}
}

.hometabs {
  .mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic  .mdc-evolution-chip__action--primary {
    padding-right: 0px;
  }
}

@media screen and  (min-width: 770px)  and (max-width: 850px) {
  h2.smallTitle.w-850 {
    font-size: 14px !important;
    mat-icon {
      top: 0px !important;
    }
  }
}
li.list-group-item.li label{
  font-weight: 500;
}

.search-menu {
  .mat-mdc-select-value-text {
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    color: #5D5E5E;
  }
}
app-multi-banner{
.owl-carousel .owl-stage{ padding: 10px 0;}
}

.exclusive_bg .owl-carousel .owl-stage{ padding: 0;}

@-webkit-keyframes progress-animation {
  0% {
    width: 0%;
  }
  20% {
    width: 10%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 60%;
  }
  100% {
    width: 90%;
  }
}
@keyframes progress-animation {
  0% {
    width: 0%;
  }
  // 10% {
  //   width: 10%;
  // }
  // 15% {
  //   width: 15%;
  // }
  // 20% {
  //   width: 20%;
  // }
  // 25% {
  //   width: 25%;
  // }
  // 30% {
  //   width: 30%;
  // }
  // 35% {
  //   width: 35%;
  // }
  // 40% {
  //   width: 40%;
  // }
  // 45% {
  //   width: 45%;
  // }
  // 50% {
  //   width: 50%;
  // }
  // 55% {
  //   width: 55%;
  // }
  // 60% {
  //   width: 60%;
  // }
  // 65% {
  //   width: 65%;
  // }
  // 70% {
  //   width: 70%;
  // }
  // 75% {
  //   width: 75%;
  // }
  // 80% {
  //   width: 80%;
  // }
  // 85% {
  //   width: 85%;
  // }
  // 90% {
  //   width: 90%;
  // }
  // 95% {
  //   width: 95%;
  // }
  100% {
    width: 100%;
  }
}


.hometopbanner .owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 0 !important;
  padding: 0 !important;
}

.hometopbanner .owl-theme .owl-dots .owl-dot{ margin-right: 10px;}
.hometopbanner .owl-theme .owl-dots .owl-dot.active {
  
  height: 8px;
  width: 20px;
  border-radius: 50px;
  overflow: hidden;
  background: #D6D6D6;
}

.hometopbanner .owl-theme .owl-dots .owl-dot.active span {
  margin: 0 !important; padding: 0 !important;
  
  height: 100%;
  width: 60px;
  background: rgb(2,168,223) !important;
background:  linear-gradient(90deg, rgba(2, 168, 223, 0.80) 0%, rgba(36, 52, 112, 0.80) 100%) !important;
 
  -webkit-animation: progress-animation 5s ease-in-out;
          animation: progress-animation 5s ease-in-out;
}

.tab-banner-chips .mat-mdc-tab-header{
  margin-top: 20px;
}

app-category-carousel {
  & .multibanner:hover {
    & .owl-nav {
      opacity: 1;
    }
  }

  & .owl-nav .disabled {
    opacity: 0 !important;
  }
}

.myTable{
  width: 100%;
  overflow: auto;
  padding: 10px 0;

  table{
    width: 100%;
  }

  & tbody{
    
    & th, td{
      padding: 8px 10px 8px 0;
      vertical-align: baseline;
      word-break: break-word;
    }
  }
}

.list-tab{
  & button.btn-manf-list:focus{
    background: rgba(0, 170, 251, 0.1098039216) !important;
    border: 1.5px solid #0172a8 !important;
    box-shadow: none!important;
  }
}

.blog-media{
  & .mdc-tab{

    min-width: auto;
  }
}

.dynamic_blog{

  h1, h2, h3, h4, h5, h6{
    font-size: 18px!important;
    font-weight: 400!important;
    padding-bottom: 15px;

    strong{
      font-weight: 500!important;
    }
  }

  li{
    font-size: 16px!important;
    padding-bottom: 10px!important;
    line-height: 26px!important;
  }

  p{
    font-size: 16px!important;
    line-height: 26px!important;
  }

  img{
    width: 100%!important;
    border-radius: 10px!important;
  }
}

.req_quotation{
  border-radius: 10px;
  background: linear-gradient(0deg, #009ED2 0%, #009ED2 100%);
  padding: 45px 30px;
  margin: 40px 0;
}

.req_quotation h1{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 5px;
}
.req_quotation p{
  color: #fff;
  margin: 0;
}
.req_quotation .rfq_btn{
  color: #fff;
  background: transparent;
  border: 1.5px solid #fff;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 500;
}

.disable-scroll{
  overflow: hidden;
}

.rounded-corners {
  border-radius: 20px;
}

.fw_500{
  font-weight: 500;
}

.text_primary{
  color: #017DB9!important;
}

.text_red{
  color: #D63333!important;
}

.text_error{
  color: #D63333!important;
}

.text_red{
  color: #D63333!important;
}

.primary_btn{
  background: #02A8DF;
  color: #fff;
  border-radius: 30px;
  padding: 7px 20px;
  border: 1.5px solid #02A8DF;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.primary_btn:disabled, .grey_stroked_btn:disabled{
  background: #e5e5e6;
  color: #8A8A8A;
  border: 1.5px solid #e5e5e6;
  cursor: inherit;
}

.sec_btn{
  background: #E6F8FE;
  color: #017DB9;
  border-radius: 30px;
  padding: 7px 20px;
  border: 1.5px solid #E6F8FE;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.stroked_btn{
  background: transparent;
  color: #02A8DF;
  border-radius: 30px;
  padding: 7px 20px;
  border: 1.5px solid #02A8DF;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.stroked_btn.chat-now {
  border: none;
  font-weight: 500;
}

.stroked_btn:disabled{
  border-color: #1D1B201F;
  color: #1D1B20;
}

.grey_stroked_btn{
  background: transparent;
  color: #5d5e5e;
  border-radius: 30px;
  padding: 7px 20px;
  border: 1.5px solid;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.text_hoverbtn{
  position: relative;
  border: none;
  background: none;

  .text{
    position: absolute;
    top: 100%;
    right: 0;
    width: 125px;
    background: #f5fcff;
    color: #017db9;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
    font-size: 11px;
    display: none;
  }

  &:hover .text{
    display: block;
  }
}

.underline_btn{
  color: #017DB9;
  border: none;
  background: none;
  text-decoration: 1.5px underline;
  text-underline-offset: 4px;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.text_btn{
  color: #017DB9;
  border: none;
  background: none;
  width: fit-content;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;

  &:disabled{
    color: #1d1b206e;
  }
}

.close_icon{
    background: #d9d9d9;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    color: #828383;
    cursor: pointer;
}

// form
.form_label{
  font-weight: 500;
  padding-bottom: 5px;
}

.select_control{
  border: 1px solid #bdbdbd;
  border-radius: 5px;

  & .form-control{
    border: none;
    text-overflow: ellipsis;
    padding-right: 30px !important;
  }
}

.form-control, .form-select{
  font-size: 14px;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  color: #8A8A8A;
  font-weight: 400;

  &:focus{
    outline: 0;
    border-color: #02A8DF;
    box-shadow: none;
  }
}

// breadcrumb  in product listing page, product details page, category page

.v3_breadcrumb{
  padding: 10px 0 25px;

  & .list{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & li{
      list-style: none;
      padding-right: 20px;
      color: #5D5E5E;
      font-size: 12px;
      font-weight: 400;
      position: relative;
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 200px;
      word-break: break-word;

      &.active{
        color: #017DB9;
        font-weight: 500;
      }

      &:after{
        position: absolute;
        content: url('/assets/svg/right-arrow.svg');
        right: 3px;
        top: 1px;
      }

      &:last-child::after{
        visibility: hidden;
      }
    }
  }
}

// --- material radio buttons start-----
// .mdc-radio__native-control{
//   display: none;
// }

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle, .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle{
  border-color: #2BB5E9!important;
}

// .mat-mdc-radio-button{
//   display: block;
// }

// --- material radio buttons stop -----

.menu_hover .mat-expansion-panel {
  box-shadow: none!important;
}
.menu_hover .mat-expansion-panel-header{
  height: auto!important;
  padding: 10px 15px!important;
}
.menu_hover .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
  background: #F3F3F3!important;
  border-radius: 25px;
}
.menu_hover .mat-expansion-panel-body{
  padding: 0 10px;
}

.webcam-wrapper video , .webcam-wrapper video.mirrored{
  width: 100%;
  height: 100%;
}

// Section Margin Space

.sm_space{
  margin: 50px 0;
}

.smt_space{
  margin-top: 50px;
}

.smb_space{
  margin-bottom: 50px;
}

.mvk_table{

  table{
    width: 100%;
  
    thead {
      background: #EFFBFF;
      position: sticky;
      top: 0;
      z-index: 1;
  
      th{
        padding: 10px;
        border: none;
        font-weight: 600;
        color: #000;
      }
    }
  
    tbody{

      tr:hover {
        background: #EFFBFF;
      }
      
      td{
        vertical-align: middle;
        border: none;
        padding: 10px;
      }
    }
  }
}

.form_box{
  border: 1px solid #BBECFC;
  border-radius: 10px;
  padding: 40px;
}

.form_buttons{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  margin-bottom: 30px;
}

.mvk_listtable{

  table{
    width: 100%;

    tbody{

      th,td{
        padding: 5px 7px;
        vertical-align: baseline;
      }

      th{
        color: #5D5E5E;
        font-weight: 400;
        width: 40%;
        word-break: break-word;
      }
      td{
        color: #000;
        width: 60%;
        word-break: break-word;
      }
    }
  }
}

.signup_popup .signformwrapper{
  width: 100%!important;
}

// Multi Select Option

.multi_select{
  width: 100%;
  height: 40px;
}

.multi_select .mat-option{
  font-size: 14px;
}

.multi_select .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled){
  color: #222;
}

.multi_select .mdc-notched-outline__trailing, .multi_select .mdc-notched-outline__leading{
  border: none;
}

.multi_select .mat-mdc-form-field-flex{
  height: 32px;
}

.multi_select .mat-mdc-form-field-infix{
  padding: 0!important;
}

.multi_select mat-select{
  font-size: 14px;
  font-weight: 400;
}

.multi_select .mat-mdc-text-field-wrapper.mdc-text-field {
  padding: 0;
}

.mat-mdc-option{
  min-height: auto!important;
  padding: 7px 15px!important;
  font-size: 14px!important;
}

.carousel-item .mat-mdc-card-image {
  height: 200px;
  background: #f8f8f8;
  border-radius: 8px;
}
.v3_enquiry .mdc-notched-outline__leading, .v3_enquiry .mdc-notched-outline__notch, .v3_enquiry .mdc-notched-outline__trailing{
  border: none;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer; /* Change the cursor to a pointer */
}

.event_dialog .mat-mdc-dialog-container .mdc-dialog__surface{
  border-radius: 15px;
}

.main_banner .owl-dots{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.main_banner .owl-theme .owl-dots .owl-dot span{
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #ffffffc4;
}

.main_banner .owl-theme .owl-dots .owl-dot.active span{
  background: #fff;
  width: 30px;
}

.owldot:not(.active) ~ .owldot.active {
  background: #009ED2!important;
}

.scrollinmobile .flex-list{
  margin-bottom: 0;
}

// product listing page

.product_listing .list_view .list_details .product_details .details .product_details_btn{
  white-space: nowrap;
}

//  Mobile Menu Offcanvas

.mobile_menu{
  width: 80%;
  border-radius: 0 15px 15px 0;
  background: #F6F8F9;
}

.mobile_menu .offcanvas-header{
  justify-content: end;
}

.mobile_menu .offcanvas-body .menu_list{
  padding: 0;
}

.mobile_menu .offcanvas-body .menu_list li{
 display: inherit;
 padding: 15px 10px;
 font-weight: 500;
}

.mobile_menu .offcanvas-body .menu_list li .accordion-item{
  background: transparent;
  border: none;

  .accordion-header {
      margin: 0;

      button{
          background: transparent;
          padding: 0px 7px;
          font-size: 14px;
          font-weight: 500;
          color: #222;
          line-height: 1;
          box-shadow: none;
          position: relative;

          .dropdown_icon{
              position: absolute;
              right: 0;
              transform: rotate(-180deg);
          }

          &.collapsed .dropdown_icon{
              transform: rotate(0deg);
          }

          &:after{
              display: none;
          }
      }
  }
}

.mobile_menu .offcanvas-body .menu_list li .accordion-body{
  padding: 0;

  ul{
      padding: 15px 0 0;

      li{
          font-weight: 400!important;
      }

      li:last-child{
          padding-bottom: 0!important;
      }
  }
}

.mobile_menu .offcanvas-body .menu_list li svg path{
  fill: #333333;
}

.mobile_menu .offcanvas-body .profile_icon{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.mobile_menu .offcanvas-body .profile_icon img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0px 0px 3px #c1c1c1;
}
.mobile_menu .offcanvas-body .profile_icon h2{
  margin-bottom: 2px;
  color: #017db9;
}

.filterMobile .offcanvas-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E5E9EB;

  .offcanvas-title{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
}

.filterMobile .innerfilter{
  width: 100%!important;
  max-height: none!important;
}

.filterMobile .sidenavbar-collapse{
  background: none;
}

.select_count{
  color: #017DB9;
  font-weight: 500;
  padding: 10px;
}

.ai_desc{
  position: relative;

  .get-ai{
    position: absolute;
    right: 0;
    bottom: 101%;
  }
}


.hometabs .mdc-evolution-chip-set__chips{
  flex-flow: row;
  overflow: auto;
}

.hometabs .mdc-evolution-chip-set__chips::-webkit-scrollbar {
  display: none;
}


@media screen and (min-width: 1024px) {
  .mdc-tab:last-child {
    margin-right: 80px !important;
  }


 


  app-multi-banner {
    & .owl-nav {
      visibility: hidden;
      opacity: 0;
      .owl-prev.disabled,
      .owl-next.disabled {
        opacity: 0;
        visibility: hidden;
      }
    }
    &:hover {
      & .owl-nav {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  app-category-carousel {
    & .owl-next {
      margin-right: 70px !important;
    }
  }

  .eps {
    .owl-carousel .owl-item {
      max-width: 16.6%;
    }
  }

  .eps .product-images-latest:after {
    border-radius: 12px;
  }

  .width8carousel {
    & .owl-item {
      max-width: 12.5%;
    }
  }
  .width6carousel {
    & .owl-item {
      max-width: 16.66%;
    }
  }
}
.mobileheading{ display: none;}

@media screen and (max-width: 1024px) {
  .tab-banner-chips .mdc-tab:hover {
    & .mdc-tab__text-label {
      div.chipcls {
        color: inherit!important;
  
        background: inherit !important;
        border: 1.5px solid inherit;
      }
    }
  }
  body .tab-banner-chips .mdc-tab-indicator--active  .mdc-tab__content .mdc-tab__text-label div.chipcls {
    color: #0172a8 !important;
    background: #e6f8fe !important;
    border: 1.5px solid #0172a8;
}
  .mobileheading{ display: block;
    font: 500 18px / 32px Roboto, sans-serif !important;
    letter-spacing: .0125em; color: #0172a8;
    margin: 0  !important;
    padding: 0 0 0 10px !important;
  }
  .mat-mdc-tab-label-container {
    overflow: auto !important;
  }
  .mat-mdc-tab-label-container .mat-mdc-tab-list{ transform: translate(0)  !important;}
  .mat-mdc-tab-label-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar on Chrome, Safari, and Opera */
  }
  .mat-mdc-tab-header-pagination-controls-enabled
    .mat-mdc-tab-header-pagination {
    display: none !important;
  }
  app-category-carousel owl-stage > div{ overflow-x: auto !important;
  &::-webkit-scrollbar{ display: none;}
  }
}

@media screen and (max-width: 1000px) {
  .bigList ul li {
    width: 100%;
  }
  .companycarosal {
    & .owl-item {
      max-width: 50%;
      padding: 0 5px;
    }
  }
}

@media screen and (max-width: 991px) {
  section.media-grid-banner .media-card span{
    max-width: 129px!important;
  }
  .searchwrapper.mobileOpen {
    position: fixed;
    background: #fff;
    z-index: 999;
    left: 0;
    top: 0;
    padding: 20px 5px 20px 5px;
    display: block !important;
  }
  .mobilesearch, .closesearch{
    display: block!important;
  }
  .searchwrapper.mobileOpen .closesearch{
    position: absolute;
    top: 28px;
    right: 10px;
  }
  .menusec{
    display: none;
  }
  .tab_row .mat-mdc-tab-header{
    margin-bottom: 50px;
  }

  .searchwrap-inner .mdc-text-field--filled{
    border-bottom: 1.5px solid #00aafb !important;
  }
  .scrollinmobile{

    .flex-wrap{ flex-direction: row !important; flex-wrap: nowrap !important; overflow: auto; gap:30px;
    & .flex-list { min-width: 300px;}
    }


    .flex-wrap::-webkit-scrollbar-track {
      background-color: #fff;
    }

    .flex-wrap::-webkit-scrollbar {
      width: 1px;
      height: 2px;
    }

    .flex-wrap::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0) !important;
      background-color: #fff !important;
      width: 2px;
    }
  }

  .top-product-section .product-image-gallary {
    width: 100% !important;
    margin: 0 !important;
    flex: 1 !important;
    padding: 0 0 25px 0 !important;
    position: static !important;
  }

  .mvk_table{
    width: 1000px;
  }

}


@media screen and  (min-width: 770px)  and (max-width: 850px) {
  .smallTitle.w-850 {
    font-size: 16px !important;
    mat-icon {
      top: 0px !important;
    }
  }
}


@media screen and (max-width: 770px) {
  owl-carousel-o .owl-theme .owl-nav [class*="owl-"] {
    display: block !important;
  }

  section.slider_bg_multi {
    & .owl-next,
    & .owl-prev {
      top: 39px !important;
    }
  }

  .hometabs mat-chip-option .mat-mdc-chip-action-label{
    font-size: 12px;
  }

  .zoom-container.zm-cont-fav{
    width: 250px;
  }

  .ngxImageZoomContainer {
    // width: 100% !important;
    width: 250px!important;
    height: 250px !important;
    max-width: 100% !important;
    margin: 0!important;
  }

  .ngxImageZoomContainer img.ngxImageZoomThumbnail {
    max-width: 100% !important;
    // width: 100% !important;
    width: 100%;
    height: 100% !important;
    // object-fit: cover;
  }

  app-multi-carousel .owl-prev {
    left: 0;
  }
  app-multi-carousel .owl-prev.disabled {
    display: none;
  }

  app-multi-carousel .owl-next {
    right: 0;
  }

  .mat-mdc-paginator-container {
    flex-wrap: wrap !important;

    & .mat-mdc-paginator-page-size-select {
      width: 80px;
    }

    & .mat-mdc-paginator-range-label {
      margin: 0 !important;
    }

    & .mat-mdc-icon-button.mat-mdc-button-base {
      padding: 0 !important;
    }
  }

  .datawrapsignin {
    padding-left: 0!important;
  }

  .signinner {
    padding: 0 20px !important;
  }

  .rightsidesign {
    padding: 20px 20px !important;
    height: auto!important;
  }

  .ngxImageZoomFullContainer {
    display: none !important;
  }

  .product_details .mat-mdc-tab-header {
    top: 108px;
  }

  .mobileonly {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 72px;
    background: #fff;
    z-index: 99;
    padding: 10px;

    .filterIcon {
    }
  }

  .fliterContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: #fff;
    z-index: 100;
  }

  .mobilefilterOpen {
    & .fliterContainer {
      display: block !important;
    }

    & .innerfilter {
      position: static !important;
      max-height: 100vh !important;
      width: 100% !important;
      padding: 20px !important;
    }

    & .mobilefilterheading {
      border-bottom: 1px solid #ccc;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;

      & a {
        display: inline-block;
        position: relative;
        top: 6px;
        margin-right: 20px;
      }
    }

    & .filtercount {
      position: fixed;
      bottom: 0;
      z-index: 101;
      background: #e1e1e1;
      /* top: 10px; */
      display: flex;
      justify-content: space-between;
      left: 0;
      right: 0;
      padding: 10px;
      align-items: center;
    }
  }

  .displayfilters {
    display: none !important;
  }

  img.myverkoper-buyer-logo {
    max-width: 100%;
  }

  .google-icons-header {
    // padding-right: 0;

    & .mdc-button__label {
      & span {
        display: none;
        font-size: 10px;
      }
    }
  }

  .mobilesearch {
    display: inline-block;
    position: relative;
    top: 11px;
  }

  .searchwrapper.mobileOpen {
    position: fixed;
    background: #fff;
    z-index: 999;
    left: 0;
    padding: 20px 0 0 0;
    display: block !important;

    & .closesearch {
      position: absolute;
      top: -7px;
      right: 10px;
      display: inline-block;
    }

    & .searchwrap-inner {
      margin: 0px !important;
      width: 90% !important;
    }

    & .search-menu {
      min-width: 115px;
    }

    & button.header-search-button {
      padding-left: 25px !important;
      padding-right: 25px !important;
    }
  }

  // product listing page

  .product_listing .v3_supplier_details .v3_supplier_img{
    width: 100px!important;
  
    img{
      width: 100%;
    }
  }

  // buying leads

  .account_maincontent mat-tab-group{
    padding: 0!important;
  }


  .v3_company_actions.v3_contact_info{
      
      .primary_btn{
        margin: 0;
      }
  }
  
}


@media screen and (max-width: 575px) {

  
  // Section Margin Space

  .sm_space{
    margin: 25px 0;
  }

  .smt_space{
    margin-top: 25px;
  }
  
  .smb_space{
    margin-bottom: 25px;
  }


  .main-container{
    max-width: 95%;
  }


  body.mat-typography app-blog-details, app-blog-details
  {
    h2, h2 span{ 
    font-size: 24px;
    }
    h3, h3 span{ 
      font-size: 22px;
      }
      h4, h4 span{ 
        font-size: 20px;
        }
        h5, h5 span{ 
          font-size: 18px;
          }
  }

  .zoom-container.zm-cont-fav{
    width: 100%;
  }

  .product-image app-multi-carousel .owl-next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 30px;
    height: 30px;
    line-height: 25px;
    padding: 0;
    font-size: 12px;
  }

  .mainTitle{
    font-size: 16px!important;
  }

  .smallTitle{
    font-size: 14px!important;
  }

  .supplierTitle{
    font-size: 14px;
  }
  
  .form_box{
    padding: 0;
    border: none;
  }

  app-view-details .mat-mdc-tab-header{
    width: 100%!important;
  }
  .tab-banner-chips .mat-mdc-tab-header{
    margin-top: 0px;
  }
  .searchwrap-inner .mdc-text-field--filled{
    padding-left: 0;
  }
  .search-menu .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
    padding-top: 14px;
  }

  .multibannersec section.slider_bg_multi .owl-theme .owl-nav{ 
    display: none !important;
  }

  section.media-grid-banner .media-card span{
    max-width: 180px!important;
  }
  
  .home_recomproducts{

    & .mp_align{
      display: flex;
    }
  }

  .product_details .mat-mdc-tab-header {
    top: 77px;
  }
  .req_quotation{
    padding: 12px 5px;
    // background: #E3F8FF;
  }
  .req_quotation h1{
    font-size: 16px;
    // color: #222;
    margin: 0;
  }
  .req_quotation p{
    // color: #222;
    font-size: 10px;
    width: calc(100vw - 150px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .list-tab{
    display: flex!important;
    flex-wrap: wrap;
      
    & .mdc-list-item.mdc-list-item--with-one-line{
      width: 50%;
      padding: 0px 10px;

      & button{
        width: 100%;
      }
    }
  }

  .h-sliders{
    font-size: 20px!important;
  }

  // home page

  .smart_picks{
    .product-images-latest{
      height: 125px;
      width: 110px!important;
      margin-right: 12px;
    }
  }

  // product listing page

  .product_listing .v3_supplier_details .v3_supplier_img{
    width: 25%!important;
  }

}

@media screen and (max-width: 400px) {

  header app-logo img.myverkoper-buyer-logo{ 
    max-width: 140px !important;
  }

  .ai_desc{
    margin-top: 30px;
  }

}



.mobiletabwrapper {
  display:none;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent tabs from wrapping */
  width:100%;
  & ul { display: flex; list-style: none; margin:0; padding: 0; gap:8px; }
  & li {list-style: none; margin:0; padding: 0; }
 &.btntabstyle{ & button { background: none; border:0; border: 1.5px solid #9b9f9f;
  background: #ffffff !important;
  color: #000 !important;
  height: 35px;
  border-radius: 28px;
  line-height: 34px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500; cursor: pointer; &.selectedtab{     color: #0172a8 !important;
    background: #e6f8fe !important;
    border: 1.5px solid #0172a8;} }
    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar on Chrome, Safari, and Opera */
    }
  } 

  &.linetabstyle{
    
    & button { background: none; border:0; border: 0px solid transparent;
      border-bottom:2px solid transparent;
      background: #ffffff !important;
      color: #000 !important;
      height: 35px;
      border-radius: 0px;
      line-height: 34px;
      padding: 0 20px;
      font-size: 14px;
      font-weight: 500; cursor: pointer; &.selectedtab{     color: #0172a8 !important;
        background: #fff !important;
        border-bottom-color:#00aafb; position: relative;

      } }
        &::-webkit-scrollbar {
          display: none; /* Hide scrollbar on Chrome, Safari, and Opera */
        }
  }

}

@media screen and (max-width: 1024px) {
.onlydesktop{ display: none !important;}
.mobiletabwrapper{ display: block;}
}


@media screen and (max-width: 800px) {

.owl-nav{ display: none !important;}

}