<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="modal_header">
        <h3> Add Notes </h3>
        <span class="icon_close" type="button" (click)="closeDialog()"><img src="../.././../../assets/images/close_icon.png"></span>
      </div>
      <div mat-dialog-content>
        <textarea rows="6" [(ngModel)]="note" placeholder="Enter Description" class="middlefiled form-control"></textarea>
      </div>
    </div>
  </div>

  <section class="text-center mb-4">
    <button (click)="addNotes()" [disabled]="!note" type="submit" class="primary_btn">
      Submit
    </button>
  </section>
</div>