.modal_header{
  padding: 10px;
  border-bottom: 1px solid #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3{
    margin: 0;
    color: #000;
    font-weight: 500;
    font-size: 18px;
  }
}

.form-control{
  border: 1px solid #D9D9D9;
}

.business-type-fields {
  & li.list-group-item {
    width: 100%;
    border: none;
    padding-left: 0px;
    & label {
      color: #333333;
      font-weight: normal;
      font-family: inter;
      margin-left: 10px;
    }
  }
}

.icon_close img{
  width: 25px;
}

