<!-- header section -->

<app-header></app-header>

<!-- header section -->
<!-- slider section -->

<section class="main-container">
  <section class="banner-section-slider">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="slider-text-heading">
            Buy on India's First <br />
            Exclusive Marketplace <br />
            for Educational <br />Institutions
          </h1>
          <p class="slider-paragraph">
            Start buying from verified Sellers across the country from a wide
            range of <br />
            products/services at low cost.
          </p>

          <p class="down-app-text">
            Download Apps :
            <img
              class="download-img"
              src="https://myverkoper.in/admintemplate/latest/images/play-store.png"
            />
            <a href="https://www.myverkoper.com/signup">
              <button mat-raised-button color="primary" class="banner-buttons">
                Buyer Login
              </button>
            </a>
            <a href="https://seller.myverkoper.in/register-step-1">
              <button
                mat-raised-button
                color="primary"
                class="banner-buttons two"
              >
                Seller Login
              </button>
            </a>
          </p>
        </div>
        <div class="col-lg-6">
          <img
            class="slider-image-img"
            src="https://myverkoper.in/admintemplate/latest/images/main-slider.svg"
          />
        </div>
      </div>
    </div>
  </section>
</section>
<div class="container-fluid Statistics-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="slider-text statistics">We are growing and beyond!</h1>
        <p class="slider-paragraph statistics">
          Instantly connect with buyers across the country
        </p>
      </div>
      <div class="col-lg-3">
        <h5 class="statistics-count">3000 +</h5>
        <p class="statistics-paragraph">Buyers</p>
      </div>
      <div class="col-lg-3">
        <h5 class="statistics-count">300 +</h5>
        <p class="statistics-paragraph">Sellers</p>
      </div>
      <div class="col-lg-3">
        <h5 class="statistics-count">5000 +</h5>
        <p class="statistics-paragraph">Products & Services</p>
      </div>
      <div class="col-lg-3">
        <h5 class="statistics-count">2000 +</h5>
        <p class="statistics-paragraph">Monthly Enquiries</p>
      </div>
    </div>
  </div>
</div>

<!-- slider section -->
<!-- Statistics-section -->
<!-- Statistics-section -->
<!-- About myverkoper -->
<div class="container education-section">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="slider-text about ed-ins-myverkoper">
        Why Educational Institutions love MyVerkoper?
      </h1>
      <div class="row about-ussection">
        <div class="col-lg-3">
          <mat-card class="example-card institution-card">
            <img
              class="about-us-image"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/pan%20india.png"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p class="about-us-text">
                Wide range of Products <br />
                and Services
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-3">
          <mat-card class="example-card institution-card">
            <img
              class="about-us-image"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/zero-commision.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p class="about-us-text">No middlemen and low <br />prices</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-3">
          <mat-card class="example-card institution-card">
            <img
              class="about-us-image"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/Verified-Educational.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p class="about-us-text">Verified Sellers</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-3">
          <mat-card class="example-card institution-card">
            <img
              class="about-us-image"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/ex-mak-place.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p class="about-us-text">Exclusive Marketplace</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About myverkoper -->
<!-- sourcing section -->
<div class="container-fluid source-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="slider-text source">
          How can you start <br />
          sourcing on <br />
          MyVerkoper?
        </h5>

        <button class="Get-Started-btn" mat-raised-button color="primary">
          Get Started Now
        </button>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-4">
        <mat-list role="list">
          <mat-list-item class="source-list" role="listitem">
            <mat-card class="example-card source-card">
              <img
                class="source-us-image"
                mat-card-image
                src="https://myverkoper.in/admintemplate/latest/images/icon-peya-step-1.png"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <p class="about-us-text">
                  Sign Up in a few simple steps by <br />
                  providing your basic details.
                </p>
              </mat-card-content>
            </mat-card>
          </mat-list-item>
          <mat-list-item role="listitem" class="source-list">
            <mat-card class="example-card source-card">
              <img
                class="source-us-image"
                mat-card-image
                src="https://myverkoper.in/admintemplate/latest/images/icon-peya-step-2.png"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <p class="about-us-text">
                  Explore a wide range of <br />
                  products/services.
                </p>
              </mat-card-content>
            </mat-card>
          </mat-list-item>
          <mat-list-item role="listitem" class="source-list">
            <mat-card class="example-card source-card">
              <img
                class="source-us-image"
                mat-card-image
                src="https://myverkoper.in/admintemplate/latest/images/icon-peya-step-3.png"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <p class="about-us-text">
                  Buy from Sellers across <br />
                  India
                </p>
              </mat-card-content>
            </mat-card>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
<!-- sourcing section -->
<!-- myverkoper products -->
<div class="container buy-in-myverkoper">
  <div class="row">
    <div class="col-lg-12">
      <h5 class="slider-text about slider">What can you buy on MyVerkoper?</h5>
      <div class="row">
        <div class="col-lg-2">
          <mat-card class="example-card">
            <img
              class="myverkoper-prodcuts"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/training.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p class="about-us-text">Training</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-2">
          <mat-card class="example-card">
            <img
              class="myverkoper-prodcuts"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/uniform.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p class="about-us-text">Uniforms</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-2">
          <mat-card class="example-card">
            <img
              class="myverkoper-prodcuts"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/e-learning.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p class="about-us-text">E-Learning</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-2">
          <mat-card class="example-card">
            <img
              class="myverkoper-prodcuts"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/book.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p class="about-us-text">Books</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-2">
          <mat-card class="example-card">
            <img
              class="myverkoper-prodcuts"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/training.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p class="about-us-text">Stationery</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-2">
          <mat-card class="example-card">
            <img
              class="myverkoper-prodcuts"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/lab.jpg"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <p class="about-us-text">Software Solutions</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- myverkoper products -->
<!-- Statistics-section -->
<div class="container-fluid Statistics-section trusted">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5 class="slider-text statistics">Our Trusted Education Brands</h5>
      </div>
      <div class="col-lg-3 brands">
        <img
          class="brand"
          src="https://myverkoper.in/admintemplate/latest/css/buy-client-1.png"
        />
      </div>
      <div class="col-lg-3 brands">
        <img
          class="brand"
          src="https://myverkoper.in/admintemplate/latest/css/buy-client-2.png"
        />
      </div>
      <div class="col-lg-3 brands">
        <img
          class="brand"
          src="https://myverkoper.in/admintemplate/latest/css/buy-client-3.png"
        />
      </div>
      <div class="col-lg-3 brands">
        <img
          class="brand"
          src="https://myverkoper.in/admintemplate/latest/css/buy-client-4.png"
        />
      </div>
    </div>
  </div>
</div>
<!-- Statistics-section -->
<!-- features section -->
<div class="container features">
  <div class="row">
    <div class="col-lg-12">
      <h5 class="slider-text features">
        Features that make us <br />
        Exclusive for you
      </h5>
      <mat-tab-group
        class="overflow-hidden"
        mat-stretch-tabs="false"
        mat-align-tabs="start"
      >
        <mat-tab label="Catalogue" class="overflow-hidden feature-ml-s active">
          <div class="row">
            <div class="col-lg-6">
              <p class="features-text">
                You can know about the seller company profile, the range of
                products/services offered by the seller from the Catalogue. The
                catalogue is presented in a customized way to suit buyer needs.
              </p>
              <button class="Get-Started-btn" mat-raised-button color="primary">
                Get Started Now
              </button>
            </div>
            <div class="col-lg-6">
              <img
                class="features-images"
                src="https://myverkoper.in/admintemplate/latest/images/myverkoper-svg/slide_4_Illustration.svg"
              />
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Ratings" class="feature-ml-s">
          <div class="row">
            <div class="col-lg-6">
              <p class="features-text">
                You can get insights of other customers based on their ratings
                on the companies, products and factors that motivated them to
                make a product. You can also rate a company on given parameters.
              </p>
              <button class="Get-Started-btn" mat-raised-button color="primary">
                Get Started Now
              </button>
            </div>
            <div class="col-lg-6">
              <img
                class="features-images"
                src="https://myverkoper.in/admintemplate/latest/images/myverkoper-svg/slide_5_Illustration.svg"
              />
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Preview" class="feature-ml-s">
          <div class="row">
            <div class="col-lg-6">
              <p class="features-text">
                You can take a look at the products/services you are interested
                in digitally. You can get an instant experience of the
                products/services without having the need to wait for samples or
                demos.
              </p>
              <button class="Get-Started-btn" mat-raised-button color="primary">
                Get Started Now
              </button>
            </div>
            <div class="col-lg-6">
              <img
                class="features-images"
                src="https://myverkoper.in/admintemplate/latest/images/myverkoper-svg/slide_6_Illustration.svg"
              />
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Compare" class="feature-ml-s">
          <div class="row">
            <div class="col-lg-6">
              <p class="features-text">
                You can make a comparison between products/services. You can
                compare the products/services offered by different Sellers to
                decide the best products/services at the best price and quality.
              </p>
              <button class="Get-Started-btn" mat-raised-button color="primary">
                Get Started Now
              </button>
            </div>
            <div class="col-lg-6">
              <img
                class="features-images"
                src="https://myverkoper.in/admintemplate/latest/images/myverkoper-svg/slide_7_Illustration.svg"
              />
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Feeds" class="feature-ml-s">
          <div class="row">
            <div class="col-lg-6">
              <p class="features-text">
                You can follow a company if you are interested in the
                products/services offered by it and update yourself with the
                latest product briefs. This will help you to make quick purchase
                decisions.
              </p>
              <button class="Get-Started-btn" mat-raised-button color="primary">
                Get Started Now
              </button>
            </div>
            <div class="col-lg-6">
              <img
                class="features-images"
                src="https://myverkoper.in/admintemplate/latest/images/myverkoper-svg/slide_8_Illustration.svg"
              />
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<!-- features section -->
<div class="container features connects">
  <div class="row">
    <div class="col-lg-12">
      <h5 class="slider-text features connects">
        Connect to Sellers with <br />
        Multiple Channels
      </h5>
      <mat-tab-group
        class="features-second-tab"
        mat-stretch-tabs="false"
        mat-align-tabs="start"
      >
        <mat-tab label="call">
          <div class="row">
            <div class="col-lg-6">
              <img
                class="features-images"
                src="https://myverkoper.in/admintemplate/latest/images/myverkoper-svg/slide_8_Illustration.svg"
              />
            </div>
            <div class="col-lg-6">
              <p class="features-text">
                We ensure your private information stays secure. Your calls to
                the Seller are routed through our Cloud Telephony System to
                preserve your privacy without disclosing your original number.
              </p>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="chats">
          <div class="row">
            <div class="col-lg-6">
              <img
                class="features-images"
                src="https://myverkoper.in/admintemplate/latest/images/myverkoper-svg/slide_8_Illustration.svg"
              />
            </div>
            <div class="col-lg-6">
              <p class="features-text">
                You can get answers to any product queries from sellers using
                chat. You can anonymously chat with Sellers without sharing your
                identity and get quick answers.
              </p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Meet">
          <div class="row">
            <div class="col-lg-6">
              <img
                class="features-images"
                src="https://myverkoper.in/admintemplate/latest/images/myverkoper-svg/slide_8_Illustration.svg"
              />
            </div>
            <div class="col-lg-6">
              <p class="features-text">
                When you like a product, you can book a meeting with the Seller
                Representative using ‘Meet’. This feature simplifies scheduling
                meetings and enables you to plan your time.
              </p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Live">
          <div class="row">
            <div class="col-lg-6">
              <img
                class="features-images"
                src="https://myverkoper.in/admintemplate/latest/images/myverkoper-svg/slide_8_Illustration.svg"
              />
            </div>
            <div class="col-lg-6">
              <p class="features-text">
                Our live feature allows you to experience the products/services
                live with great flexibility. You can view products/services by
                online and offline demos, and also request product samples.
              </p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Quotes">
          <div class="row">
            <div class="col-lg-6">
              <img
                class="features-images"
                src="https://myverkoper.in/admintemplate/latest/images/myverkoper-svg/slide_8_Illustration.svg"
              />
            </div>
            <div class="col-lg-6">
              <p class="features-text">
                After you have decided on the product/service you are interested
                in , you can request instant personalized quotes and exclusive
                discounts from Sellers using quotes feature.
              </p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<div class="container promotions">
  <div class="row">
    <div class="col-lg-12">
      <h5 class="slider-text about">
        Get authentic sourcing experience along with benefits from seller
        promotions
      </h5>
      <p class="sourcing-experices">
        We provide an authentic buying experience to you. Our three-step lead
        promotional features - Stories, Play and Learn, will help you to know
        about products/services in an interesting and easy way. Through these
        promotions you can benefit by knowing about company brands, know about
        their products/services in an interactive way and also meet seller
        representatives.s
      </p>
      <div class="row about-ussection">
        <div class="col-lg-4">
          <mat-card class="example-card card-stories">
            <img
              class="sourcing-exp-images"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/Stories.gif"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content class="sourcing-gifs-two">
              <h5 class="blog-heading">Stories</h5>
              <p class="blog-paragraph">
                You can read the articles regularly published by the Sellers,
                and update your knowledge and skills.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4">
          <mat-card class="example-card card-stories">
            <img
              class="sourcing-exp-images"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/Play.gif"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content class="sourcing-gifs-two">
              <h5 class="blog-heading">Play</h5>
              <p class="blog-paragraph">
                You can know about products you are interested in digitally and
                also win rewards from Sellers for answering a few related
                questions.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4">
          <mat-card class="example-card card-stories">
            <img
              class="sourcing-exp-images"
              mat-card-image
              src="https://myverkoper.in/admintemplate/latest/images/Learn.gif"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content class="sourcing-gifs-two">
              <h5 class="blog-heading">Learn</h5>
              <p class="blog-paragraph">
                You can upskill and reskill through expert trainers by attending
                educational events offered by Sellers.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="container-fluid Statistics-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5 class="slider-text statistics">Success Stories</h5>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-10">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <img
                class="testimonal-icons"
                src="https://myverkoper.in/admintemplate/latest/images/test-mon.png"
              />
              <img
                class="testimonal-card-image"
                src="https://myverkoper.in/admintemplate/latest/images/test-images-5.jpg"
              />
            </div>

            <mat-card-subtitle class="paragraph-testimonal">
              We are currently procuring our needs from local sellers.
              MyVerkoper has a wide variety of products/services from sellers of
              different regions. We are now able to get the best products from
              sellers located in other regions also quickly.
            </mat-card-subtitle>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</div> -->
<div class="container fa-quotions">
  <div class="row">
    <div class="col-lg-12">
      <h5 class="slider-text about">Questions?</h5>
      <div class="row about-ussection">
        <div class="col-lg-12">
          <mat-accordion class="fandq questions">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Can we trust MyVerkoper platform?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Yes. You can trust us as we are in the market since 2018 and we
                onboard only verified sellers from across India on our platform.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Who can register on MyVerkoper marketplace?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Management Personnel, Principals, Headmasters, Teachers or any
                other teaching designated person in an Educational Institution
                can register on MyVerkoper marketplace.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  How many Sellers are available MyVerkoper marketplace?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                There are 300+ Sellers and more are onboarding currently from
                across the country.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Do I need to pay any onboarding fee?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>No. There is no onboarding fee right now.</p>
            </mat-expansion-panel>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Do I need to submit any credit/debit card details at the time
                  of Sign Up?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                No. You don't have to pay any commission to connect and buy from
                Sellers on MyVerkoper platform.
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
