.flexblock {
  display: flex;
}
.menusec {
  flex: 0 0 200px;
  & h2 {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 500;
    font-style: normal;
    font-weight: 500;
    font-family: "Roboto";
    letter-spacing: normal;
    color: #333333;
  }
}
app-banner {
  flex: 1;
}
.cardsec {
  width: 350px;
  flex: 0 0 350px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}
app-rfq-card {
  margin-top: 24px;
  display: block;
  flex: 1;
}

.home-cat{
  display: flex;
  gap: 25px;
  margin-top: 30px;
}
.home-cat button{
  background: #E5F6FB;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-cat button svg{
  width: 20px;
}
.home-cat button span{
  margin-left: 12px;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 1300px) {
  .cardsec {
    width: 300px;
    flex: 0 0 300px;
    padding-left: 16px;
  }
  app-rfq-card {
    margin-top: 16px;
  }
}

section.smart.signup-second {
  border-radius: 20px;
  height: 180px;
  margin-bottom: 20px;
}
section.smart.rfq-second {
  border-radius: 20px;
}

@media screen and (max-width: 770px) {
  .flexblock {
    flex-direction: column;
  }
  .cardsec {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
    flex: 0;
  }
  .menusec {
    display: none;
  }
}

.main-wrap-content {
  margin-bottom: 20px;
}
.mobile-catg {
  display: none;
}
.mobile-catg.four {
  display: none;
}
section.cat-main-fq {
  display: none;
}

@media only screen and (max-width: 600px) {
  app-rfq-card,
  .signcard app-signin-card {
    display: none !important;
  }
  .cardsec {
    flex: 1;
  }
  section.cat-main-fq {
    display: block;
  }

  .mobile-catg {
    display: flex;
    justify-content: space-around;

    & section.card-one-mb {
      height: 60px;
      background: #ff6a00;
      width: 45%;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      & img {
        width: 30px;
        height: 30px;
        margin-top: 5px;
      }
      & p {
        color: white;

        margin: 0px;
      }
    }
    & section.card-one-mb.two {
      background: #00aafb !important;
    }
  }
  .mobile-catg.four {
    flex-wrap: wrap;
    & section.card-one-mb.four-row {
      height: 75px;
      background: #ff6a00;
      width: 23%;
      border-radius: 10px;
      padding: 9px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

section.category-mobile.fur {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  & section.img-catagery {
    background: #e1e1e1;
    padding: 10px;
    border-radius: 15px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70px;
    margin: 0 auto 10px;
  }
  & section.cat-items-list {
    width: 30%;
    margin-right: 10px;
    display: block;
    justify-content: center;
    display: flex;
    align-items: center;
    & img {
      width: 50px;
      border: 1px solid #afafaf1f;
      padding: 5px;
      border-radius: 15%;
    }
    & p {
      margin-top: 5px;
      font-weight: 600;
      padding-left: 5px;
      text-align: center;
    }
  }
}
.cat-items-div {
  width: 100%;
  overflow: hidden;
}

.relativeBlock{ position: relative;}

// .banner-place {
//   flex: 1;
//   background: #daf3fb;
//   border-radius: 8px;
// }