<div class="images-slider-two">
  <!-- Top Banner Details -->
  <section #productsView
    *ngIf="!categoryLoad && subCategoryInfo"
    class="v3_banner_container"
    [ngStyle]="{ 'background-image': 'url(' + setImageEncode(subCategoryInfo.banner) + ')' }"
    >
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <h1 class="title">{{ subCategoryInfo.title }}</h1>
        <p class="para">{{ subCategoryInfo.tag }}</p>
      </div>
    </div>
  </section>
  <!-- [ngStyle]="{ 'background-image': 'url(\' /assets/images/RANKING 02-02.jpg \')' }"  -->
  <!-- Top Banner Loader -->
  <ng-container *ngIf="categoryLoad">
    <section class="smart img-container"></section>
  </ng-container>
</div>

<!-- Main Section -->
<section class="main-container">
  <ng-container *ngIf="!loader">
    <!-- Main categories list -->
    <div class="tab-banner-chips-normal">

      <div class="mobiletabwrapper linetabstyle">
        <ul>
          <li *ngFor="let category of mainCategoryData; let i=index"> 
             <button (click)="setActiveTab(i)" [class.selectedtab]="i === activeTab">{{ category.type }}</button>
            </li>
            </ul></div>

      <mat-tab-group
        disableRipple
        (selectedIndexChange)="getRankingCompanyDetails2($event)"
        #tabGroup  class="onlydesktop"
      >
        <mat-tab *ngFor="let category of mainCategoryData">
          <ng-template mat-tab-label>
            <div class="chipcls">{{ category.type }}</div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <!-- <h4 *ngIf="subCategoryInfo"> {{ subCategoryInfo.tag }} </h4> -->
    </div>
    <!-- <h2 class="mobileheading title1" *ngIf="title1"> {{title1}}   <span *ngIf="subtitle1"> -  {{subtitle1}}</span></h2> -->

    
    <!-- Category Loader -->
    <ng-container *ngIf="loader">
      <ul class="chiplist toplist">
        <li *ngFor="let i of [0, 1]"><span class="smart smartsmall"></span></li>
      </ul>
      <ul class="chiplist bottomlist">
        <li *ngFor="let i of [0, 1, 2, 3, 4, 5]">
          <span class="smart smartsmall"></span>
        </li>
      </ul>
    </ng-container>

    <!-- Sub Categories List based on category ID -->
  
    <div class="mobiletabwrapper btntabstyle" >
      <ul>
        <li *ngFor="let category of subCategoryData; let i=index"> 
           <button (click)="setSubActiveTab(i)" [class.selectedtab]="i === subActiveTab">{{ category.cat_name }}</button>
          </li>
          </ul></div>
  
    <div class="tab-banner-chips onlydesktop">
      <mat-tab-group [(selectedIndex)]="subIndex" (selectedTabChange)="onTabClick($event)" #subTabGroup>
        <mat-tab *ngFor="let cat of subCategoryData">
          <ng-template mat-tab-label>
            <div class="chipcls">{{ cat.cat_name }}</div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    

  </ng-container>

  <ng-container *ngIf="collection.length > 0">
    <section class="listwrappers">
      <section *ngFor="let product of collection | paginate: { itemsPerPage: 10, currentPage: p, totalItems: totalCount }" class="mfg-list-container">
      <!-- <section *ngFor="let product of showData" class="mfg-list-container"> -->
        <app-mfg-list [item]="product"></app-mfg-list>
      </section>
      <!-- <mat-paginator
        *ngIf="!(showData.length == 0)"
        (page)="onPageChange($event)"
        [length]="totalItems"
        [pageSize]="10"
        [pageSizeOptions]="[10, 20]"
      >
      </mat-paginator> -->
      <section class="paginator">
        <pagination-controls [maxSize]="5" class="my-pagination" (pageChange)="onPageChange2($event)"></pagination-controls>    
      </section>
    </section>
  </ng-container>
  <section class="nodata" *ngIf="noManufacturer"> No Manufactures found </section>
  <!-- Manufacture loader start -->
  <section class="loader-wrap" *ngIf="dataloader">
    <section class="manu-loader" *ngFor="let i of [1, 2, 3, 4]">
      <section class="loader-img">
        <section class="text-img"></section>
      </section>
      <section class="loader-desc">
        <section *ngFor="let i of [1, 2, 3, 4, 5]" class="smart text"></section>
      </section>
      <section class="loader-product">
        <section *ngFor="let i of [0, 1, 2]" class="text-img-small"></section>
      </section>
    </section>
  </section>
  <!-- loader end -->

  <ng-container *ngIf="noProdFound">
    <app-nodata></app-nodata>
  </ng-container>
</section>
