// .slide {
//   width: 100%;
// }

// .causual-img {
//   height: 200px;
//   background-color: #00a5df;
//   padding: 10px;
//   border-radius: 20px;
// }

// img.login-logo {
//   width: 100%;
//   height: 100%;
//   border-radius: 20px;
// }

// .flex-list {
//   width: 33.3%;
//   margin-bottom: 30px;

//   &.gapflex {
//     padding-right: 20px !important;
//     padding-left: 20px !important;
//     margin-bottom: 30px;
//   }
// }

// app-multi-carousel {
//   margin-bottom: 20px;
//   display: block;
// }

// .flex-wrap {
//   display: flex;
//   flex-wrap: wrap;
// }

// .cardsWarp {
//   display: flex;
//   flex-wrap: wrap;
// }

// .cardsWarp .itemBlocks {
//   padding: 10px;
//   width: 33%;
// }

// .custom-flexs-list {
//   width: 100%;
//   flex-wrap: wrap;

//   & .card1 {
//     width: 14.2%;
//     padding: 0 12px;
//   }
// }

// .custom-flexs-list6 {
//   width: 100%;
//   flex-wrap: wrap;
//   display: flex;

//   & .card1 {
//     width: 16.66%;
//     padding: 0 12px;
//   }
// }

// img.img-category-two {
//   position: absolute;
//   width: 100%;
//   height: 150px;
// }

.v3_suppliers{
  margin: 30px 0 50px;
}

.v3_banner_container {
  background-size: cover;
  width: 100%;
  color: #fff;
  padding: 50px 20px;
  text-align: center;

  & .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &.para{
    font-weight: 500;
  }
}

// mat-card {
//   box-shadow: none;
// }

// .product-images-latest {
//   width: 100%;
//   height: 220px;
//   padding-left: 0px;
//   border-radius: 10px !important;
//   margin-bottom: 10px;

//   & a {
//     display: flex;
//     align-items: center;
//     height: 100%;
//   }

//   & .products-cards-images {
//     max-width: 100%;
//     max-height: 100%;
//     object-fit: contain;
//     position: relative;
//     top: 40px;
//   }
// }

// .product-price-details {
//   color: #0e0e0e;
//   font-weight: 700;
//   font-family: "Inter";
//   line-height: 1.3;
// }

// section.smart.product-smart-card {
//   height: 170px;
//   width: 17%;
//   border-radius: 15px;
// }

// .product-small-card {
//   display: flex;
//   gap: 15px;
// }

// h2.product-heading-in {
//   margin-top: 20px;
// }

//   .scroll-container {
//   }

// .topbox {
//   margin: 0;
//   background: #30b1d7;
//   border-radius: 12px;
//   width: 100%;
//   padding: 20px 20px;
//   margin: 0 0 10px 0;
//   color: #fff;

//   & h3 {
//     font-size: 30px;
//     font-weight: 600;
//     line-height: 1.2;
//   }

//   & p {
//   //   border: 1px solid #ccc;
//     padding: 5px 0;
//   //   border-radius: 20px;
//   }
// }

// .listloader {
//   display: flex;
//   width: 100%;
//   height: 100px;
//   margin-top: 30px;
//   list-style: none;

//   & li {
//     list-style: none;
//     padding-right: 10px;
//     width: 15%;

//     & span {
//       width: 100%;
//       height: 90px;
//       display: inline-block;
//     }
//   }
// }

// .smallTitle {
//   margin-left: 15px;
// }

// .titlesmart {
//   height: 30px;
//   width: 200px;
// }

// .boxsmart {
//   height: 300px;
//   margin-bottom: 20px;
// }

// .smallbox {
//   height: 200px;
// }

// ::ng-deep .mdc-card__media {
//   position: relative;
//   top: 4opx;
// }

// @media screen and (max-width: 770px) {
//   .flex-wrap {
//     flex-direction: column;
//     & .flex-list {
//       width: 100%;
//     }
//   }
//   .custom-flexs-list6 .card1 {
//     width: 100%;
//     padding: 0 0 20px 0;
//   }
// }

// Loader Css
.hometabs mat-chip-option {
  margin: 10px 10px 0 0;
}
.hometabs mat-chip-option.active {
  background: #f8f8f8 !important;
  color: #000 !important;
}
.loader-wrap {
  padding-top: 30px;
}
.manu-loader {
  display: flex;
  align-items: center;
  margin-top: 20px;
  & > section.loader-img {
    flex: 0 0 200px;
  }
  & .loader-product {
    flex: 0 0 300px;
    display: flex;
    & section {
      margin: 0 10px;
    }
  }
  & .loader-desc {
    flex: 1;
  }
  & .text-img-small {
    width: 80px;
    height: 100px;
  }
  & .text-img {
    width: 120px;
    height: 100px;
  }
  & .text {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
  }
}

.tab-banner-chips {
  margin-top: 10px;
  margin-bottom: 20px;
}
.listwrappers {
  padding-top: 30px;
  width: 100%;
}
.mfg-list-container {
  // border-bottom: 2px solid #555;
  margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
  .manu-loader {
    display: unset;
    align-items: center;
    margin-top: 20px;
  }
  section.loader-desc {
    margin-top: 10px;
  }
  section.text-img {
    margin-top: 10px;
    margin-left: 10px;
  }


}

.nodata {
  width: 100%;
  padding: 100px 0;
  text-align: center;
}

.title1{    margin-top: 15px !important;
  font-size: 16px !important; & span{ color: #000 !important; font-size: 14px;}}

  .btntabstyle{ margin-top: 20px;}
  .linetabstyle{ margin-top:20px}