// .modal_header{
//   padding: 10px;
//   border-bottom: 1px solid #D9D9D9;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   h3{
//     margin: 0;
//     color: #000;
//     font-weight: 500;
//     font-size: 18px;
//   }

//   .icon_close img{
//     width: 25px;
//   }
// }

// .modal_body{
//   padding: 30px 10px;
//   text-align: center;

//   .otp_container{
//     display: flex;
//     justify-content: center;
//     gap: 20px;
//     padding: 20px 0 10px;
  
//     input{
//       width: 40px;
//       height: 40px;
//       text-align: center;
//       border-radius: 4px;
//       border: 1px solid #B0B0B0;
//     }
//      input:focus{
//       border: 1px solid #02A8DF;
//       outline: none;
//      }
//   }
  
//   .resend_code{
//     font-size: 12px;
//     font-weight: 500;
//   }
// }


.col-lg-12.header-form {
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
    margin-top: 20px;
    & h3 {
      margin-bottom: 0px;
      display: inline;
      font-weight: 500;
      font-size: 20px;
      font-family: inter;
      color: #0e0e0e;
      margin-right: 40px;
    }
    & span {
      color: #545454;
      font-size: 14px;
      font-family: inter;
    }
  }
  
  .main-form {
    & label {
      font-size: 12px;
      font-family: inter;
      font-weight: 500;
      color: #000;
      margin-bottom: 5px;
    }
  }
  .business-type-fields {
    & li.list-group-item {
      width: 100%;
      border: none;
      padding-left: 0px;
      & label {
        color: #333333;
        font-weight: normal;
        font-family: inter;
        margin-left: 10px;
      }
    }
  }
  .middlefiled {
    display: flex;
    justify-content: space-between;
  }
  .rfq-product-list {
    display: flex;
    flex-wrap: wrap;
  }
  .middlefiled.inputs {
    /* background: red; */
    width: 50% !important;
    margin-right: 0px;
    padding: 4px;
  }
  .row.main-form {
    & ::ng-deep .mat-mdc-text-field-wrapper {
      // border: solid 1px #b0b0b0 ;
      border-radius: 4px !important;
      outline: 0px solid #b0b0b0;
      margin-bottom: 10px;
      box-shadow: none;
      height: 35px;
      line-height: 0px;
      font-size: 14px;
    }
    & ::ng-deep mat-label {
      color: red;
      font-size: 14px;
      color: #545454;
      font-family: "Inter";
    }
    &
      ::ng-deep
      .mdc-text-field--filled:not(.mdc-text-field--disabled)
      .mdc-line-ripple::before {
      border-bottom-color: white;
    }
  }
  
  .close-btn {
    margin-left: 15px;
  }
  .middlefiled .mat-mdc-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
    position: relative !important;
    top: 0px !important;
  }
  
  .buttons-footer-rfq {
    float: left;
  }
  button.primaryBtn.rfq-button {
    font-weight: normal;
    background: #02a8df !important;
    color: white !important;
  }
  button.close-btn {
    border: 1px solid #02a8df !important;
    color: #02a8df !important;
    font-weight: normal;
    padding-left: 35px;
    padding-right: 35px;
  }
  button.close-btn.btn-clss {
    font-size: 14px;
    padding: 0px !important;
    width: 20px !important;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    float: right;
    background: #f3f3f3;
    border: none !important;
    color: #a7a7a7 !important;
  }
  