<!-- <div class="modal_header">
    <h3> Update Email Address </h3>
    <span class="icon_close" type="button" (click)="closeEmailDialog()"><img src="../.././../../assets/images/close_icon.png"></span>
</div>
<div class="modal_body">
    <p>Enter verification code sent to <b>admin&#64;gmail.com</b></p>
    <div class="otp_container">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
    </div>
    <div><button class="text_btn resend_code">Resend Code</button></div>
    <div class="mt-5"><button class="primary_btn">Update</button></div>
</div> -->


<div class="container">
    <div class="row">
      <div class="col-lg-12 header-form">
        <h3>Update {{details.type}} </h3>
        <button
          type="button"
          (click)="closeDialog()"
          mat-stroked-button
          color="primary"
          class="close-btn btn-clss"
        >
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
      <div mat-dialog-content>
        <div class="row main-form">
            <ng-container *ngIf="showEmail; else mobile">
                <!-- Email -->
                <div class="col-lg-12">
                    <label> *Email:</label>
                </div>
                <div class="col-lg-6">
                    <app-email-v2 [email]="this.user.mob_email" [mobileNumber]="this.user.mob_user_phone" (next)="hideEmail()"></app-email-v2>
                </div>
            </ng-container>
  
            <ng-template #mobile>
                <!-- Number -->
                <div class="col-lg-12">
                    <label> *Mobile Number:</label>
                </div>
                <div class="col-lg-6">
                    <app-mobilev2 [number]="this.user.mob_user_phone" (next)="hideEmail()"></app-mobilev2>
                </div>
            </ng-template>
        </div>
      </div>
  </div>  