.selectedImg {
  height: 25px;
  width: 19px;
  margin-right: 10px;
  object-fit: contain;
}

.countrycode {
  border: 0;
}
.confirmsubTitle {
  font-size: 18px;
  color: #000;
  text-align: center;
  margin: 30px 0;
}
.confirm-actions {
  clear: both;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  & button {
    min-width: 120px;
    margin: 0 10px;
  }
}

.confirminner {
  padding: 10px 20px;
  min-height: 100px;
}

.otpbtnsec{

  .stroked_btn{
    height: 44px;
    white-space: nowrap;
  }
}

.smalltxt a {
  cursor: pointer;
  color: #017db9;
}

.bluelink {
  color: #0172a8 !important;
}
.bluelink:disabled {
  opacity: 0.5 !important;
}
.otpfiled mat-form-field {
  width: 100% !important;
}

.incorrect_icon, .correct_icon{
  visibility: hidden;
}
.incorrect_otp{
  position: relative;
  border-radius: 3px;
  border: 1px solid #E82828;
  background: #FEE;

  .incorrect_icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
    visibility: visible;
  }
}

.correct_otp{
  position: relative;
  border-radius: 3px;
  border: 1px solid #3FA950;
  background: #ECF6EE;

  .correct_icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
    visibility: visible;
  }
}

.circle {
  padding: 0 20px !important;
}
.otpfiled.verified {
  background: #ecf6ee;
  border-color: #3fa950;
  & .circle {
    color: #3fa950;
  }
}

.error_msg{
  color: #E82828;
  font-weight: 500;
}
@media screen and (max-width: 770px) {
  .flex-row-sign {
    flex-wrap: wrap;
    & .otpbtnsec {
      margin: 20px 0 0 0;
      width: 100%;
      & button {
        width: 100%;
      }
    }
  }
}

::ng-deep circle {
  stroke: #147dae !important;
}
.mat-mdc-progress-spinner.mdc-circular-progress {
  width: 35px !important;
  height: 35px !important;
}

.terms-font-color, a {
    color: #147dae !important;
}

.user-error {
  position: relative;
  right: 80px;
  width: 300px;
}

.smallfiled.mobilenumberfield{
    padding-left: 10px;
}