
.v3_supplier_details{
    display: flex;
    align-items: flex-start;
    gap: 30px;

    .v3_supplier_img{
        width: 200px;
    }

    .details{
        width: 100%;
    }
}

button.manf-button {
    box-shadow: none;
    margin-right: 10px;
    border-radius: 30px;
    font-weight: normal;
}

.v3_supplier_actions .flex-actions{
    padding-bottom: 20px;
}

.products-images {
    display: flex;
    gap: 15px;
    flex: 0 0 315px;
    & app-product-card {
        width: 90px;
        // height: 90px;
        margin-left: 15px;
    }
}

.carosualwrap {
    flex: 0 0 200px;
}

.descdata {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 app-chat-now {
    margin-right: 10px;
}
app-view-number{
    margin-right: 10px;
}
app-contactsupplier
{
    margin-right: 10px;
}

.singleImage {
    height: 150px;
    width: 150px;
    object-fit: contain;
    background: #f4f4f4;
    border-radius: 5px;
}
.flex{ display: flex;}

@media screen and (max-width: 770px) {

    .v3_supplier_details{
        flex-wrap: wrap;
        gap: 0;

        .v3_supplier_img{
            width: 25%;
        }

        .details{
            width: 75%;
            padding-left: 20px;
        }
    }

    .singleImage{
        width: 100%;
    }

    .descdata{ margin-top: 20px;}
.flex{ flex-direction: column;}
.flex-actions{ flex-direction: row; padding-top: 20px; flex-wrap: wrap;
& > *{ margin-bottom: 10px;}
}
.products-images, .carosualwrap{
    flex: 0 0 100%;
    margin-top: 20px;
}

// .singleImage{ height: auto;}

.products-images app-product-card{
    width: 33.3%;
    height: auto;
    margin-left: 0;
}


}

@media screen and (max-width: 575px) {
    .singleImage {
        height: 80px;
    }
}