<div class="container">
  <div class="row">
    <div class="col-lg-12 header-form">
      <h3>Personal Information</h3>
      <button
        type="button"
        (click)="closeDialog()"
        mat-stroked-button
        color="primary"
        class="close-btn btn-clss"
      >
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <div mat-dialog-content>
      <div class="row main-form">
        <!-- Title -->
        <div class="col-lg-12">
          <label> *Title: </label>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100 middlefiled">
            <mat-label>Select Option</mat-label>
            <mat-select
              formControlName="title"
              class="w-100 mat-select-rfq"
            >
              <mat-option
                *ngFor="let title of titles"
                [value]="title.id"
                >{{ title.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        
        <!-- Name -->
        <div class="col-lg-12">
          <label> *Name:</label>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100 middlefiled">
            <input
              formControlName="name"
              placeholder="Name"
              class="w-100 middlefiled"
              matInput
            />
          </mat-form-field>
        </div>

        <!-- Email -->
        <div class="col-lg-12">
          <label> *Email:</label>
        </div>
        <div class="col-lg-6">
          <app-email-v2 [email]="this.user.mob_email" [mobileNumber]="this.user.mob_user_phone" (next)="hideEmail()"></app-email-v2>
        </div>


        <!-- Number -->
        <div class="col-lg-12">
          <label> *Mobile Number:</label>
        </div>
        <div class="col-lg-6">
          <app-mobilev2 [number]="this.user.mob_user_phone" (next)="hideEmail()"></app-mobilev2>
        </div>
      </div>
    </div>

    <div mat-dialog-actions align="end" class="buttons-footer-rfq">
      <!-- Update Button -->
      <section class="rfqbtnwrap">
        <button
          [disabled]="form.invalid"
          mat-raised-button
          color="primary"
          type="submit"
          class="primaryBtn rfq-button"
        >
          Update Details
        </button>
      </section>
      <section class="rfqbtnwrap">
        <button
          type="button"
          (click)="closeDialog()"
          mat-stroked-button
          color="primary"
          class="close-btn"
        >
          Close
        </button>
      </section>
    </div>
  </form>
</div>
