<ng-container *ngIf="form">
  <h2 class="poptitle">
    RFQ <a (click)="closeRFQpopup()"><mat-icon>close</mat-icon></a>
  </h2>

  <div class="rfqformwrapper dialogrfqformwrapper">
    <!--  -->
    <section *ngIf="formNumber === 2 && rfqResponse && !showRfq">
      <div class="card rfq-card">
        <div class="card-body">
          <h5 class="id-num">
            ID: {{ rfqResponse.rfq_code }}
            <a (click)="editRfq()" class="edit" color="primary">
              <mat-icon>edit</mat-icon>
            </a>
          </h5>

          <ul class="card-ul-rfq">
            <li>
              <div class="ls-name">Product Name :</div>
              <div class="ls-sub-name">{{ rfqResponse.product_name }}</div>
            </li>
            <li>
              <div class="ls-name">Category :</div>
              <div class="ls-sub-name">{{ catName }}</div>
            </li>
            <li>
              <div class="ls-name">Quantity :</div>
              <div class="ls-sub-name">{{ rfqResponse.quantity }}</div>
            </li>
            <li>
              <div class="ls-name">Units :</div>
              <div class="ls-sub-name">{{ unit.val }}</div>
            </li>
          </ul>

          <div class="rfqsu">RFQ Submited Successfully</div>

          <div class="rfqtitle">
            Please Updates below details for more information about your
            requirment
          </div>
        </div>
      </div>
    </section>

    <form [formGroup]="form" (ngSubmit)="submit(form)">
      <section class="innerform">
        <ng-container *ngIf="formNumber === 1 || showRfq">
          <section class="fieldsec filedsec-100p">
            <label>*Product Name</label>
            <mat-form-field appearance="outline" class="middlefiled">
              <input
                matInput
                type="text"
                placeholder="Product Name"
                formControlName="product_name"
              />
              <mat-error>Product Name required</mat-error>
            </mat-form-field>
          </section>

          <section class="fieldsec filedsec-100p">
            <label>Select your Category</label>
            <a class="dummyfield" (click)="openCategorypopup()">{{
              catName
            }}</a>
          </section>

          <section class="fieldsec filedBlock">
            <section class="fieldsec filedsec-50p">
              <label>*Enter Quantity</label>
              <mat-form-field appearance="outline" class="middlefiled">
                <input matInput type="text"  appAllowNumbersOnly formControlName="quantity" />
                <mat-error *ngIf="form.get('quantity')?.hasError('required')">
                  Quantity is required
                </mat-error>
              </mat-form-field>
            </section>

            <section class="fieldsec filedsec-50p">
              <label>*Select Units</label>
              <mat-form-field appearance="outline" class="middlefiled">
                <mat-select formControlName="units">
                  <mat-option *ngFor="let u of units" [value]="u.id">
                    {{ u.val }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </section>
          </section>

          <section class="fieldsec filedsec-100p">
            <label>Enter Detail Description</label>
            <mat-form-field appearance="outline" class="middlefiled">
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <ul class="destails_desc" *ngIf="questions && questions.length > 0">
              <li
                *ngFor="let q of questions"
                (click)="addSentenceToDescription(q)"
              >
                {{ q }}
              </li>
            </ul>
          </section>
        </ng-container>
        <ng-container *ngIf="formNumber === 2">
          <section class="fieldsec filedsec-100p">
            <label>*Select Source Type</label>
            <mat-form-field appearance="outline" class="middlefiled">
              <mat-select formControlName="sourcing_type">
                <mat-option *ngFor="let s of sourceType" [value]="s">
                  {{ s }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </section>

          <section class="fieldsec filedsec-100p">
            <div class="file file--upload">
              <label for="input-file">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                >
                  <path
                    d="M240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Zm240-160L280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200Z"
                  />
                </svg>
                Upload Images
              </label>
              <input
                id="input-file"
                type="file"
                (change)="onFileSelected($event)"
                placeholder="Select an image file"
                accept="image/*"
                multiple="3"
              />
            </div>
            <div *ngIf="previews">
              <div class="img-upload-rfq">
                <ng-container *ngFor="let p of previews">
                  <img [src]="p" alt="Preview" />
                </ng-container>
              </div>
            </div>
            <!-- <input
              type="file"
              (change)="onFileSelected($event)"
              placeholder="Select an image file"
              accept="image/*"
              multiple
            /> -->

            <span class="notetxt"
              >Upload 3 or less Images with a max size of 10MB each (supported
              types: jpg/.jpeg/.png/.svg)</span
            >
          </section>

          <section class="fieldsec filedBlock">
            <section class="fieldsec filedsec-50p">
              <label>*Select Order Value</label>
              <mat-form-field appearance="outline" class="middlefiled">
                <mat-select formControlName="order_value">
                  <mat-option *ngFor="let o of orderval" [value]="o">
                    {{ o }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </section>
            <section class="fieldsec filedsec-50p">
              <label>*Select Currency</label>
              <mat-form-field appearance="outline" class="middlefiled">
                <mat-select formControlName="currency">
                  <mat-option *ngFor="let c of currency" [value]="c">
                    {{ c }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </section>
          </section>
          <section class="fieldsec filedBlock">
            <section class="fieldsec filedsec-50p">
              <label>*Lead Time In Days</label>
              <mat-form-field appearance="outline" class="middlefiled">
                <input matInput type="text" formControlName="lead_time" />
              </mat-form-field>
            </section>
            <section class="fieldsec filedsec-50p">
              <label>*Valid to</label>
              <mat-form-field appearance="outline" class="middlefiled">
                <input
                  matInput
                  [matDatepicker]="picker"
                  [matDatepickerFilter]="myFilter"
                  formControlName="valid_to"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </section>
          </section>

        </ng-container>
      </section>
      <ng-container *ngIf="formNumber === 2">
        <section class="box-separate" *ngIf="attrData && attrData.length > 0">
          <!-- {{ attrData | json}} -->
          <h2>Category Related attributes</h2>
          <section class="attr_section">
            <ng-container *ngFor="let attr of attrData">
              <ng-container *ngIf="attr.type == 'selection-multi'">
                <section class="fieldsec filedsec-100p">
                  <label>{{ attr.name }}</label>
                  <mat-form-field appearance="outline" class="middlefiled">
                    <mat-select [formControlName]="attr.name" multiple>
                      <mat-select-trigger>
                        <!-- {{ form.controls[attr.name].value?.length }} option(s) selected -->
                        {{form.controls[attr.name].value?.[0] || ''}}
                        <span
                          *ngIf="
                            (form.controls[attr.name].value?.length || 0) > 1
                          "
                          class=""
                        >
                          (+{{
                            (form.controls[attr.name].value?.length || 0) - 1
                          }}
                          {{
                            form.controls[attr.name].value?.length === 2
                              ? "other"
                              : "others"
                          }})
                        </span>
                      </mat-select-trigger>
                      <mat-option
                        *ngFor="let opt of attr.options"
                        [value]="opt"
                        >{{ opt }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </section>
              </ng-container>

              <ng-container *ngIf="attr.type == 'selection'">
                <section class="fieldsec filedsec-100p">
                  <label>{{ attr.name }}</label>
                  <mat-form-field appearance="outline" class="middlefiled">
                    <mat-select [formControlName]="attr.name">
                      <mat-option
                        *ngFor="let opt of attr.options"
                        [value]="opt"
                        >{{ opt }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </section>
              </ng-container>

              <ng-container
                *ngIf="
                  attr.type == 'text' ||
                  attr.type == 'number' ||
                  attr.type == 'float'
                "
              >
                <section class="fieldsec filedsec-100p">
                  <label>{{ attr.name }}</label>
                  <mat-form-field appearance="outline" class="middlefiled">
                    <input matInput type="text" [formControlName]="attr.name" />
                  </mat-form-field>
                </section>
              </ng-container>
            </ng-container>
          </section>
        </section>

        <section class="box-separate">
          <h2>Further Specified Details</h2>
          <section class="boxseparateinner">
            <section class="fieldsec filedsec-100p">
              <label>Required Frequency</label>
              <mat-form-field appearance="outline" class="middlefiled">
                <mat-select formControlName="required_frequency">
                  <mat-option *ngFor="let f of frequency" [value]="f">
                    {{ f }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="form.get('required_frequency')?.hasError('required')"
                  >frequency Name is required</mat-error
                >
              </mat-form-field>
            </section>

            <section class="fieldsec filedsec-100p">
              <label>Suplier Business</label>
              <mat-form-field appearance="outline" class="middlefiled">
                <mat-select formControlName="supplier_business">
                  <mat-option *ngFor="let bt of businessType" [value]="bt.id">
                    {{ bt.val }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="form.get('supplier_business')?.hasError('required')"
                  >suplierBusiness Name is required</mat-error
                >
              </mat-form-field>
            </section>

            <section class="fieldsec filedsec-100p">
              <label>Packaging</label>
              <mat-form-field appearance="outline" class="middlefiled">
                <input matInput type="text" formControlName="packaging_type" />
              </mat-form-field>
            </section>
          </section>
        </section>
      </ng-container>
      <section class="fieldsec filedsec-100p">
        <mat-checkbox
          formControlName="tandc"
          class="termscheck"
          color="primary"
        >
          I have read, understood and agreed to abide by the
          <a href="javascript:;" (click)="openTermsDialog($event)"
            >Buying Request Posting Rules</a
          >
        </mat-checkbox>
      </section>

      <section class="rfqbtnwrap">
        <button
          [disabled]="form.invalid"
          mat-raised-button
          type="submit"
          class="primaryBtn rfq-button"
        >
          Submit RFQ
        </button>
        <button
          (click)="closeRFQpopup()"
          *ngIf="formNumber === 2"
          mat-raised-button
          type="submit"
          class="primaryBtn rfq-button"
        >
          SKIP
        </button>
      </section>
    </form>
  </div>
</ng-container>

<ng-template #categorytemplate>
  <section class="categorywrapper">
    <h2 class="poptitle">
      Categories
      <a (click)="closeCategorypopup()"><mat-icon>close</mat-icon></a>
    </h2>
    <mat-spinner *ngIf="categoryLoader" class="spinner-cs"></mat-spinner>
    <app-category
      *ngIf="categories"
      [categoriesList]="categories"
    ></app-category>
  </section>
</ng-template>

<ng-template #rfqTerms>
  <section class="categorywrapper">
    <h2 class="poptitle">
      Terms and Conditions
      <a (click)="closeTerms()"><mat-icon>close</mat-icon></a>
    </h2>
    <section
      class="main-container"
      *ngIf="htmlContent"
      [innerHTML]="htmlContent"
    ></section>
  </section>
</ng-template>

<ng-template #thankyoutemplate>
  <h2 class="poptitle">
    Request for quotation
    <a (click)="closeThankYou()"><mat-icon>close</mat-icon></a>
  </h2>
  <section class="confrmationpopup">
    <!-- <mat-icon>check_circle</mat-icon> -->
    <img src="assets/images/confirmed.png"/>
    <!-- <h3>Thank You</h3> -->
    <div class="py-4">
        <p class="m-0">Your submission has been received.</p>
        <p class="pt-2">We will be in touch and contact you soon!</p>
    </div>
    <button (click)="closeThankYou()" class="back_btn"><i class="fa fa-arrow-left pe-2"></i> Back to Site</button>
  </section>
</ng-template>
