form {
}
.dialogrfqformwrapper {
  width: 100%;
  padding: 20px 20px 0 20px;
  max-height: 80vh;
  overflow: auto;
}
.rfqformwrapper {
  & .fieldsec {
    margin-bottom: 20px;
    & .mat-mdc-form-field {
      width: 100%;
    }
  }
  & .filedsec-100p {
    width: 100%;
  }
  & .filedBlock {
    display: flex;
  }
  & .filedsec-50p {
    width: 50%;
    padding-right: 20px;
    margin: 0;
  }
}

.categorywrapper {
  max-height: 80vh;
  overflow: auto;
}

.rfqbtnwrap {
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px 0;
}
.dummyfield {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  display: flex;
  height: 40px;
  align-items: center;
  color: #050505;
}

.poptitle {
  background: #f8f8f8;
  color: #000;
  padding: 10px 20px;
  position: sticky;
  top: 0px !important;
  z-index: 9999;
  & a {
    float: right;
  }
}

.attr_section {
  background: #f8f8f8;
  padding: 10px;
}

.box-separate {
  margin-bottom: 30px;
  background: #f6f8f9;
  padding: 20px;
  & h2 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    padding: 0 0 10px 0;
  }
}
.termscheck {
  font-weight: 400;
}
.notetxt {
  display: block;
  font-size: 13px;
  color: #928d8d;
  font-weight: 400;
  font-weight: 300;
  margin-top: 5px;
}
.boxseparateinner,
.attr_section {
  display: flex;
  flex-wrap: wrap;
  & .fieldsec {
    width: 25%;
    padding-right: 10px;
  }
}
.innerform {
  max-width: 600px;
}
.filedBlock .filedsec-50p:last-child {
  padding-right: 0;
}
.destails_desc {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
  padding: 0px;
  list-style: none;
  & li {
    padding: 5px 10px;
    list-style: none;
    margin: 0 0 5px 0;
    background: #f8f8f8;
    cursor: pointer;
    &:first-child {
      border-radius: 10px 10px 0 0;
    }
    &:last-child {
      border-radius: 0 0 10px 10px;
      margin: 0;
    }
    &:first-child:last-child {
      border-radius: 10px;
      margin: 0;
    }
    &:hover {
      background: #ccc;
    }
  }
}

@media screen and (max-width: 770px) {
  .filedBlock {
    flex-wrap: wrap;
  }
  .rfqformwrapper .filedsec-50p {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 0;
  }
}

.file > input[type="file"] {
  display: none;
}

.file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 29%);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > label:hover {
  border-color: hsl(0, 0%, 21%);
}

.file > label:active {
  background-color: hsl(0, 0%, 96%);
}

.file > label > i {
  padding-right: 5px;
}

.file--upload > label {
  color: hsl(204, 86%, 53%);
  border-color: hsl(204, 86%, 53%);
}

.file--upload > label:hover {
  border-color: hsl(204, 86%, 53%);
  background-color: hsl(204, 86%, 96%);
}

.file--upload > label:active {
  background-color: hsl(204, 86%, 91%);
}
.file.file--upload label {
  border: none !important;
  background: #e6e6e6 !important;
  color: #1c1b1f !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
}
.file.file--upload {
  width: 200px;
}

.img-upload-rfq {
  display: flex;
  img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border: 1px solid transparent;
    border-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff) 10;
    border-image-slice: 1;
  }
}
.spinner-cs {
  width: 50px !important;
  height: 50px !important;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0px !important;
}
.card.rfq-card {
  box-shadow: none;
  margin-bottom: 20px;
}
.card.rfq-card {
  & .card-body {
    padding: 8px;
  }
}
.card-ul-rfq {
  border: none;
  padding: 5px 0px;
  width: 100%;
  background: none;

  & img {
    width: 100px;
    height: 100px;
  }
}

section.img-rfq {
  background: white;
  padding: 5px;
  box-shadow: 2px 2px 2px #c5c5c5;
  margin-right: 10px;
}
section.card-section-crd {
  display: flex;
}
.ls-name {
  margin-right: 15px;
  min-width: 150px;
  color: #868686;
}
.ls-sub-name {
  font-weight: 600;
}

section.card-section-crd {
  margin-top: 6px;
}
h5.id-num {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-submit-rfq {
  width: 90px;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: 5px;
  background: #00aaf9;
  font-weight: 500;
  box-shadow: none;
}
.edit {
  width: auto;

  & mat-icon {
    font-size: 17px;
    width: 17px;
    height: 17px;
  }
}

.card-ul-rfq {
  & li {
    display: flex;
    width: 100%;
    list-style: none;
    margin-bottom: 10px;
  }
}

.rfqsu {
  color: #02a8df;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.rfq-button {
  margin-right: 20px;
}

.confrmationpopup p{
  font-size: 16px;
}
.confrmationpopup .back_btn{
  background: #02A8DF;
  border: 0;
  color: #fff;
  padding: 7px 20px;
  border-radius: 5px;
}