<section class="innersec step1 mobilesectionsignup">
    
    <div class="row">
        <div class="col-lg-12 text-center">
            <img class="signup_img" src="/assets/images/popup1.png"/>
            <h1>Welcome To MyVerkoper!</h1>
            <h2>Complete your profile now to purchase from leading brands and get a chance to connect with leading sellers for your exclusive requirements</h2>
        </div>
    </div>
    
    <!--Step 2 Business Details section -->
    <ng-container *ngIf="currentSlide == 2">
        <!-- School Designation -->
        <ng-container *ngIf="signupStepsData[0]">
            <h3>
                <label>{{ signupStepsData[0].step_title }}</label>
            </h3>
            <p>
                <label>{{ signupStepsData[0].step_description }}</label>
            </p>
            <mat-radio-group [(ngModel)]="selectedOption">
                <div class="row">
                <mat-radio-button class="singleselect col-lg-4" *ngFor="let school of signupStepsData[0].inputs"
                    [value]="school.input_value">
                    <div *ngIf="school.is_enable" class="radio" [class.selected]="selectedOption === school.input_value">
                        <div class="mainimgwrap">
                            <div class="imgwrap">
                                <img [src]="school.image_url" />
                            </div>
                        </div>
                        <div class="label content">
                            <h4 class="box-title">{{school.label_name }}</h4>
                            <p> {{school.description}} </p>
                        </div>
                    </div>
                </mat-radio-button>
                </div>
            </mat-radio-group>
            <p [style.color]="'red'" *ngIf="showSelectedOptionError">Institute Type must be selected</p>
        </ng-container>
        <!-- School name and pincode -->
        <ng-container *ngIf="signupStepsData[1]">
            <h3>
                <label>{{ signupStepsData[1].step_title }}</label>
            </h3>
            <p>
                <label>{{ signupStepsData[1].step_description }}</label>
            </p>
            <form [formGroup]="form1" (ngSubmit)="submitStep1(form1.value)">
                <section>
                    <mat-form-field appearance="outline" class="smallfiled">
                        <input appRejectSpecialCharacters matInput formControlName="school_name" placeholder="School Name">
                        <!-- <mat-error *ngIf="name1?.hasError('required')">{{signupStepsData[1].input_name}}  is required</mat-error> -->
                    </mat-form-field>
                </section>
                <h3>
                    <label>{{ signupStepsData[3].step_title }}</label>
                </h3>
                <p>
                    <label>{{ signupStepsData[3].step_description }}</label>
                </p>
                <section>
                    <mat-form-field appearance="outline" class="smallfiled">
                        <input appAllowNumbersOnly matInput type="number" (input)="pincodeVerify()" pattern="[0-9]{6}" formControlName="pincode"
                            placeholder="Pincode">
                    </mat-form-field>
                    <p [style.color]="isPincodeValid ? 'green' : 'red'">{{pinResponse}}</p>
                </section>
                <div class="d-flex justify-content-between">
                    <button mat-raised-button class="primaryBtn bigbtn" [disabled]="!form1.valid || !isPincodeValid"
                        type="submit" color="primary">Next</button>
                    <!-- <button (click)="closeSignupDialog()" type="button" class="bg-transparent border-0 btn_2">Save For Later <i class="fa fa-angle-right"></i></button> -->
                </div>
            </form>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="currentSlide == 3">
        <!-- User Name and User Designation -->
        <ng-container>
            <form [formGroup]="form2">
            <h3>Tell Us About Yourself</h3>
            <p>What should we call you?</p>
            <section>
                <mat-form-field  appearance="outline" class="smallfiled">
                    <input matInput  formControlName="user_name" placeholder="Name">
                </mat-form-field>
            </section>
            </form>
        </ng-container>
        <ng-container>
            <h3>
            <label>{{ signupStepsData[2].step_title }}</label>
            </h3>
            <p>
            <label>{{ signupStepsData[2].step_description }}</label>
            </p>            
            <mat-radio-group [(ngModel)]="selectedOption">
                <div class="row">
                <mat-radio-button class="singleselect col-lg-4" *ngFor="let school of signupStepsData[2].inputs" [value]="school.input_value">
                    <div *ngIf="school.is_enable" class="radio" [class.selected]="selectedOption === school.input_value">
                    <div class="mainimgwrap"> 
                        <div class="imgwrap">
                            <img [src]="school.image_url" />
                            <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Round_Landmark_School_Icon_-_Transparent.svg/1024px-Round_Landmark_School_Icon_-_Transparent.svg.png" /> -->
                        </div>
                    </div>
                        <div class="label content">
                            <h4 class="box-title">{{school.label_name }}</h4>
                            <p> {{school.description}} </p>
                        </div>
                    </div>
                </mat-radio-button>
                </div>
            </mat-radio-group>
            <p [style.color]="'red'" *ngIf="showSelectedOptionError">Role must be selected</p>
        </ng-container>
        <!-- User Email -->
        <ng-container *ngIf="showEmail">
            <h3 class="formTitles">Sign Up for the best experience</h3>
            <p class="formslogan logslogan">
            You can update or remove this Email from your account at any time.
            </p>
            <section class="col-sm-4">
            <app-email
                [mobileNumber]="mobileNumber"
                (next)="emailUpdated()"
            ></app-email>
            <p [style.color]="'red'" *ngIf="showEmailError">Email must be Verified</p>
            </section>
        </ng-container>
        <div class="d-flex justify-content-between">
            <button mat-raised-button class="primaryBtn bigbtn mT30" [disabled]="!form2.valid" (click)="submitStep2(form2.value)" color="primary" >Next</button>
            <!-- <button (click)="closeSignupDialog()" type="button" class="bg-transparent border-0 btn_2">Save For Later <i class="fa fa-angle-right"></i></button> -->
        </div>
    </ng-container>
</section>