<section class="review-section">
<section class="all-review-section-card">
    <h2> All Reviews </h2>
    <section class="company-right">
        <div class="hometabs">
            <mat-chip-option class="review-chips" color="primary" >
            All Products
            </mat-chip-option>
            <mat-chip-option class="review-chips" color="primary"> Customizable </mat-chip-option>
            <mat-chip-option class="review-chips" color="primary"> Ready to Ship </mat-chip-option>
        </div>
    </section>
    <section class="review-data">
        <div class="review-profile">
<span class="review-icons">
N
</span>
<span class="review-p-name">
    <h5>
        Ashok Maharaj
    </h5>
    <span> Hyderabad </span>
    <span> April 2, 2023 </span>
</span>
        </div>
  <div class="review-profile-dta">
          <span class="review-data-tw"> Supplier Service <b> Very satisfied </b> </span>
          <span class="review-data-tw"> On-time Shipment <b> Very satisfied </b> </span>
          <section class="ratingWrap">
            <span>
              <ng-container *ngFor="let r of [0, 1, 2, 3, 4]">
                <svg class="review-starts"
                  [ngClass]="5 > r ? 'filled-star' : 'filled-star-gray'"
                  xmlns="http://www.w3.org/2000/svg"
                  height="15"
                  viewBox="0 96 960 960"
                  width="15"
                >
                  <path
                    d="m185 1039 80-331L3 484l343-29 134-313 134 314 343 28-262 224 80 331-295-176-295 176Z"
                  />
                </svg>
              </ng-container>
            </span>
          <span class="ratecount"> 5.0 </span> 
        </section>
<p>
    This is a good supplier and they also provide really good professional services. This is a good supplier and they also provide really good professional servicesThis is a good supplier and they also provide really good professional servicesThis is a good supplier and they also provide really good professional servicesThis is a good supplier and t hey supplier   and t hey supplier and they also and they also provide really good professional  👍👍
</p>

<div class="regiew-gallery-img">
    <ul class="list-group list-group-horizontal">
        <li *ngFor="let i of [0,0,]" class="list-group-item"> <img src="https://picsum.photos/1920/1000"/> </li>
        <li class="list-group-item"> <img src="https://picsum.photos/1920/1000"/> </li>
        <li class="list-group-item"> <img src="https://picsum.photos/1920/1000"/> </li>
        <li class="list-group-item"> <img src="https://picsum.photos/1920/1000"/> </li>
      </ul>
</div>
<span class="galler-minitext">
    182 people found this review helpful.
</span>
<span class="help-chat"> Did you find thid helpful? </span>
<button type="button" class="btn btn-primary help-yes"> Yes </button>
<button type="button" class="btn btn-primary help-yes"> No </button>

        </div>
      
    </section>
</section>
<section>
   <br/>
    <section class="review-data">
        <div class="review-profile">
<span class="review-icons">
N
</span>
<span class="review-p-name">
    <h5>
        Ashok Maharaj
    </h5>
    <span> Hyderabad </span>
    <span> April 2, 2023 </span>
</span>
        </div>
  <div class="review-profile-dta">


    

          <span class="review-data-tw"> Supplier Service <b> Very satisfied </b> </span>
          <span class="review-data-tw"> On-time Shipment <b> Very satisfied </b> </span>
          <div class="">
            <!-- <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon> -->
            <section class="ratingWrap">
                <span>
                  <ng-container *ngFor="let r of [0, 1, 2, 3, 4]">
                    <svg class="review-starts"
                      [ngClass]="5 > r ? 'filled-star' : 'filled-star-gray'"
                      xmlns="http://www.w3.org/2000/svg"
                      height="15"
                      viewBox="0 96 960 960"
                      width="15"
                    >
                      <path
                        d="m185 1039 80-331L3 484l343-29 134-313 134 314 343 28-262 224 80 331-295-176-295 176Z"
                      />
                    </svg>
                  </ng-container>
                </span>
              <span class="ratecount"> 5.0 </span> 
            </section>
          </div>
<p>
    This is a good supplier and they also provide really good professional services. This is a good supplier and they also provide really good professional servicesThis is a good supplier and they also provide really good professional servicesThis is a good supplier and they also provide really good professional servicesThis is a good supplier and t hey supplier   and t hey supplier and they also and they also provide really good professional  👍👍
</p>

<div class="regiew-gallery-img">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"> <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg"/> </li>
        <li class="list-group-item"> <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg"/> </li>
        <li class="list-group-item"> <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg"/> </li>
        <li class="list-group-item"> <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg"/> </li>
      </ul>
</div>
<span class="galler-minitext">
    182 people found this review helpful.
</span>
<span class="help-chat"> Did you find thid helpful? </span>
<button type="button" class="btn btn-primary help-yes"> Yes </button>
<button type="button" class="btn btn-primary help-yes"> No </button>

        </div>
      
    </section>
</section>
</section>
