<!-- Top Banner Details -->
<div class="images-slider-two">
  <section *ngIf="category_banner_image" class="img-container" [ngStyle]="{
      'background-image': 'url(' + setImageEncode(category_banner_image) + ')'
    }">
    <div class="contentslider">
      <h1 class="h-sliders">All Categories</h1>
      <p class="p-slider"></p>
    </div>
  </section>
</div>


<section class="main-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <!-- Initial Loader -->
        <ng-container *ngIf="loader">
          <section *ngFor="let i of [0, 1, 2]">
            <section class="smart head"></section>
            <section class="text-box-filter">
              <section *ngFor="let i of [0, 0, 0, 0, 0]" class="smart box-1"></section>
            </section>
            <hr />
          </section>
        </ng-container>

        <!-- My categories -->
        <section>
          <h2 *ngIf="catDetails">
            <a class="pointer" (click)="route2(catDetails.category_id, catDetails.category_name)">{{ catDetails.category_name }}</a> 
          </h2>

          <ul *ngIf="leaf_categories.length > 0" class="flex-wrapper">
            <li *ngFor="let leaf of leaf_categories">
              <div class="imagewrapper">
                <a [routerLink]="['../', leaf.category_name +'-'+ leaf.category_id]">
                  <img [src]="leaf.category_img" onerror="this.src='https://api.myverkoper.com/assets/seller/images/mvk-no-image.png'"/>
                </a>
              </div>

              <button class="search-menu">
                <a [routerLink]="['/products',  leaf.category_name +'-'+ leaf.category_id]">
                  <section class="arrow-search position-relative">
                    {{ leaf.category_name }}
                  </section>
                </a>
              </button>
            </li>
          </ul>
        </section>
        
        <!-- Category List -->
        <section *ngFor="let category of categoryDetails">
          <!-- Main Category Head -->
          <h2>
            <a class="pointer" (click)="route2(category.category_id, category.category_name)">{{ category.category_name
              }}</a>
            <!-- <a [routerLink]="['/category', category.category_id]">{{ category.category_name }}</a>  -->
          </h2>

          <ul *ngIf="category.subcategory_details.length > 0" class="flex-wrapper">
            <li *ngFor="let subCategory of category.subcategory_details">
              <div class="imagewrapper">
                <a [routerLink]="['../', subCategory.category_name +'-'+ subCategory.category_id]">
                  <img [src]="subCategory.category_image" />
                </a>
              </div>

              <!-- If no least categories, showing the sub category name -->
              <h1 *ngIf="!subCategory.least_categories">
                <a [routerLink]="['/products', subCategory.category_name +'-'+ subCategory.category_id]">
                  {{ subCategory.category_name }}
                </a>
              </h1>

              <!-- Showing directly the least category name if it contains only one least category -->
              <button class="search-menu" *ngIf="subCategory.least_categories.length == 1">
                <a
                  [routerLink]="['/products',  subCategory.least_categories[0].category_name +'-'+ subCategory.least_categories[0].category_id]">
                  <section class="arrow-search position-relative">
                    {{ subCategory.category_name }}
                  </section>
                </a>
              </button>

              <!-- Showing mat menu if it contains more than one least categories -->
              <button *ngIf="subCategory.least_categories.length > 1" (mouseenter)="menuTrigger.openMenu();"
                #menuTrigger="matMenuTrigger" class="search-menu" [matMenuTriggerFor]="searchmenu">
                <section class="arrow-search position-relative">
                  {{ subCategory.category_name }}
                  <span>
                    <img src="../../../assets/images/down-arrow.png" />
                  </span>
                </section>
              </button>
              <mat-menu #searchmenu="matMenu" class="main-menu">
                <!-- (mouseleave)="menuTrigger.openMenu()" -->
                <div [ngClass]="
                    subCategory.least_categories.length >= 2
                      ? 'bigList'
                      : 'smallList'
                  ">
                  <ul>
                    <ng-container *ngFor="let cat of subCategory.least_categories">
                      <li>
                        <a [routerLink]="['/products', cat.category_name +'-'+ cat.category_id]">
                          {{ cat.category_name }}
                        </a>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </mat-menu>

            </li>
          </ul>

          <p *ngIf="category.subcategory_details.length == 0">
            No Sub Categories Found. <a class="redirect-link pointer"
              (click)="route2(category.category_id, category.category_name)">Click Here</a> to see to Main Category
            Products.
            <!-- No Sub Categories Found. <a class="redirect-link" [routerLink]="['/category', category.category_id]"> Click Here </a> to see to Main Category Products. -->
          </p>

          <hr />
        </section>
        <!-- More Loader -->
        <div *ngIf="isAPILoading" class="loading-spinner">
          <mat-progress-spinner [diameter]="30" mode="indeterminate"></mat-progress-spinner>
        </div>

      </div>
    </div>
  </div>
</section>