<section class="popupmodal">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <section class="rfq-contact-data">
          <h3>What is RFQ?</h3>
          <P>
            Request For Quotation is a free and easy solution for buyers who are seeking quality quotes. By sending out
            a simole request , you will recieve multiple quotes from qualified suppliers.
          </P>
          <ul class="list-group list-group-horizontal w-100 ul-rfq-score">
            <li class="list-group-item w-100">
              <h3>{{data.rfqs}} +</h3>
              <p>RFQs posted</p>
            </li>
            <li class="list-group-item w-100">
              <h3> {{data.avg_response_time}} </h3>
              <p>Avg response time</p>
            </li>
            <li class=" list-group-item w-100">
              <h3>{{data.active_suppliers}} +</h3>
              <p>Active suppliers</p>
            </li>
            <li class="list-group-item w-100">
              <h3>{{data.industries}} </h3>
              <p>Industries</p>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-12">
        <section class="rfq-contact-data mt-4">
          <P> Your Buyer's Club Level: <b> Standard </b> </P>
          <P>
            set supplier's preferences, get quotes in 12 hours, enjoy discounted shipment services, and more
          </P>
        </section>
      </div>
      <div class="col-lg-12 mb-4">
        <h2 class="popTilterfq">Tell us what you are looking for</h2>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <p>Fill in sourcing requirements</p>
              <textarea class="form-control" rows="5"></textarea>

            </div>
            <div class="col-lg-6">
              <p>Fill in sourcing requirements</p>
              <textarea class="form-control" rows="5"></textarea>
            </div>
          </div>
          <div class="row mT20">
            <div class="col-12">
              <button mat-raised-button class="primaryBtn rfq-button">Post a Request</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>