section.rfq-contact-data {
  background: #f6f8f9;
  padding: 25px;
  & .ul-rfq-score li {
    background: none;
    border: none;
    & h3 {
      margin-bottom: 0px;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
.popTilterfq{ margin-top: 30px;}
.mT20{ margin-top: 20px;}
.popupmodal{ max-height: 80vh; overflow: auto;padding: 20px 5px;}
.form-control:focus{ box-shadow: none;}