<div #productsView class="tab-banner-chips-normal">
 
    <div class="mobiletabwrapper linetabstyle">
        <ul>
          <li *ngFor="let category of mainCatList; let i=index"> 
             <button (click)="setActiveTab(i)" [class.selectedtab]="i === activeTab">{{ category.category_name }}</button>
            </li>
            </ul></div>
 
    <mat-tab-group (selectedTabChange)="onTabClick($event)" #tabGroup
    class="onlydesktop">
        <ng-container *ngFor="let cat of mainCatList">
            <mat-tab label="{{ cat.category_name }}"></mat-tab>
        </ng-container>
    </mat-tab-group>
</div>

<section class="tab-banner-chips">

    <div class="mobiletabwrapper btntabstyle">
        <ul>
          <li *ngFor="let category of categoryList; let i=index"> 
             <button (click)="setSubActiveTab(i)" [class.selectedtab]="i === subActiveTab">{{ category.cat_name }}</button>
            </li>
            </ul></div>
 


    <mat-tab-group  class="onlydesktop" *ngIf="categoryList.length > 0" (selectedTabChange)="onSubTabClick($event)" #subTabGroup>
        <mat-tab *ngFor="let cat of categoryList">
        <ng-template mat-tab-label>
            <div class="chipcls">{{ cat.cat_name }}</div>
        </ng-template>
        </mat-tab>
    </mat-tab-group>
</section>

<!-- loader start -->
<section class="loader-wrap" *ngIf="loader">
    <section class="manu-loader" *ngFor="let i of [1, 2, 3, 4]">
        <section class="loader-img">
            <section class="text-img"></section>
        </section>
        <section class="loader-desc">
            <section *ngFor="let i of [1, 2, 3, 4, 5]" [class]="'smart text-' + i"></section>
        </section>

        <section class="loader-product">
            <section *ngFor="let i of [0, 1, 2]" class="text-img-small"></section>
        </section>
    </section>
</section>
<!-- loader end -->

<ng-container *ngIf="collection.length > 0">
    <app-mfg-list
        *ngFor="let product of collection | paginate: { itemsPerPage: 5, currentPage: p, totalItems: totalCount }"
        [item]="product">
    </app-mfg-list>
    <!-- <section  class="flex-wrap"> -->
        <section *ngIf="collection.length > 5" class="paginator">
            <pagination-controls [maxSize]="5" (pageChange)="onPageChange2($event)"></pagination-controls>
        </section>
    <!-- </section> -->
    <!-- <mat-paginator (page)="onPageChange($event)" [length]="pageLength" [pageSize]="5" [pageSizeOptions]="[5, 10]">
        </mat-paginator> -->
</ng-container>

<ng-container *ngIf="noProdFound">
    <app-nodata></app-nodata>
</ng-container>

<router-outlet></router-outlet>