.filter_view{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;    
    
    span{
        cursor: pointer;
    }

    .list_active svg path{
        stroke: #2BB5E9;
    }

    .grid_active svg path{
        fill: #2BB5E9;
    }
}

.checkbox{
    width: 18px;
    height: 18px;

    input{
        width: 18px;
        height: 18px;
    }
}  

.select_control{
    background: transparent;
    color: #5d5e5e;
    border-radius: 30px;
    padding: 8px 15px;
    border: 1.5px solid;
    cursor: pointer;
    font-weight: 500;
}

.index_rightcol{
    flex: 0 0 80%;
    max-width: 80%;

    .top_filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px; 

        .left{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 15px;  
            
            button{
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        .right{
            display: flex;
            align-items: center;
            gap: 15px;       
        }
    }

    .list_details{
        display: flex;
        gap: 20px 10px;
        padding-bottom: 30px;

        .product_details{
            display: flex;

            .image{
                border-radius: 5px;
            }

            .details{
                font-size: 12px;

                .product_name{
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 10px;
                    word-break: break-word;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                }

                .company{

                    .years{
                        border: 0.5px solid #5D5E5E;
                        padding: 0 6px;
                        font-size: 10px;
                        font-weight: 500;
                        width: fit-content;
                        margin-top: 5px;
                        border-radius: 3px;
                    }
                }
            }

            .supplier{
                flex: 0 0 70%;
                width: 70%;

                .title{
                    font-weight: 500;
                }

                .supplier_row{
                    display: flex;
                    gap: 20px;
                    padding-top: 15px;

                    .supplier_col{

                        img{
                            width: 100px;
                            height: 100px;
                            object-fit: contain;
                            background: #f5f5f5;
                            border-radius: 5px;
                        }

                        .rate{
                            font-weight: 500;
                            font-size: 12px;
                            margin: 7px 0 3px;
                        }

                        .qty{
                            font-size: 12px;
                        }
                    }
                }
            }

            .actions{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px 10px;
                height: fit-content;
                font-size: 12px;

                button{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                .text_btn{
                    color: #333333;
                }
            }
        }

    }

    .list_view{

        .list_details {

            .product_details{
                width: 100%;

                .image{
                    flex: 0 0 25%;
                    width: 25%;
                }
            
                .details{
                    flex: 0 0 45%;
                    width: 45%;
                    padding-left: 20px;
                }
            
                .actions{
                    flex: 0 0 30%;
                    width: 30%;
                    align-content: center;
                    height: auto;
                    padding-left: 15px;
                }
                }

        }
    }

    .grid_view{

        .list_details .product_details{
            display: block;

            .image{
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .actions{
            margin: 20px 0;
            padding: 0;

            .select_control{
                display: none;
            }

            .delete, .share{
                span{
                    display: none;
                }
            }
        }
    }

}


.checkbox_control{
    display: grid;
    grid-template-columns: 5% 95%;
    align-items: baseline;
}

.cmnt_qty_row{
    display: grid;
    grid-template-columns: 30% 70%;

    .product_details{

        img{
            width: 80px;
            height: 80px;
            object-fit: contain;
            background: #f5f5f5;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        p{
            font-size: 12px;
        }
    }
}

.ng_dialog{
    padding: 20px;

    .dialog_header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title{
            margin: 0;
            font-size: 16px;
            color: #000000;
        }
    }

    .dialog_body{
        padding: 25px 0 10px;
    }

    .dialog_buttons{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        padding-top: 20px;
    }
}

.share_dialog{

    h2{
        font-size: 14px;
    }

    .grey_stroked_btn.active{
        color: #017DB9;
        border-color: #017DB9;
    }

    p{
        color: #B0B0B0;
        padding: 15px 0;
        margin: 0;
    }

    .text_btn{
        display: flex;
        align-items: center;
        color: #5D5E5E;
        gap: 10px;
    }
}

.singleImage {
    width: 100%;
}

@media screen and (max-width:991px) {
    .v3_wishlist{

        .index_row{

            .index_leftcol{
                flex: 0 0 100%;
                max-width: 100%;
    
                .side_wishlist .list{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 25px;
                }
            }
    
            .index_rightcol{
                flex: 0 0 100%;
                max-width: 100%;
    
                .top_filter{
                    display: block;
                    margin-top: 30px;
    
                    .right{
                        justify-content: end;
                        padding-top: 30px;
                    }
                }
    
                .list_details{
                    grid: none;
                }
            }
    
        }
    }
    
}

@media screen and (max-width: 767px) {
    .v3_wishlist{

        .index_row{

            .index_rightcol{
            
                .list_details  .product_details{
                    display: block;
        
                    .image{
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }

                .list_view .list_details .product_details .actions{
                    width: 100%;
                    flex: 0 0 100%;
                    padding: 0;
                    margin: 20px 0;
                }

            }
    
        } 
    }

    .filter_view{
        display: none;
    }
}