.company_video{
    margin: 20px 0;

    .row{
        row-gap: 30px;
    }

    .video_card{
        
        .video_img{
            position: relative;
            cursor: pointer;

            video{
                width: 100%;
                height: 290px;
                object-fit: cover;
                border-radius: 5px;
            }

            .video_icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                background: #22222294;
                color: #fff;
                width: 42px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                border-radius: 50%;
                font-size: 20px;
            }
        }

        .details{
            display: grid;
            grid-template-columns: 25% auto;
            margin-top: 10px;

            .product_img{
                width: 60px;
                height: 60px;
                border-radius: 2px;
                object-fit: cover;
            }
        }
    }
}

.video_title{
    color: #5D5E5E;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.video_price{
    font-weight: 600;
    padding: 5px 0;
    margin: 0;
}

.videoModal{
    max-width: 1000px;
    display: grid;
    grid-template-columns: 70% 30%;

    video{
        width: 100%;
        object-fit: cover;
        height: 450px;
        background: #222;
    }

    .video_close{
        position: absolute;
        top: 5px;
        right: 7px;
        z-index: 2;
        border-radius: 50%;
        background: #00000033;
        color: #fff;
        border: none;
        width: 30px;
        height: 30px;
        box-shadow: 0px 0px 5px #fff;
    }

    .videoProducts{
        padding: 20px;
        max-height: 450px;
        overflow: auto;

        .date{
            color: #5D5E5E;
        }

        .product_row{
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;
            gap: 10px;

            .product_item{
                width: 48%;
            }

            img{
                width: 100%;
                height: 150px;
                object-fit: contain;
                background: #f2f2f2;
                border-radius: 5px;
                margin-bottom: 5px;            
            }
        }
    }
}

@media screen and (max-width: 991px){
    .company_video .video_card {
        .video_img video{
            height: 225px;
        }
        .details .product_img{
            width: 50px;
        }
    }
}
@media screen and (max-width: 575px){
    .company_video .video_card {
        .video_img video{
            height: 150px;
        }
        .details{
            grid-template-columns: 100%;

            .product_img{
                display: none;
            }
        }
    }

    .videoModal{
        grid-template-columns: 100%;
        video{
            height: auto;
        }
    }
    
}