<!-- <div class="card card-delect-account">
  <div class="card-body">
    <h1>MyVerkoper</h1>
    <h2>Delete Buyer Account</h2>
    <section>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary">Primary</button>
      </form>
    </section>
  </div>
</div> -->
