.signup-latest-fields {
  display: flex;

  & .mat-mdc-form-field {
    width: 100%;
  }
  & label.label-name {
    min-width: 165px;
    display: flex;
    align-items: center;
    height: 43px;
  }
}
.main-section-s {
  width: 80%;
}
button.sign-up-vtwo {
  background: #02a8df !important;
  color: #fff !important;
  box-shadow: none !important;
  border-radius: 4px !important;
  margin-top: 10px;
}
.signup-latest-fields .mdc-text-field--outlined {
  height: 43px !important;
  overflow: visible;
}

.signUpbtn {
  position: absolute;
  right: 30px;
  top: 75px;
}
button.btn.signUpbtn {
  background: #eaf3ff !important;
  box-shadow: none !important;
  border-radius: 24px;
  text-transform: capitalize;
  padding-bottom: 0px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: #00b9f5;
}

.pointer {
  cursor: pointer;
}