.flex-list {
    width: 33.3%;

    &.gapflex {
        padding-right: 20px !important;
        padding-left: 20px !important;
        margin-bottom: 30px;
    }
}


.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.cardsWarp {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cardsWarp .itemBlocks {
    padding: 10px;
    width: 33%;
}

.custom-flexs-list {
    width: 100%;
    flex-wrap: wrap;

    & .card1 {
        width: 16.6%;
        padding: 0 12px
    }
}



.custom-flexs-list6 {
    width: 100%;
    flex-wrap: wrap;

    & .card1 {
        width: 16.66%;
        padding: 0 12px 24px 12px
    }
}

.page-wrap {
    padding-top: 62px
}

.flex-row-category {
    margin-bottom: 30px;

    & h2 {
        margin-bottom: 30px !important;
    }

}

.products-listing {
    display: inline-block;
    width: 150px;
    height: 20px;
}

.product-cards-list {
    width: 33%;
    padding-right: 10px
}

section.product-cards-list.second {
    width: 16.5%;
    padding: 0px;
    padding-left: 10px;
}

section.smart.second {
    border-radius: 20px;
    height: 256px;
}

section.smart.card-one {
    margin-top: 5px;
    height: 12px;
}

section.smart.card-c-one {
    margin-top: 5px;
    height: 25px;
}

section.smart.card-c-two {
    margin-top: 8px;
    height: 14px;
}

img.img-sidenavbar {
    width: 32px;
    float: left;
    margin-left: 15px;
    margin-right: 10px;
}

svg.arrow-rights-products.ng-star-inserted {
    float: right;
    fill: #848484;
    cursor: pointer;
}

.titlesec {
    padding-right: 20px;

    & a {
        float: right;
    }
}

h2 {
    margin-left: 10px;
}

app-multi-carousel {
    width: 100%;
}

@media screen and (max-width: 770px) {
.flex-wrap{ flex-direction: column; 
& .flex-list{ width: 100%;}
}
 .custom-flexs-list6 .card1{
width: 50%;padding: 0 10px 20px;
}

}