

button.manf-button.view-profile {
      background: #02a8df; color: #fff;
    
    font-size: 14px; font-weight: 500; height: 32px; box-shadow: none;
    margin-bottom: 20px; border-radius: 54px;
}

.supplier_btn{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

