<ng-container *ngIf="menuType == 'market'">
    <div *ngIf="!loader">
        <ng-container *ngTemplateOutlet="menuTemplate"> </ng-container>
    </div>

    <div *ngIf="loader">
        <ul class="menu loadmenu">
            <li class="smart text-1" *ngFor="let i of [0, 1, 2, 3, 4, 5,]"></li>
        </ul>
    </div>
</ng-container>

<ng-container *ngIf="menuType == 'mainmenu'">
    <div  class="mainmenuwrap">
        <h3 class="categoryName">
            All Categories
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
                <path d="m377 810-52-53 181-181-181-181 52-53 234 234-234 234Z" />
            </svg>
        </h3>
        <div class="menuwrapper">
            <ng-container *ngTemplateOutlet="menuTemplate"> </ng-container>
        </div>
    </div>
    <ul class="menu_list">
       
        <li class="pointer" routerLink="/about">About Us</li>
        <li class="pointer" routerLink="/blog">Blog</li>
        <!-- <li class="pointer" routerLink="/story">Story</li> -->
        <li class="pointer" routerLink="/contact">Contact Us</li>
    </ul>
</ng-container>




<ng-template #menuTemplate>
    <ul class="menu" *ngIf="menulist && menulist.length > 0">
        <ng-container *ngFor="let menu of menulist.slice(0, 6); let i = index;">
            <li>
                <a (click)="goTo('category',menu)" (mouseenter)="getMenuChildDetails(menu.category_id, i)"  class="mainmenu"><img [src]="menu.category_image" [alt]="menu.category_name"/>
                    {{ menu.category_name }}
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
                        <path d="m377 810-52-53 181-181-181-181 52-53 234 234-234 234Z" />
                    </svg>
                </a>
                <!--start mega drop-->
                <div class="megadrop" *ngIf="menu.with_l3.length > 0 || menu.without_l3.length > 0">
                    <div class="innermega" [ngClass]="getMainClass(menu)">
                        <!-- Start L2 with l3 categories-->
                        <div class="titlelist" *ngIf="menu.with_l3.length >= 1" [ngClass]="getClass(menu.with_l3)">
                            <ng-container *ngFor="let l2 of menu.with_l3">
                                <div class="listblock">
                                    <h4>{{ l2.category_name }}</h4>
                                    <ul class="sublistmenu">
                                        <ng-container *ngFor="let dat of l2.data">
                                            <li>
                                                <a class="pointer" (click)="goTo(linkTo,dat)" >{{ dat.category_name }} </a>
                                            </li>
                                        </ng-container>
                                        <ng-container *ngIf="l2.load_more">
                                            <li>
                                                <a class="view-more pointer" (click)="goTo('category',menu)"  >View More ></a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </ng-container>
                        </div>
                        <!-- End L2 categories-->
                        <ng-container *ngIf="menu.with_l3 && menu.with_l3.length < 7">                          
                            <!--<ng-container *ngFor="let item of myArray.filter(obj => obj.myProperty >= 10 && obj.myProperty <= 20)">
                                {{ item.propertyName }}
                            </ng-container> -->
                            <div class="onlytitles">
                                <!-- start l2 without l3-->
                                <ng-container *ngIf="menu.with_l3.length == 5 || menu.with_l3.length == 6">
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(0, 7)">
                                            <li>
                                                <a class="pointer" (click)="goTo(linkTo,l2)">{{l2.category_name }}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </ng-container>

                                <ng-container *ngIf="menu.with_l3.length == 3 || menu.with_l3.length == 4">
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(0, 7)">
                                            <li>
                                                <a class="pointer" (click)="goTo(linkTo,l2)">{{l2.category_name}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(8, 15)">
                                            <li>
                                                <a class="pointer" (click)="goTo(linkTo,l2)">{{l2.category_name}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </ng-container>

                                <ng-container *ngIf="menu.with_l3.length == 1 || menu.with_l3.length == 2">
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(0, 7)">
                                            <li>
                                                <a class="pointer" (click)="goTo(linkTo,l2)">{{l2.category_name}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(8, 15)">
                                            <li>
                                                <a class="pointer" (click)="goTo(linkTo,l2)">{{l2.category_name}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(16, 23)">
                                            <li>
                                                <a class="pointer" (click)="goTo(linkTo,l2)">{{l2.category_name}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </ng-container>

                                <ng-container *ngIf="menu.with_l3.length == 0">
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(0, 7)">
                                            <li>
                                                <a class="pointer" (click)="goTo(linkTo,l2)">{{l2.category_name}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(8, 15)">
                                            <li>
                                                <a class="pointer" (click)="goTo(linkTo,l2)">{{l2.category_name}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(16, 23)">
                                            <li>
                                                <a class="pointer" (click)="goTo(linkTo,l2)">{{l2.category_name}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                    <ul>
                                        <ng-container *ngFor="let l2 of menu.without_l3.slice(24, 31)">
                                            <li>
                                                <a class="pointer" (click)="goTo(linkTo,l2)">{{l2.category_name}}</a>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </ng-container>
                            </div>
                        </ng-container>
                        <!-- End l2 without l3-->


                       <div>
                        <a class="viewall" [routerLink]="['/category', menu.category_id]">View All</a>
                       </div>
                    </div>
                </div>
                <!-- end mega drop-->
            </li>
        </ng-container>

        <li *ngIf="false">
            <a class="mainmenu" (click)="categoryLink()">
                <!-- <img src="https://api.myverkoper.com/uploads/cat_subcat/16758517556duIOF.png" />Category -->
               <img class="all-category-img" src="assets/images/all-category.png" alt="All Categories" srcset="">All Categories
            </a>
        </li>
    </ul>
</ng-template>