
<!-- <section  [style.background]="classInfo.background_color"> -->
<section class="">
<div class="exclusive_bg main-container">
<section class="slider_bg_multi">
  <ng-container *ngIf="classInfo">
    <!-- <h2>{{ classInfo.title }}</h2> -->
    <h2 class="mainTitle" [style.color]="classInfo.title_color">{{ classInfo.sub_title }}</h2>
    <!-- <section class="bgimagewrapper" [ngClass]="productClass">
      <img [src]="classInfo.image" />
    </section> -->
  </ng-container>
  <owl-carousel-o #carousel
    [options]="customOptions"
    (initialized)="handleCarouselInit($event)"
    (translated)="handleCarouselTranslate($event)"
    (changed)="onCarouselChanged($event)"
    class="productscarousel"
  >
    <!-- <ng-template carouselSlide  class="mobileno" *ngIf="!isSmallScreen">
      <section class="card1 mobileno">
        <section class="img-category-slider"></section>
      </section>
    </ng-template>
    <ng-template carouselSlide class="mobileno" *ngIf="!isSmallScreen">
      <section class="card1 mobileno">
        <section class="img-category-slider"></section>
      </section>
    </ng-template> -->
    <ng-container *ngFor="let item of classes; let i = index">
      <ng-template carouselSlide>
        <section class="card1">
          <section class="img-category-slider">
            <!-- [ngClass]="{ 'scale-image': i === centerImageIndex }"  -->
            <a (click)="goTo(item.pk_class_id,item.class_name )">
              <img [src]="item.original_image" [appSafeImage]="'https://dev-api.myverkoper.com/assets/seller/images/mvk-no-image.png'" />
              <div class="img_content">
                <!-- [ngClass]="{ 'underline': i === centerImageIndex }" -->
                <h4 class="class-head" [style.color]="classInfo.title_color">{{ item.class_name }}</h4>
                <span class="img-content"  [style.color]="classInfo.sub_title_color"> {{item.description}} </span>
              </div>
            </a>
          </section>
        </section>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>
</div>
</section>