<mdb-carousel
  class="mdb-main"
  *ngIf="isImages"
  [controls]="false"
  [animation]="'slide'"
  data-mdb-items="1"
  [indicators]="true"
>
  <ng-container *ngFor="let img of imagesData">
    <mdb-carousel-item [interval]="4000">
      <img class="d-block w-100" mat-card-image [lazyLoad]="img.image || img" />
    </mdb-carousel-item>
  </ng-container>
</mdb-carousel>

<mdb-carousel
  *ngIf="!isImages && !signin"
  [controls]="true"
  [animation]="'slide'"
  data-mdb-items="5"
>
  <mdb-carousel-item [interval]="10000">
    <img
      src=""
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item [interval]="2000">
    <img
      src=""
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src=""
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="../../../../assets/images/banner-home.png"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
</mdb-carousel>

<!-- signin carousel not using-->
<mdb-carousel
  *ngIf="signin && imageData && false"
  [controls]="false"
  [animation]="'slide'"
  [indicators]="true"
  data-mdb-items="1"
  class="signincarousel"
  data-mdb-interval="false"
>
  <ng-container *ngIf="section == 1">
    <!-- <ng-container *ngFor="let image of imageData"> -->
      <mdb-carousel-item>
        <ng-lottie
          class="svg-animation"
          height="300px"
          [options]="options"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
        <h3>Sign in with Phone Number</h3>
        <p>This way You will Become MyVerkoper Buyer and gain access to the
          first-ever global B2B marketplace</p>
      </mdb-carousel-item>
    <!-- </ng-container> -->
  </ng-container>
  <ng-container *ngIf="section == 2">
    <mdb-carousel-item>
      <ng-lottie
        height="300px"
        [options]="option2"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
      <h3>Sign Up with email</h3>
      <p>
        Please Enter Your Email Address
      </p>
    </mdb-carousel-item>
  </ng-container>
  <ng-container *ngIf="section == 3">
    <mdb-carousel-item>
      <ng-lottie
        height="300px"
        [options]="option2"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
    </mdb-carousel-item>
  </ng-container>
  <ng-container *ngIf="section == 4">
    <mdb-carousel-item>
      <ng-lottie
        height="300px"
        [options]="options"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
      <h3>Update your Institute Details</h3>
      <p>
        This way You will Become MyVerkoper Buyer and gain access to the
        first-ever global B2B marketplace
      </p>
    </mdb-carousel-item>
  </ng-container>
</mdb-carousel>

<!-- signin carousel-->
<section *ngIf="signin && imageData" class="signincarousel">
  <ng-container *ngIf="section == 1">
    <!-- <ng-container *ngFor="let image of imageData"> -->
        <ng-lottie
          class="svg-animation"
          height="300px"
          [options]="options"
          (animationCreated)="animationCreated($event)"
        ></ng-lottie>
        <h3>Sign {{text}} with Phone Number</h3>
        <p>This way You will Become MyVerkoper Buyer and gain access to the
          first-ever global B2B marketplace</p>
    <!-- </ng-container> -->
  </ng-container>
  <ng-container *ngIf="section == 2">
      <ng-lottie
        height="300px"
        [options]="option2"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
      <h3>Sign Up with Personal Details </h3>
      <p>
        Please Enter Your Name and Email
      </p>
  </ng-container>
  <ng-container *ngIf="section == 3">
      <ng-lottie
        height="300px"
        [options]="option2"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
      <h3>Update your Institute Details</h3>
      <p>
        This way You will Become MyVerkoper Buyer and gain access to the
        first-ever global B2B marketplace
      </p>
  </ng-container>
  <!-- <ng-container *ngIf="section == 4">
      <ng-lottie
        height="300px"
        [options]="options"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
      <h3>Update your Institute Details</h3>
      <p>
        This way You will Become MyVerkoper Buyer and gain access to the
        first-ever global B2B marketplace
      </p>
  </ng-container> -->
</section>

