img {
  height: 100%;
  object-fit: contain;
}
.carousel-item {
  overflow: hidden;
}

.signincarousel h3 {
  color: #0172a8;
  font-size: 24px;
  text-align: center;
  margin: 0 0 15px 0;
  letter-spacing: -1px;
  font-weight: 500;
}
.signincarousel p {
  color: #333333;
  font-size: 12px;
  text-align: center;
}

.carousel-indicators {
  text-align: center;
  margin-top: 10px;
}

.mdb-main {
  & button:not(:disabled),
  [type="button"]:not(:disabled) {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
}

.carousel-indicators button.active {
  background-color: #333;
}

.lottie-img {
  div {
    width: 200px !important;
  }
}

@media only screen and (max-width: 600px) {
  ::ng-deep .svg-animation {
    div {
      width: 68% !important;
      height: 200px !important;
      margin: auto;
    }
  }
  .signincarousel h3 {
    font-size: 16px;
    line-height: 18px;
  }
}
