<app-pagination></app-pagination>

<section class="carosalsec">
  <app-school></app-school>
</section>
<section class="carosalsec">
  <app-tab-banner></app-tab-banner>
</section>
<section class="" style="width: 400px">
  <app-small-banner></app-small-banner>
</section>

<section class="" style="width: 100%">
  <app-banner-carousel></app-banner-carousel>
</section>
<section class="" style="width: 100%">
  <app-big-banner></app-big-banner>
</section>

<section class="carosalsec">
  <app-multi-banner></app-multi-banner>
</section>
<section class="" style="width: 100%">
  <app-grid-banner></app-grid-banner>
</section>

<router-outlet></router-outlet>
