<section class="chat-mainwrapper">
    <!-- Chat List -->
    <section class="chat-left-wrapper">   
      <section class="chat-list-card">
        <ul class="list-group">
          <li class="list-group-item active">
            <div class="img-media">
              <img [src]="this.assistDetails.assistPhoto || '../../../assets/images/user-avatar.png'" />
            </div>
            <div class="list-card-chat">
              <!-- <h4>{{ seller.userName == "" ? "No Name" : seller.userName }} </h4>  -->
              <p>{{ this.assistDetails.assistName }}
                <!-- <span *ngIf="seller.newMsgCount > 0"> {{seller.newMsgCount}} </span> -->
              </p>
              <span *ngIf="lastTime" class="last">{{lastTime | date}}</span>
            </div>
          </li>
        </ul>
      </section>
    </section>
  
    <!-- Chat Messages -->
    <section class="chat-middle-wrapper">
      <section class="chat-middle-inner">
        <section *ngIf="false" class="chat-top message">
          <h5>{{ chatName != '' ? chatName : "No Name" }}</h5>
          <span class="fa-users-fa pointer">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </section>
        <section #listContainer  class="chat-middle">
          <ng-container  *ngFor="let message of assistMessages">
            <div *ngIf="!message.from.includes('B_'); else buyer" class="chat-person-one">
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <div class="chat-imgg">
                    <img [src]=" assistDetails.assistPhoto ? assistDetails.assistPhoto : '../../../assets/images/user-avatar.png'" />
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="chat-profile-name">
                    {{ message.from }} {{ message.time | date }}
                  </span>
                  <p *ngIf="message.type != 'image'">{{ message.message }}</p>
                  <div *ngIf="message.type == 'image'" class="chat-image-avatar">
                    <img [src]="message.filePath" alt="" />
                  </div>
                </li>
              </ul>
            </div>
  
            <ng-template #buyer>
              <div class="chat-person-one second-person">
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item">
                    <div class="chat-imgg">
                      <img [src]=" profilePhoto  ? profilePhoto : '../../../assets/images/user-avatar.png' " />
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span  class="chat-profile-name">
                      {{ message.from }} {{ message.time | date }}
                    </span>
                    <p *ngIf="message.type != 'image'">{{ message.message }}</p>
                    <div *ngIf="message.type == 'image'" class="chat-image-avatar">
                      <img [src]="message.filePath" alt="" />
                    </div>
                  </li>
                </ul>
              </div>
            </ng-template>
          </ng-container>
        </section>
        <section class="chat-bottom">
          <emoji-mart class="emoji-mart"  *ngIf="showEmojiPicker" [showPreview]="false" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
          <section class="chat-icons">
            <a (click) ="toggleEmojiPicker()"> <img src="../../../../assets/svg/smiley.svg" title="Emoji" alt="" /></a>          
            <label class="upload">
              <span class="files">
                <img title="Select Image" src="../../../../assets/svg/image.svg" alt="" />
              </span>
              <input  type="file" accept="image/*" (change)="onFileSelected($event)" />
            </label>
          </section>
          <textarea [(ngModel)]="message" (keydown.enter)="sendAssist($event)" class="form-control border-0 no-drag"
            placeholder="Please type your message your" id="exampleFormControlTextarea1" rows="2"></textarea>
          <button [disabled]="!message" (click)="sendAssist()" class="btn btn-primary btn-send-chat">
            Send
          </button>
        </section>
      </section>
      <section *ngIf="assistMessages.length == 0" class="no-data">
        <app-nodata [errorMsg]="'No Chats Found'" ></app-nodata>
      </section>
    </section>
  </section>