// mat-chip-option{ background: none !important; color: #000 !important;}
.hometabs.product-manf {
  display: flex;
  justify-content: center;
}
.smart.mat-mdc-standard-chip .mdc-evolution-chip__action--primary{
  padding-right: 0;
}