.card.card-delect-account {
  box-shadow: none;
  width: 50%;
  margin: auto;
  margin-top: 60px;
  padding: 20px;
  & h1 {
    text-align: center;
    font-weight: 600;
  }
  & h2 {
    text-align: center;
    font-weight: 400;
  }
}

button.sen-otp-button {
  background: #00aafb !important;
  float: right;
  padding: 24px;
}

::ng-deep label.mdc-floating-label.mat-mdc-floating-label {
  color: #717171 !important;
  font-size: 14px;
}

::ng-deep .mdc-text-field--filled {
  background-color: whitesmoke;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
}
button.button-send-req {
  background: #00aafb;
  padding: 25px;
  box-shadow: none;
}

.sen-otp-button:disabled{ color: #fff;
  opacity: 0.5;}