<div class="card card-delect-account">
  <div class="card-body">
    <h1>MyVerkoper</h1>
    <h2>Delete Buyer Account</h2>
    <section>
      <form [formGroup]="form">
        <mat-form-field appearance="outline" style="width: 70%">
          <mat-label> Mobile number </mat-label>
          <input type="number" required formControlName="phone" matInput />
        </mat-form-field>
        <button (click)="sendOtp(form)" [disabled]="form.invalid" mat-raised-button class="sen-otp-button" color="primary">
          Send OTP
        </button>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> Verify OTP </mat-label>
          <input type="number"  formControlName="phone_otp" matInput  />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label> Enter reason here ... </mat-label>
          <textarea formControlName="reason" matInput></textarea>
        </mat-form-field>
        <br />

        <button (click)="buyerAccountDelete(form)" class="button-send-req" mat-raised-button color="primary">
          Send Request
        </button>
      </form>
    </section>
  </div>
</div>
