<form [formGroup]="myForm">
    <!-- Sending Otp Field -->
    <section class="flex-row-sign">
        <section class="mobilefiled emailfield">
            <mat-form-field appearance="outline" class="smallfiled noborders mobilenumberfield">
                <input maxlength="64" (input)="onPhoneNumberChange()" [readonly]="otpStatus" matInput type="text" placeholder="Email" formControlName="email" />
                <div *ngIf="email.touched" class="validators">
                    <div *ngIf="email.errors?.required">Email is required</div>
                    <div *ngIf="email.errors?.email">Email must be valid </div>
                </div>
            </mat-form-field>
        </section>
        <section class="otpbtnsec">
            <button *ngIf="!hideSendotp" [disabled]="email.invalid" mat-stroked-button class="otpbtn "
                (click)="checkBuyerAccountEmail()" type="submit">
                Send OTP
            </button>
        </section>
    </section>

    <!-- Otp Validating Field -->
    <section *ngIf="otpStatus">
        <p class="smalltxt marT20">
            We have sent an otp to <strong>{{ myForm.controls["email"].value }} </strong>
            <a (click)="notYou()">Not You?</a>
        </p>

        <section class="flex-row-sign">
            <section class="mobilefiled otpfiled" [ngClass]="verified ? 'verified': ''">
                <mat-form-field appearance="outline" class="smallfiled noborders mobilenumberfield">
                    <input matInput type="text" maxlength="4" placeholder="Enter OTP" formControlName="otp" />
                    <mat-error *ngIf="otp.hasError('required') && otp.touched">
                        OTP is required
                    </mat-error>
                </mat-form-field>
            </section>
            <section class="otpbtnsec">
                <button mat-stroked-button class="my-button otpbtn" (click)="signUP()" type="submit">
                    Verify
                </button>
            </section>
        </section>

        <!-- Otp field -->
        <p class="smalltxt marT20">
            Didn't Recieve OTP?
            <button mat-button class="pointer bluelink" [disabled]="!isResending" (click)="resendOtp()">
                Resend Now. <span class="timer" *ngIf="!isResending">00: {{ countDown$ | async }} </span>
            </button>
        </p>
    </section>
</form>