<section class="datawrapsignin signformwrapper">
  <ng-container *ngIf="!isForgotPassword">
    <!-- login form -->
    <form [formGroup]="loginForm">
      <h3 class="formTitles">Sign In for the best experience</h3>
      <p class="logslogan">
        You can update or remove your account at any time.
      </p>

      <!-- Sign in with mobile -->
      <ng-container *ngIf="onlymobile">
        <!-- start mobile otp -->
        <section class="flex-row-sign">
          <section class="mobilefiled" [ngClass]="{'me-0 me-md-4': !mpwd}">
            <mat-form-field
              appearance="outline"
              class="flagfield countrycode smallfiled noborders"
            >
              <mat-select
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="selectedOption"
                (selectionChange)="onImageSelect($event, flag)"
              >
                <mat-option
                  class="flagoptions"
                  *ngFor="let image of images"
                  [value]="image.url"
                >
                  <span class="flag-icon"><img [src]="image.url" /></span>
                  {{ image.label }}
                </mat-option>
              </mat-select>
              <span matTextPrefix
                ><img #flag
                  class="selectedImg"
                  [src]="images[0].url"
              /></span>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              class="smallfiled noborders"
            >
              <!-- <mat-label>Mobile Number</mat-label> -->
              <input
                (input)="limitCharacters('mob_email', 10, $event)"
                matInput
                type="number"
                appAllowNumbersOnly
                autocomplete="off"
                formControlName="mob_email"
                [readonly]="isOtpDisabled"
              />
              <!-- <mat-error> Required</mat-error> -->
            </mat-form-field>
          </section>
          <section class="otpbtnsec" *ngIf="!mpwd">
            <button
              [disabled]="isOtpDisabled || mobEmail.invalid"
              type="button"
              class="stroked_btn"
              (click)="sendLoginOtp()"
              >
              <ng-container *ngIf="!otpLoading; else spin">
                Send OTP
              </ng-container>
              <ng-template #spin>
                <mat-spinner></mat-spinner>
              </ng-template>
            </button>
          </section>
        </section>
        @if(numberError) {
          <div class="text_error">{{errorTxt}}</div>
        }

        <!-- once otp sent -->
        <ng-container *ngIf="otpSent && !mpwd">
          <p class="smalltxt marT20">
            We have sent an OTP to
            <b>{{ this.loginForm.get("mob_email")?.value }}</b>
          </p>
          <p><a class="text_btn" (click)="mobilepwd()">Not You?</a></p>
          <section class="flex-row-sign">
            <section class="mobilefiled me-md-4 me-0">
              <mat-form-field
                appearance="outline"
                class="smallfiled noborders"
              >
                <input
                  class="valid-input"
                  [ngClass]="{ 'valid-input': otpValid }"
                  matInput
                  type="text"
                  appAllowNumbersOnly
                  placeholder="OTP"
                  formControlName="otp"
                  maxlength="4"
                  />
                  <!-- (input)="limitCharacters('otp', 4, $event)" -->
                <mat-icon matSuffix *ngIf="otpValid"
                  >check_circle_outline</mat-icon
                >

                <!-- <mat-error>Required</mat-error> -->
              </mat-form-field>
            </section>

            <section class="otpbtnsec">
              <button
                [disabled]="otp.invalid"
                *ngIf="showLogin"
                class="stroked_btn"
                (click)="verifyOtp()"
              >
                Verify
              </button>
            </section>
          </section>

          <p class="smalltxt marT20">
            Didn't Recieve OTP?
            <button mat-button class="pointer bluelink" [disabled]="!isResending" (click)="sendLoginOtp()">
              Resend Now. <span class="timer" *ngIf="!isResending"> 00:  {{ countDown$ | async }} </span>
            </button>
            <!-- <button
              mat-button
              class="pointer bluelink"
              [disabled]="!resendEnable"
              (click)="sendLoginOtp()"
            >
              Resend Now
            </button> -->
            <!-- <span class="timer" *ngIf="!resendEnable">{{ otpTimer }}</span> -->
          </p>
        </ng-container>
        <!-- once otp sent -->

        <ng-container *ngIf="mpwd">
          <mat-form-field class="w-100 marT20 smallfiled" appearance="outline">
            <!-- <mat-label>Password</mat-label> -->
            <input
              matInput
              [type]="newPasshide ? 'password' : 'text'"
              placeholder="Password"
              formControlName="password"
            />
            <button mat-icon-button matSuffix type="button" (click)="newPasshide = !newPasshide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasshide">
              <mat-icon>{{
                newPasshide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <!-- <mat-error>This field is required</mat-error> -->
          </mat-form-field>
          <section class="btnswrap pt-0 mb-4">
            <div><a *ngIf="!otpSent" class="text_btn" (click)="swithtotab('email')"
              >Sign In With Email</a></div>
            <div>
              <a (click)="forgotPwd()">Forgot Password</a>
            </div>
        </section>
          <!-- <button
            type="submit"
            class="primary_btn py-2"
            (click)="siginwithpassword()"
          >
            Sign In
          </button> -->
        </ng-container>
        <!-- end mobile otp -->
        
        <section class="pt-4 d-flex align-items-center justify-content-between">
          <div><a
            class="signin-button text_btn"
            (click)="signinWithMobilePassword()"
            >{{ otpText }}</a>
          </div>
          <button *ngIf="mpwd"
            type="submit"
            class="primary_btn py-2"
            (click)="siginwithpassword()">
            Sign In
          </button>
        </section>
        <div *ngIf="!mpwd" class="mt-2"><a *ngIf="!otpSent" class="text_btn" (click)="swithtotab('email')"
          >Sign In with Email</a></div>
      </ng-container>

      <!-- Sign in with email -->
      <ng-container *ngIf="!onlymobile">
        <!-- start mobile otp -->
        <section class="flex-row-sign">
          <section class="mobilefiled emailfield" [ngClass]="{'me-0 me-md-4': !epwd}">
            <mat-form-field
              appearance="outline"
              class="smallfiled noborders"
            >
              <!-- <mat-label>Email</mat-label> -->
              <input
                matInput
                type="text"
                placeholder="Email"
                formControlName="mob_email"
                (input)="limitCharacters('mob_email', 64, $event)"
                [readonly]="isOtpDisabled"
              />
            </mat-form-field>
          </section>
          <section class="otpbtnsec" *ngIf="!epwd">
            <button
              [disabled]="isOtpDisabled || mobEmail.invalid"
              type="button"
              class="stroked_btn"
              (click)="sendLoginOtpV2()"
            >
              Send OTP
            </button>
          </section>
        </section>

        <!-- once otp sent -->
        <ng-container *ngIf="otpSent && !epwd">
          <p class="smalltxt marT20">
            We have sent an OTP to
            <b>{{ this.loginForm.get("mob_email")?.value }} </b>
          </p>
          <p><a class="text_btn" (click)="emailpwd()">Not You?</a></p>

          <section class="flex-row-sign">
            <section class="mobilefiled me-md-4 me-0">
              <mat-form-field
                appearance="outline"
                class="smallfiled noborders"
              >
                <input
                  class="valid-input"
                  [ngClass]="{ 'valid-input': otpValid }"
                  matInput
                  type="text"
                  placeholder="OTP"
                  formControlName="otp"
                  maxlength="4"
                  appAllowNumbersOnly
                />
                <mat-icon matSuffix *ngIf="otpValid"
                  >check_circle_outline</mat-icon
                >
              </mat-form-field>
            </section>
            <section class="otpbtnsec">
              <button
                [disabled]="otp.invalid"
                *ngIf="showLogin"
                class="stroked_btn"
                (click)="verifyOtp()"
              >
                Verify
              </button>
            </section>
          </section>

          <p class="smalltxt marT20">
            Didn't Recieve OTP?
            <button mat-button class="pointer bluelink" [disabled]="!isResending" (click)="sendLoginOtp()">
              Resend Now. <span class="timer" *ngIf="!isResending"> 00:  {{ countDown$ | async }} </span>
            </button>
            <!-- <button
              mat-button
              class="pointer bluelink"
              [disabled]="!resendEnable"
              (click)="sendLoginOtp()"
            >
              Resend Now
            </button>
            <span>{{ otpTimer }}</span> -->
          </p>
        </ng-container>
        <!-- once otp sent -->

        <ng-container *ngIf="epwd">
          <mat-form-field class="w-100 marT20 smallfiled" appearance="outline">
            <!-- <mat-label>Password</mat-label> -->
            <input
              matInput
              [type]="newPasshide ? 'password' : 'text'"
              placeholder="Password"
              formControlName="password"
            />
            <button mat-icon-button matSuffix type="button" (click)="newPasshide = !newPasshide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasshide">
              <mat-icon>{{
                newPasshide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <section class="btnswrap pt-0 mb-4">
              <div>
                <a *ngIf="!otpSent" class="signin-button text_btn" (click)="swithtotab('mobile')">Sign In With Mobile</a>
              </div>
              <div>
                <a (click)="forgotPwd()">Forgot Password</a>
              </div>
          </section>
        </ng-container>
        <!-- end mobile otp -->

        <!-- <ng-container *ngIf="epwd">
          <section class="pt-4 d-flex align-items-center justify-content-between">
            <div><a class="signin-button text_btn" (click)="switchtoemailotp()">{{
              otpText
            }}</a>
            </div>
            <button type="submit" class="primary_btn" (click)="siginwithpassword()"> Sign In</button>
          </section>
        </ng-container> -->

        <section class="pt-4 d-flex align-items-center justify-content-between">
          <div><a
            class="signin-button text_btn"
            (click)="switchtoemailotp()"
            >{{ otpText }}</a>
          </div>
          <button *ngIf="epwd"
            type="submit"
            class="primary_btn py-2"
            (click)="siginwithpassword()">
            Sign In
          </button>
        </section>
        <div *ngIf="!epwd" class="mt-2"><a *ngIf="!otpSent" class="text_btn" (click)="swithtotab('mobile')"
          >Sign In with Mobile</a></div>
      </ng-container>
    </form>

    <section class="bottompart">
      <section class="breakline"><span>OR</span></section>

      <section class="socail_icons">
        <ng-container *ngFor="let data of socialLogins">
          <a *ngIf="data.name == 'Facebook' && data.wen" (click)="signInWithFacebook()" class="fb-icon">
          </a>
          <a *ngIf="data.name == 'Google' && data.wen" (click)="signInWithGoogle()" class="gmail-icon"> </a>
        </ng-container>
      </section>

      <div class="row" *ngIf="msg">
        <div class="col-md-12">
          <p class="smalltxt text-center marT10 marB20">{{ msg }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="smalltxt text-center marT10">
            Don't you have an account?
            <a (click)="signUpClicked()"> Signup</a>
          </p>
        </div>

        <!-- <a (click)="loginWithGoogle()">google </a> -->

        <!-- </div> -->
      </div>
    </section>
  </ng-container>

  <!-- forgot password-->
  <section *ngIf="isForgotPassword">
  <form [formGroup]="forgotForm" *ngIf="!showPasswordResetSuccess">
    <h3 class="formTitles">Retrieve your password</h3>
    <p class="logslogan">You can update your new password to login to your account</p>
    <div class="row">
      <section class="flex-row-sign">
        <section class="mobilefiled me-md-4 me-0">
          <mat-form-field appearance="outline" class="flagfield countrycode smallfiled noborders">
            <mat-select [ngModelOptions]="{ standalone: true }" [(ngModel)]="selectedOption" (selectionChange)="onImageSelect($event, flag)">
              <mat-option class="flagoptions" *ngFor="let image of images" [value]="image.url" >
                <span class="flag-icon"><img [src]="image.url" /></span>
                {{ image.label }}
              </mat-option>
            </mat-select>
            <span matTextPrefix
              ><img #flag
                class="selectedImg"
                [src]="images[0].url"
            /></span>
          </mat-form-field>
          <mat-form-field appearance="outline" class="smallfiled noborders">
            <input [readonly]="isOtpDisabled" matInput type="text" appAllowNumbersOnly autocomplete="off" formControlName="mobile" maxlength="10"/>
          </mat-form-field>
        </section>
        <section class="otpbtnsec">
          <button (click)="checkForgetOtp()" [disabled]="isOtpDisabled" type="button" class="stroked_btn">
            <ng-container *ngIf="!otpLoading; else spin">
              Send OTP
            </ng-container>
            <ng-template #spin>
              <mat-spinner></mat-spinner>
            </ng-template>
          </button>
        </section>
      </section>
      @if(forgetNumberError) {
        <div class="text_error">{{forgetErrorTxt}}</div>
      }

      <!-- once otp sent -->
      <ng-container *ngIf="forgetOtpSent">
        <p class="smalltxt marT20">
          We have sent an OTP to
          <b>{{ this.forgotForm.get("mobile")?.value }} </b>
        </p>
        <p *ngIf="!isFOtpVerified"><a class="text_btn" (click)="forgetNotYou()">Not You?</a></p>

        <section class="flex-row-sign">
          <section class="mobilefiled me-md-4 me-0">
            <mat-form-field
              appearance="outline"
              class="smallfiled noborders"
            >
              <input [readonly]="isFOtpVerified" class="valid-input" [ngClass]="{ 'valid-input': isFOtpVerified }" matInput type="text" maxlength="4" appAllowNumbersOnly placeholder="OTP" formControlName="otp" />
              <!-- <mat-icon matSuffix *ngIf="otpValid">check_circle_outline</mat-icon -->
            </mat-form-field>
          </section>
          <section class="otpbtnsec">
            <button
              [disabled]="fotp.invalid || isFOtpVerified"
              *ngIf="showLogin"
              class="stroked_btn"
              (click)="verifyForgetOtp()"
            >
              Verify
            </button>
          </section>
        </section>

        <p *ngIf="!isFOtpVerified" class="smalltxt marT20">
          Didn't Recieve OTP?
          <button mat-button class="pointer bluelink" [disabled]="!isResending" (click)="checkForgetOtp()">
            Resend Now. <span class="timer" *ngIf="!isResending"> 00:  {{ countDown$ | async }} </span>
          </button>
          <!-- <button
            mat-button
            class="pointer bluelink"
            [disabled]="!resendEnable"
            (click)="sendLoginOtp()"
          >
            Resend Now
          </button>
          <span>{{ otpTimer }}</span> -->
        </p>
      </ng-container>
      <!-- once otp sent -->
      
      <!-- <section class="flex-row-sign">
        <section class="mobilefiled emailfield me-3">
          <mat-form-field
            appearance="outline"
            class="smallfiled noborders"
          >
            <mat-label>Mobile</mat-label>
            <input
              matInput
              [(ngModel)]="forgotPasswordDetails.mobile"
              type="text"
              autocomplete="off"
              formControlName="mobile"
            />
            <mat-error *ngIf="forgotForm.get('mobile')?.touched || forgotForm.get('mobile')?.errors?.['required']">
              This field is required
            </mat-error>
          </mat-form-field>
        </section>
        <section class="otpbtnsec">
          <button
            type="button"
            class="stroked_btn"
            [disabled]="forgetResending"
            (click)="sendForgotOtp()"
          >
          <ng-container *ngIf="!forgetResending; else timing">Send Otp</ng-container> <ng-template #timing> {{countDown$ | async}} </ng-template>
          </button>
        </section>
      </section> -->
      <!-- <div class="col-md-12 marT20">
        <mat-form-field appearance="outline" class="w-100 smallfiled">
          <mat-label>Enter OTP</mat-label>
          <input
            matInput
            [(ngModel)]="forgotPasswordDetails.otp"
            type="number"
            autocomplete="off"
            formControlName="otp"
          />
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div> -->
      <ng-container *ngIf="isFOtpVerified">
      <div class="col-md-12 mt-4">
        <label class="form_label">New Password</label>
        <mat-form-field appearance="outline" class="w-100 smallfiled">
          <!-- <mat-label>New password</mat-label> -->
          <!-- [(ngModel)]="forgotPasswordDetails.newPassword" -->
          <input matInput (input)="checkPasswordMatch()" [type]="newPasshide ? 'password' : 'text'" autocomplete="off" formControlName="newPassword"
          />
          <button mat-icon-button matSuffix type="button" (click)="newPasshide = !newPasshide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasshide">
            <mat-icon>{{
              newPasshide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="newPassword?.touched && newPassword?.errors?.['minlength']">Password must be 8 characters length</mat-error>
        </mat-form-field>
      </div> <br>
      <div class="col-md-12 marT10">
        <label class="form_label">Confirm Password</label>
        <mat-form-field appearance="outline" class="w-100 smallfiled">
          <!-- [(ngModel)]="forgotPasswordDetails.confirmPassword" -->
          <input matInput (input)="checkPasswordMatch()" type="password" autocomplete="off" formControlName="confirmPassword"/>
        </mat-form-field>
        <p *ngIf="!passwordMatch">Passwords do no match</p>
      </div>
      <div class="col-md-12">
        <button
          [disabled]="!forgotForm.valid || !passwordMatch"
          type="submit"
          class="primary_btn py-2"
          (click)="createPassword()"
        >
          Reset Password
        </button>
      </div>
      </ng-container>
    </div>
  </form>

  <section class="success_password" *ngIf="showPasswordResetSuccess">
    <h3 class="formTitles">Successful Password reset!</h3>
    <p class="logslogan">You can now use your new password to login to your account</p>
    <button (click)="loginafterReset()" class="primary_btn py-2">Login</button>
  </section>
</section>
</section>