<section style="text-align: center;padding: 100px;font-size: 28px;line-height: 35px;"> Coming Soon</section>
<section *ngIf="false">
  <div class="container-fluid myprofile-header">
    <div class="row">
      <div class="col-lg-6">
        <section class="media-bar-section">
          <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg" />
          <section>
            <h3> George Clooney </h3>
            <a> My Profile </a>
          </section>
        </section>
      </div>
      <div class="col-lg-6">
        <section class="account-scoress">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
              <h1> 11 </h1>
              <p> Business card requests </p>
            </li>
            <li class="list-group-item">
              <h1> 2 </h1>
              <p> Favorites </p>
            </li>
            <li class="list-group-item">
              <h1> 1 </h1>
              <p> My Coupons </p>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <section>
    <div class="row card-account">
      <div class="col-lg-6">
        <div class="card mb-3 card-accounts-crd">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyvfXD6aHSchHv6_yrD1WQgq460Ph5xElTjdQu46fY&s"
                alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body">

                <p> Your Buyers Club benefit </p>
                <p class="card-text">This is a wider lead-in to additional content. This content is a little bit longer.
                </p>

              </div>
            </div>
            <div class="col-lg-3">
              <button class="button-benefits" mat-raised-button color="primary">Primary</button>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-3 card-accounts-crd">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyvfXD6aHSchHv6_yrD1WQgq460Ph5xElTjdQu46fY&s"
                alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body">

                <p> Your Buyers Club benefit </p>
                <p class="card-text">This is a wider lead-in to additional content. This content is a little bit longer.
                </p>

              </div>
            </div>
            <div class="col-lg-3">
              <button class="button-benefits" mat-raised-button color="primary">Primary</button>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-3 card-accounts-crd">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyvfXD6aHSchHv6_yrD1WQgq460Ph5xElTjdQu46fY&s"
                alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body">

                <p> Your Buyers Club benefit </p>
                <p class="card-text">This is a wider lead-in to additional content. This content is a little bit longer.
                </p>

              </div>
            </div>
            <div class="col-lg-3">
              <button class="button-benefits" mat-raised-button color="primary">Primary</button>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-3 card-accounts-crd">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyvfXD6aHSchHv6_yrD1WQgq460Ph5xElTjdQu46fY&s"
                alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body">

                <p> Your Buyers Club benefit </p>
                <p class="card-text">This is a wider lead-in to additional content. This content is a little bit longer.
                </p>

              </div>
            </div>
            <div class="col-lg-3">
              <button class="button-benefits" mat-raised-button color="primary">Primary</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card-account">
      <div class="col-lg-12">
        <div class="card mb-3 card-accounts-crd">
          <div class="col-lg-12">
            <section class="my-order-heading">
              <h3> My Orders </h3>
            </section>
          </div>
          <div class="row no-gutters">

            <div class="col-md-12">

              <div class="card-body card-body-accounts">
                <h3> No order Yet</h3>
                <p class="card-text">
                  Get US $10 off your first order over US $100 with a new supplier
                </p>
                <button mat-raised-button color="primary">Primary</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row card-account">
      <div class="col-lg-12">
        <div class="card mb-3 card-accounts-crd">

          <div class="row no-gutters">

            <div class="col-md-12">

              <div class="card-body card-body-accounts">

                <h3> Stay connected and competitive! </h3>
                <p class="card-text card-tw">
                  Get US $10 off your first order over US $100 with a new supplier
                </p>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row card-account">
      <div class="col-lg-12">
        <div class="card mb-3 card-accounts-crd">
          <div class="col-lg-12">
            <section class="my-order-heading">
              <h3> My Orders </h3>
            </section>
          </div>
          <div class="row no-gutters">

            <div class="col-md-12">

              <div class="card-body card-body-accounts">
                <h3> No order Yet</h3>
                <p class="card-text">
                  Get US $10 off your first order over US $100 with a new supplier
                </p>
                <button mat-raised-button color="primary">Primary</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</section>