<!-- <p class="all_cat">All Categories</p> -->

<div class="menu">
    <ul class="left_menu">
        <li class="all_cat" (mouseenter)="open()" (mouseleave)="close()">
            <!-- <svg class="tnh-icon" aria-hidden="true"><use xlink:href="#icon-category"></use></svg> -->
            <div class="nav_title">All Categories</div>
        </li>
        <!-- <li class="pointer" routerLink="/about">About Us</li>
        <li class="pointer" routerLink="/blog">Blog</li>
        <li class="pointer" routerLink="/story">Story</li>
        <li class="pointer" routerLink="/contact">Contact Us</li> -->
    </ul>
    <ul class="right_menu">
        <li class="buyer_hub_title">
            <div class="nav_title">Buyer Hub</div>
            <section class="buyer_hub">
                <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12">
                    <h1 class="title">Get Started</h1>
                    <ul class="list">
                        <li class="pointer">
                            <a routerLink="/about">What is MyVerkoper.com</a>
                        </li>
                    </ul>
                    </div>
                    <div class="col-lg-3 col-12">
                    <h1 class="title">Why MyVerkoper.com</h1>
                    <ul class="list">
                        <li>How sourcing works</li>
                    </ul>
                    </div>
                    <div class="col-lg-3 col-12">
                    <h1 class="title">Resources</h1>
                    <ul class="list">
                        <li class="pointer"  >
                            <a routerLink="/blog">Blogs</a>
                        </li>
                        <li class="pointer">
                            <a routerLink="/story">Stories</a>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </section>
        </li>
        <li class="get_app_title">
            <div class="nav_title">Get the App</div>
            <section class="get_app">
                <div class="row align-items-center justify-content-center">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="app_linfo">
                    <h1 class="title">Get to MyVerkoper.com app</h1>
                    <p>Discover a vast range of products on the MyVerkoper.com app, your gateway to school supplies anytime, anywhere. Effortlessly communicate with suppliers. Elevate your buying experience with MyVerkoper.com, where convenience meets professional service.</p>
                    <!-- <button class="underline_btn">Learn More</button> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-12">
                    <div class="app_rinfo">
                    <div class="store_btns">
                        <a href="https://apps.apple.com/in/app/myverkoper-b2b-edu-marketplace/id6455027193" target="_blank">
                            <img src="/assets/images/ios_store.png">
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.buyer.myverkoper&hl=en_IN&gl=US" target="_blank">
                            <img src="/assets/images/play-store-01.png">
                        </a>
                    </div>
                    <div class="qr_img">
                        <img src="/assets/images/qr.png">
                    </div>
                    </div>
                </div>
                </div>
            </section>
        </li>
        <li><a [href]="sellerUrl" target="_blank" rel="noopener noreferrer"><span class="nav_title">Become supplier</span></a> </li>
    </ul>
</div>

<!-- Mobile Menu -->
<div class="offcanvas offcanvas-start mobile_menu" tabindex="-1" id="headerMenu"
    aria-labelledby="headerMenuLabel">
    <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- <div class="profile_icon" *ngIf="islog">
            @if (profilePhoto !== '') {
                <img [src]="profilePhoto" class="avatar-img" onerror="this.src='https://api.myverkoper.com/assets/seller/images/mvk-no-image.png'">
              } @else {
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 30 30" fill="none">
                  <path d="M15 2.5C8.1 2.5 2.5 8.1 2.5 15C2.5 21.9 8.1 27.5 15 27.5C21.9 27.5 27.5 21.9 27.5 15C27.5 8.1 21.9 2.5 15 2.5ZM15 7.5C17.4125 7.5 19.375 9.4625 19.375 11.875C19.375 14.2875 17.4125 16.25 15 16.25C12.5875 16.25 10.625 14.2875 10.625 11.875C10.625 9.4625 12.5875 7.5 15 7.5ZM15 25C12.4625 25 9.4625 23.975 7.325 21.4C9.51451 19.6822 12.217 18.7485 15 18.7485C17.783 18.7485 20.4855 19.6822 22.675 21.4C20.5375 23.975 17.5375 25 15 25Z" fill="#B0B0B0"/>
                </svg>
              } 
            <div class="ps-3">
                <h3> {{displayName}} </h3>
            </div>
        </div>     -->
        <ul class="menu_list">
            <li routerLink="">
                <span class="ps-2">Home</span>
            </li>
            <li type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="all_cat active" routerLink="/category/all">
                <span class="ps-2">All Categories</span>
            </li>
            <!-- <li type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="pointer" routerLink="/about">
                <span class="ps-2">About Us</span>
            </li> -->
            <li>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Buyer Hub
                                <span class="dropdown_icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                                        <path d="M16.9316 20.2781L12.8796 16.2506C12.8293 16.2005 12.7859 16.1457 12.7495 16.0862C12.713 16.0269 12.6948 15.9581 12.6948 15.8798C12.6948 15.7235 12.7428 15.5908 12.8388 15.4817C12.9348 15.3726 13.0613 15.318 13.2183 15.318H21.7816C21.9387 15.318 22.0652 15.374 22.1612 15.4861C22.2572 15.5979 22.3052 15.7283 22.3052 15.8773C22.3052 15.9147 22.2434 16.0393 22.12 16.251L18.087 20.2785C18.0048 20.3607 17.913 20.426 17.8117 20.4747C17.7103 20.5233 17.6064 20.5476 17.5 20.5476C17.3935 20.5476 17.2896 20.5233 17.1883 20.4747C17.0869 20.426 17.0013 20.3605 16.9316 20.2781Z" fill="#5F6368"/>
                                    </svg>
                                </span>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                   <li data-bs-dismiss="offcanvas" aria-label="Close" class="pointer" routerLink="/about">What is MyVerkoper.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a [href]="sellerUrl" target="_blank" rel="noopener noreferrer">
                <span class="ps-2">Become Supplier</span>
            </a></li>
            <li type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="pointer" routerLink="/blog">
                <span class="ps-2">Blogs</span>
            </li>
            <li type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="pointer" routerLink="/story">
                <span class="ps-2">Stories</span>
            </li>
            <li type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="pointer" routerLink="/contact">
                <span class="ps-2">Contact Us</span>
            </li>
        </ul>
    </div>
</div>

 <!-- Desktop View -->
 <div class="nav_dd" [ngClass]="{'active': isOpen}" (mouseenter)="open()" (mouseleave)="close()">
    <section class="nav_cat">
        <div class="row">
            <ng-container *ngIf="!loader">
                <div class="col-sm-4">
                    <ul class="nav_catli">
                        <ng-container *ngFor="let cat of menulist">
                            <a>
                                <li [class.hover]="cat.room_name == room_name"
                                    (mouseover)="fillSubCatList(cat.category, cat.room_name)">{{cat.room_name}}</li>
                            </a>
                        </ng-container>
                        <!-- <a href="#"><li>Home Decor</li></a> -->
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul *ngIf="subCatList.length > 0" class="nav_catli underline">
                        <ng-container *ngFor="let cat of subCatList">
                            <a class="pointer">
                                <li (click)="goTo('category', cat.cat_id, cat.cat_name)"
                                    [class.hover]="cat.cat_name == sub_cat_name"
                                    (mouseover)="fillLeastCatList(cat.sub_cat, cat.cat_name, cat.cat_id)">
                                    <img [src]="cat.icon">
                                    {{cat.cat_name}}
                                </li>
                            </a>
                        </ng-container>
                        <!-- <a href="#"><li>Consumer Electronics</li></a>-->
                    </ul>
                </div>
                <div class="col-sm-4">
                    <a class="pointer" (click)="goTo('category', sub_cat_id, sub_cat_name)">
                        <p class="nav_subcat_title">{{sub_cat_name}} <i class="fa fa-angle-right"></i></p>
                    </a>
                    <div *ngIf="leastCatList.length > 0" class="row">
                        <div *ngFor="let cat of leastCatList.slice(0,5)" class="col-sm-4">
                            <div (click)="goTo('products', cat.sub_cat_id, cat.cat_name)" class="nav_subcat_list pointer">
                                <img [src]="cat.cat_img" />
                                <p>{{cat.cat_name}}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                    <div class="pt-4 text-center">
                        <button class="more_btn" (click)="goTo('category', sub_cat_id, sub_cat_name)">More</button>
                    </div>
                </div>
                        <!-- <div class="col-sm-4">
                    <div class="nav_subcat_list">
                        <img src="https://mvk-qa-laravel-media.s3.ap-south-1.amazonaws.com/seller_account/200/product_images/1619271018XONfME.jpg"/>
                        <p> Used Phones</p>
                    </div>
                </div>-->
                    </div>
                </div>
            </ng-container>
            <!-- Loader -->
            <ng-container *ngIf="loader">
                <section class="flex-wrap col-sm-4">
                    <section *ngFor="let i of [0,0,0,0]" class="loader-wrap-2">
                    <section><span class="smart titletext"></span></section>
                    </section>
                </section>
                <section class="flex-wrap col-sm-4">
                    <section *ngFor="let i of [0,0,0,0]" class="loader-wrap-2">
                    <section><span class="smart titletext"></span></section>
                    </section>
                </section>
                <section class="col-sm-4">
                    <p class="smart subcat_title"></p>
                    <div class="row">
                        <div *ngFor="let i of [0,0,0,0,0,0]" class="col-sm-4">
                            <div class="smart subcat_list"></div>
                            <p class="smart img_title"></p>
                        </div>
                    </div>
                </section>
            </ng-container>
        </div>
    </section>
</div>