<app-header></app-header>
<div class="page-content1 main-container">
    <section class="privacy-policy">
        <h1>Shipping And Exchange</h1>
        <p>
            MyVerkoper presently operates as an exclusive e-commerce marketplace that facilitates transactions between
            educational institutions and vendors meeting their specific requisites.
        </p>
        <p>
            It is important to note that, as of now, the platform does not oversee the logistical and contractual aspects
            involved in the shipping and exchange processes between buyers (educational institutions) and sellers (vendors
            serving educational institutions). These transactions currently transpire offline, with buyers and sellers
            autonomously managing the intricacies outside the purview of the MyVerkoper platform.
        </p>
        <p>
            The platform is steadfast in its commitment to refining customer engagements, optimizing sales procedures, and
            augmenting overall services tailored to the distinctive demands of educational institutions. It is pertinent to
            acknowledge that, while MyVerkoper does not presently accommodate shipping and exchange functionalities within
            its platform, any forthcoming advancements in this domain will be communicated transparently and integrated
            seamlessly as part of the platform's evolutionary trajectory.
        </p>
    </section>
      
</div>
<app-footer></app-footer>