<div class="main-container">
  <app-hometabs></app-hometabs>
  <app-content></app-content>
  <section class="flex-grid">
  <ng-container *ngFor="let card of mfgCard">
    <section class="flex-list gapflex">
      <h2>{{ card.title }}</h2>
      <section class="cardsWarp">
        <ng-container *ngFor="let item of card.types">
          <app-item-card class="itemBlocks" [linkTo]="'/topproducts'" [seller]="item"></app-item-card>
        </ng-container>
      </section>
    </section>
  </ng-container>
</section>

<mat-tab-group (selectedTabChange)="onTabClick($event)">
  <ng-container *ngFor="let cat of mainCatList">
    <mat-tab label="{{ cat.category_name }}"></mat-tab>
  </ng-container>
</mat-tab-group>

<mat-list *ngIf="mfgData && mfgData.length > 0" role="list">
  <mat-list-item *ngFor="let cat of CategoryList.slice(0, 6)" class="man-list-tab-button" role="listitem">
    <button (click)="subChange(cat.pk_id)" class="btn-manf-list" mat-raised-button color="primary">
      {{ cat.cat_name }}
    </button>
  </mat-list-item>
</mat-list>

<!-- loader start -->
<section class="loader-wrap" *ngIf="loader">
  <section class="manu-loader" *ngFor="let i of [1, 2, 3, 4]">
    <section class="loader-img">
      <section class="text-img"></section>
    </section>
    <section class="loader-desc">
      <section *ngFor="let i of [1, 2, 3, 4, 5]" [class]="'smart text-' + i"></section>
    </section>

    <section class="loader-product">
      <section *ngFor="let i of [0, 1, 2]" class="text-img-small"></section>
    </section>
  </section>
</section>
<!-- loader end -->

<ng-container *ngIf="mfgData.length > 0">
  <app-mfg-list *ngFor="let product of manufacturesToShow" [item]="product"></app-mfg-list>
  <mat-paginator (page)="onPageChange($event)" [length]="pageLength" [pageSize]="5" [pageSizeOptions]="[5, 10]">
  </mat-paginator>
</ng-container>

<ng-container *ngIf="noProdFound">
  <app-nodata></app-nodata>
</ng-container>

<router-outlet></router-outlet>
</div>